@import org.silkframework.rule.TransformSpec
@import controllers.rules.routes.Assets
@import controllers.core.routes.{Assets => CoreAssets}
@import org.silkframework.workbench.Context

@import config.WorkbenchConfig.WorkspaceReact
@(context: Context[TransformSpec], selectedRule: String, offset: Int, limit: Int)(implicit request: RequestHeader, workspaceReact: WorkspaceReact)

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/evaluateTransform/evaluateTransform.css")" rel="stylesheet" />
}

@content = {
  <div id="react-evaluateMapping" style="height: 100%" ></div>
  @coreLinks.mainJs()
  <script type="text/javascript">
      window.silkReactComponents.evaluateMapping(
        'react-evaluateMapping',
        {
          baseUrl: '@config.baseUrl',
          project: '@context.project.id',
          transformTask: '@context.task.id',
          initialRule: '@selectedRule',
          offset: @offset,
          limit: @limit
        }
    );
  </script>
}

@main(Some(context), titleLabel = context.task.label())(header)(null)(content)