@import org.silkframework.config.Prefixes
@import org.silkframework.rule.evaluation.{DetailedEntity, Value, TransformedValue, InputValue}
@import org.silkframework.entity.AutoDetectValueType
@import controllers.core.routes.{Assets => CoreAssets}
@import controllers.rules.routes.Assets
@import java.util.UUID

@(entities: Seq[org.silkframework.rule.evaluation.DetailedEntity], prefixes: Prefixes)

@frame {
  <link rel="stylesheet" href="@CoreAssets.at("libs/jquery.treeview/jquery.treeview.css")" type="text/css" />
  <link type="text/css" href="@Assets.at("stylesheets/evaluateTransform/generatedEntities.css")" rel="stylesheet" />
  <script src="@CoreAssets.at("libs/jquery.treeview/jquery.treeview.js")" type="text/javascript"></script>
  <script src="@Assets.at("js/evaluateTransform/generatedEntities.js")" type="text/javascript"></script>
} {
    <div id="tree-header">
      <div class="left">
        <div id="expand-all-btn" class="toggle-all" onclick="expand_all()">
          <div class="plus" ></div>
          Expand All
        </div>
        <div class="toggle-all" onclick="hide_all()">
          <div class="minus" ></div>
          Collapse All
        </div>
      </div>
    </div>

    <div id="entity-table">
      @renderHeader
      @for((entity, index) <- entities.zipWithIndex) {
        @renderEntity(entity, index)
      }
    </div>

}

@renderHeader = {
  <div class="entity">
    <div class="entity-table-header">
      Transformed Entities
    </div>
  </div>
}

@renderEntity(entity: DetailedEntity, counter: Int) = {
  <div class="entity">
    <div class="@if(counter % 2==0) {entity-header grey} else {entity-header white}" onclick="$(this).next().slideToggle()" >
      @renderUris(entity.uris)
    </div>
    <div class="entity-details" style="display: none">
      <ul class="entity-tree">
        @for((value, rule) <- entity.values zip entity.rules) {
          <li>
            <span class="property">
              @for(target <- rule.target) {
                @target.propertyUri.serialize(prefixes)
                @if(target.valueType != AutoDetectValueType) {
                  (@target.valueType.label)
                }
              }
            </span>
            <ul>
              @renderValue(value)
            </ul>
          </li>
        }
      </ul>
    </div>
  </div>
}

@renderUris(uris: Seq[String]) = {
  @if(uris.isEmpty) {
    @renderError("The URI pattern did not generate any URI for this entity.")
  } else {
    @uris.map(uri => prefixes.shorten(uri)).mkString(", ")
  }
}

@renderValue(value: Value) = { @value match {
  case TransformedValue(transform, values, children, error) => {
    <li>
      <span class="input">
    Transform:@transform.transformer.pluginSpec.id (@transform.id)
        @values.map(v => <span class="transformed-value">{v}</span>)
        @renderException(error)
      </span>
      @if(children.size > 0) {
        <ul>
        @children.map(v => renderValue(v))
        </ul>
      }
    </li>
  }
  case InputValue(input, values, error) => {
    <li>
      <span class="input">
    Input: @input.path.serialize()(prefixes) (@input.id)
        @values.map(v => <span class="input-value">{v}</span>)
        @renderException(error)
      </span>
    </li>
  }
}}

@renderException(error: Option[Throwable]) = {
  @for(ex <- error) {
    @renderError(ex.getMessage)
  }
}

@renderError(error: String, id: String = UUID.randomUUID.toString) = {
  <span id="error-@id">
    <img src="@Assets.at("img/exclamation.png")" style="cursor:help;" />
  </span>
  <div class="mdl-tooltip mdl-tooltip--large" for="error-@id">
    @error
  </div>
}