@(entities: Seq[de.fuberlin.wiwiss.silk.rule.evaluation.DetailedEntity])

@import de.fuberlin.wiwiss.silk.rule.evaluation.{DetailedEntity, Value, TransformedValue, InputValue}
@import controllers.rules.routes.Assets

@frame() {
  <link rel="stylesheet" href="@Assets.at("stylesheets/treeview/jquery.treeview.css")" type="text/css" />
  <link type="text/css" href="@Assets.at("stylesheets/evaluateTransform/generatedEntities.css")" rel="stylesheet" />
  <script src="@Assets.at("js/jquery.treeview.js")" type="text/javascript"></script>
  <script src="@Assets.at("js/evaluateTransform/generatedEntities.js")" type="text/javascript"></script>
} {
  <div class="wrapper">
    <div id="tree-header">
      <div class="left">
        <div class="toggle-all" onclick="expand_all()">
          <div class="plus" ></div>
          Expand All
        </div>
        <div class="toggle-all" onclick="hide_all()">
          <div class="minus" ></div>
          Collapse All
        </div>
      </div>
    </div>

    <div id="entity-table">
      @renderHeader
      @for((entity, index) <- entities.zipWithIndex) {
        @renderEntity(entity, index)
      }
    </div>

  </div>
}

@renderHeader = {
  <div class="entity">
    <div class="entity-table-header">
      Transformed Entities
    </div>
  </div>
}

@renderEntity(entity: DetailedEntity, counter: Int) = {
  <div class="entity">
    <div class="@if(counter % 2==0) {entity-header grey} else {entity-header white}" onclick="$(this).next().slideToggle()" >
      @entity.uri
    </div>
    <div class="entity-details" style="display: none">
      <ul class="entity-tree">
        @for((value, rule) <- entity.values zip entity.rules) {
          <li>
            <span class="property">@rule.target</span>
            <ul>
              @renderValue(value)
            </ul>
          </li>
        }
      </ul>
    </div>
  </div>
}

@renderValue(value: Value) = { @value match {
  case TransformedValue(transform, values, children) => {
    <li>
      <span class="input">
    Transform:@transform.transformer.plugin.id (@transform.id)
        @values.map(v => <span class="transformed-value">{v}</span>)
      </span>
      <ul>
      @children.map(v => renderValue(v))
      </ul>
    </li>
  }
  case InputValue(input, values) => {
    <li>
      <span class="input">
    Input:@input.path.serialize (@input.id)
        @values.map(v => <span class="input-value">{v}</span>)
      </span>
    </li>
  }
}}