// lib import
@import "~carbon-components/scss/components/accordion/accordion";

// changes
.ecc-accordion__item .#{$prefix}--accordion__arrow {
    margin-top: -2px; // TODO: evaluate why we need to do it and if we can use carbon var here
}

.ecc-accordion__item--fullwidth .#{$prefix}--accordion__content {
    padding-right: $carbon--spacing-05;
}

.ecc-accordion__item--elevated {
    background-color: $data-table-zebra-color; //rgba($ui-03, alpha($ui-03) * $ecc-opacity-muted);
}

.#{$prefix}--accordion__heading {
    min-height: mini-units(5);
    align-items: center;
    color: inherit;
}

.ecc-accordion__item--condensed {
    .#{$prefix}--accordion__heading {
        min-height: 0;
        line-height: 1em;
        padding: 0;
    }

    .#{$prefix}--accordion__content {
        padding-bottom: $carbon--spacing-05 / 2;
    }

    &:not(.ecc-accordion__item--elevated) {
        .ecc-accordion__container:not(.#{$prefix}--accordion--start) & {
            .#{$prefix}--accordion__title {
                margin-left: 0;
            }
            .#{$prefix}--accordion__content {
                padding-left: 0;
            }
        }
        .#{$prefix}--accordion__arrow {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.ecc-accordion__item--noborder {
    border-top: none;

    &:last-child {
        border-bottom: none;
    }
}

.bx--accordion__title {
    min-width: 0; // flex layout fix
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
