@import org.silkframework.runtime.plugin.PluginDescription
@import org.silkframework.runtime.plugin.Parameter
@import org.silkframework.runtime.plugin.ParameterType
@import org.silkframework.runtime.plugin.AnyPlugin
@import  org.silkframework.dataset.DatasetPluginAutoConfigurable
@import controllers.core.routes.Assets

@(name: String,
  plugins: Seq[PluginDescription[_]],
  currentObj: Option[AnyPlugin],
  resources: List[String])(contents: Html)

@dialog(title = "Edit Properties", width = 500) {
  <div id="plugintabs" class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-tabs__tab-bar">
          @for(plugin <- plugins) {
          <a href="#@plugin.id" class="mdl-tabs__tab">@plugin.label</a>
          }
        </div>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        @for(plugin <- plugins) {
          @createTab(plugin)
        }
      </div>
    </div>
  </div>
  <script>
    $("#plugintabs .mdl-tabs__tab").first().addClass("is-active");
    $("#plugintabs .mdl-tabs__panel").first().addClass("is-active");
  </script>
  @contents
}

@createTab(plugin: PluginDescription[_]) = {
  <div id="@plugin.id" class="mdl-tabs__panel">
    <p>
      @plugin.description
    </p>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="@(plugin.id)_name" name="@(plugin.id)_name" value="@name"/>
      <label class="mdl-textfield__label" for="@(plugin.id)_name">Name</label>
    </div>

    @for(param <- plugin.parameters) {
      @createField(plugin.id, param)
    }
    <button onclick='@(plugin.id)_submit(false)'>Ok</button>
    @if(classOf[DatasetPluginAutoConfigurable[_]].isAssignableFrom(plugin.pluginClass)) {
      <button onclick='@(plugin.id)_submit(true)'>AutoConfigure</button>
    }
  </div>

  <script type="text/javascript">
    function @(plugin.id)_submit(onlyAutoConfigure) {
      // Retrieve the name of the plugin
      var name = $('[name=\'@(plugin.id)_name\']').val();
      if(name.length === 0) {
        alert("Name is empty.");
        return;
      }

      // Retrieve all plugin parameters
      var parameters = [
        @for(param <- plugin.parameters) {
          { name: '@param.name',
            value: $('[name=\'@(plugin.id)_@(param.name)\']').val() },
        }
      ];

      // Submit dialog
      if(!onlyAutoConfigure) {
        submit('@plugin.id', name, parameters);
      } else {
        autoConfigure('@plugin.id', name, parameters);
      }
    }
  </script>
}

@**
 * Creates a new field for a plugin paramter
 *@
@createField(pluginId: String, param: Parameter) = @{
  param.dataType match {
    case ParameterType.ResourceType | ParameterType.WritableResourceType => createResourceField(pluginId, param)
    case _ => createTextField(pluginId, param)
  }
}

@createTextField(pluginId: String, param: Parameter) = {
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="@(pluginId)_@(param.name)" name="@(pluginId)_@(param.name)" value="@value(pluginId, param)"/>
    <label class="mdl-textfield__label" for="@(pluginId)_@(param.name)">@param.name</label>
    <div class="mdl-tooltip mdl-tooltip--right" for="@(pluginId)_@(param.name)">
      @param.description
    </div>
 </div>
}

@createResourceField(pluginId: String, param: Parameter) = {
  <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <select class="mdl-selectfield__select" id="@(pluginId)_@(param.name)" name="@(pluginId)_@(param.name)" @if(resources.isEmpty) { disabled }>
      <option value=""></option>
      @for(resource <- resources) {
        <option @if(resource == value(pluginId, param)) { selected="selected" }>@resource</option>
      }
    </select>
    <label class="mdl-selectfield__label" for="@(pluginId)_@(param.name)">@param.name</label>
    <div class="mdl-tooltip mdl-tooltip--right" for="@(pluginId)_@(param.name)">
      @param.description
    </div>
    @if(resources.isEmpty) {
      <span class="no-data-avaliable">No resources found!</span>
    }
  </div>
}

@**
 * Retrieves the value of a specific parameter
 *@
@value(pluginId: String, param: Parameter) = @{
  // Retrieve parameter value as Object
  val paramObj =
    currentObj match {
      case Some(obj) if obj.plugin.id.toString == pluginId =>
        Option(param(obj))
      case _ =>
        param.defaultValue.flatMap(Option(_))
    }
  // Convert parameter value to string
  val paramType = param.dataType.asInstanceOf[ParameterType[AnyRef]]
  val paramStr = paramObj.map(paramType.toString(_)).getOrElse("")
  paramStr
}