@import plugins.Context
@import de.fuberlin.wiwiss.silk.workspace.modules.workflow.WorkflowTask
@import controllers.workflow.routes.Assets

@(context: Context[WorkflowTask])

@header = {
  <link type="text/css" href="@Assets.at("editor/editor.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("libs/jquery.jsPlumb-1.6.2-min.js")"></script>
  <script type="text/javascript" src="@Assets.at("editor/editor.js")"></script>

  <script type="text/javascript">
  </script>
}

@toolbar = {
}

@content = {
  @toolbox(context.project)

  <div id="editorContent">
  </div>
}

@main(Some(context))(header)(toolbar)(content)