$diapp-propertybox-border-color: lightgray !default;

.diapp-linking-learningdata__container {

}

.diapp-linking-learningdata__row {

}

.diapp-linking-learningdata__header {
    max-width: 40%;
    // text-align: center;
    background-color: rgba(17, 20, 24, 0.0915);
    border: solid 1px $diapp-propertybox-border-color;
    border-style: solid;
    border-radius: 2px 2px 0 0;
    padding: 0.75rem 7px;
    font-weight: 500;
    color: #222;
    background: white;
    vertical-align: middle;
    font-size: 0.875rem;
}

.diapp-linking-learningdata__cell {
    max-width: 40%;
    border-left: solid 1px $diapp-propertybox-border-color;
    border-right: solid 1px $diapp-propertybox-border-color;
    border-bottom: dotted 1px lightgray;

    .diapp-linking-learningdata__row-body:first-of-type & {
        border-top: solid 1px $diapp-propertybox-border-color;
        border-radius: 2px 2px 0 0;
    }
    .diapp-linking-learningdata__row-body:last-of-type & {
        border-bottom: solid 1px $diapp-propertybox-border-color;
        border-radius: 0 0 2px 2px;
    }
}

.diapp-linking-learningdata__connection {
    max-width: 20%;
}

.diapp-linking-learningdata__propertybox {
    .eccgui-overviewitem__line {
        max-width: 100%;
    }
}

.diapp-linking-learningdata__source {
    text-align: right;

    .eccgui-overviewitem__line {
        align-self: end;
        text-align: right;
    }

    * {
        text-align: right;
    }
}

.diapp-linking-learningdata__target {
}

.diapp-linking-learningdata__pathselection {
    border: none;
    padding: 0;
}

div.diapp-linking-connectionenabled__arrow-right {
    width: 100%;
    height: 16px;
    display: flex;

    &:before {
        content: "";
        background: currentColor;
        width: 100%;
        clip-path: polygon(
            0 7px,
            calc(100% - 7px) 7px,
            calc(100% - 7px) 0,
            100% 50%,
            calc(100% - 7px) 100%,
            calc(100% - 7px) calc(100% - 7px),
            0 9px
        );
    }
}
div.diapp-linking-connectionenabled__arrow-left {
    width: 100%;
    height: 16px;
    display: flex;
    &:before {
        content: "";
        background: currentColor;
        width: 100%;
        clip-path: polygon(0 50%, 7px 100%, 7px calc(100% - 7px), 100% calc(100% - 7px), 100% 7px, 7px 7px, 7px 0%);
    }
}

div.diapp-linking-connectionavailable__dashedline {
    height: 0px;
    width: auto;
    border-top: 1px dashed lightgray;
}
