@use "sass:color";

$diapp-entitybox-header-background: $eccgui-color-tableheader-background !default;
$diapp-entitybox-cell-background: $eccgui-color-tablerow-background-odd !default;
$diapp-entitybox-cell-background-even: $eccgui-color-tablerow-background-even !default;
$diapp-entitybox-cell-background-hovered: $eccgui-color-tablerow-hover !default;
$diapp-entitybox-cell-border: $eccgui-color-tablerow-hover !default;

.diapp-linking-learningdata__header.fullwidth,
.diapp-linking-learningdata__cell.fullwidth {
    max-width: 100%;
}

.diapp-linking-learningdata__header {
    max-width: 40%;
    background-color: $diapp-entitybox-header-background;
    border-color: $diapp-entitybox-cell-border;
    border-width: 2px;
    border-style: solid solid none solid;
    padding: $eccgui-size-block-whitespace * 0.75 $eccgui-size-block-whitespace * 0.5;
    font-weight: 500;
    color: #000;
    vertical-align: middle;
    font-size: $eccgui-size-typo-caption;
}

.diapp-linking-learningdata__cell.shrink {
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.diapp-linking-learningdata__cell {
    max-width: 40%;
    border-color: $diapp-entitybox-cell-border;
    background-color: $diapp-entitybox-cell-background-even;
    border-width: 2px;
    border-style: none solid;
    padding: $eccgui-size-block-whitespace * 0.5;
    padding-bottom: $eccgui-size-block-whitespace * 0.25;
    transition: 300ms;
    visibility: visible;
    opacity: 1;
    height: auto;

    .diapp-linking-learningdata__row-body:nth-child(odd) & {
        background-color: $diapp-entitybox-cell-background;
    }

    .diapp-linking-learningdata__row-body:hover & {
        background-color: $diapp-entitybox-cell-background-hovered;
    }

    .diapp-linking-learningdata__row-body:first-of-type & {
        border-top-style: solid;
    }
    .diapp-linking-learningdata__row-body:last-of-type & {
        border-bottom-style: solid;
    }
}

.diapp-linking-learningdata__connection {
    max-width: 20%;
}

.diapp-linking-learningdata__propertybox {
    .eccgui-overviewitem__line {
        max-width: 100%;
    }

    .diapp-linking-learningdata__examples {
        display: inline-flex;
        max-width: 100%;

        .#{$eccgui}-tag__list-item {
            flex-shrink: 1.6;
            min-width: 2rem;

            &:nth-child(n + 1) {
                flex-shrink: 1;
            }
            &:nth-child(n + 2) {
                flex-shrink: 1.2;
            }
            &:nth-child(n + 3) {
                flex-shrink: 1.4;
            }

            &:has(.diapp-linking-learningdata__examples__cutinfo) {
                flex-shrink: 0;
                min-width: 0;
            }
        }
    }
}

.diapp-linking-learningdata__source {
    .eccgui-overviewitem__item {
        flex-direction: row-reverse;
    }

    .eccgui-overviewitem__line {
        flex-direction: row-reverse;
        text-align: right;
    }
}

.diapp-linking-learningdata__pathselection {
    background-color: transparent;
    border: none;
}

div.diapp-linking-connectionenabled__arrow-right {
    width: 100%;
    height: 16px;
    display: flex;

    &:before {
        content: "";
        background: currentColor;
        width: 100%;
        clip-path: polygon(
            0 #{$eccgui-size-block-whitespace * 0.5},
            calc(100% - #{$eccgui-size-block-whitespace * 0.5}) #{$eccgui-size-block-whitespace * 0.5},
            calc(100% - #{$eccgui-size-block-whitespace * 0.5}) 0,
            100% 50%,
            calc(100% - #{$eccgui-size-block-whitespace * 0.5}) 100%,
            calc(100% - #{$eccgui-size-block-whitespace * 0.5}) calc(100% - #{$eccgui-size-block-whitespace * 0.5}),
            0 #{$eccgui-size-block-whitespace * 0.61}
        );
    }
}
div.diapp-linking-connectionenabled__arrow-left {
    width: 100%;
    height: 16px;
    display: flex;
    &:before {
        content: "";
        background: currentColor;
        width: 100%;
        clip-path: polygon(
            0 50%,
            #{$eccgui-size-block-whitespace * 0.5} 100%,
            #{$eccgui-size-block-whitespace * 0.5} calc(100% - #{$eccgui-size-block-whitespace * 0.5}),
            100% calc(100% - #{$eccgui-size-block-whitespace * 0.5}),
            100% #{$eccgui-size-block-whitespace * 0.5},
            #{$eccgui-size-block-whitespace * 0.5} #{$eccgui-size-block-whitespace * 0.5},
            #{$eccgui-size-block-whitespace * 0.5} 0%
        );
    }
}

div.diapp-linking-connectionavailable__dashedline {
    height: 0px;
    width: auto;
    border-top: 1px dashed lightgray;
}
