#ruleContainer {
  width: 490px;
  background: url("../../img/editor/grid.png") repeat scroll 0 0;
  border:1px dashed #d9d9d9;
}

.transformRule {
  width: 470px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.transformRule:hover {
  background-color: #d6eeff;
  box-shadow: 1px 1px 6px #1484d4;
}

.ruleTitle {
  font-style: italic;
  padding: 4px;
  height: 15px;
  cursor: move;
  border-radius: 5px 5px 0 0;
  background-color: #1484d4;
}

.ruleContents {
  padding: 5px;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}

.transformProperty {
  display: inline-block;
  width: 240px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

th,td
{
  padding: 5px;
}