$button-border-width: 1px; // !default;
$button-padding: ($pt-grid-size / 2) $pt-grid-size; // !default;
// $button-padding-small: 0 ($pt-grid-size * 0.7) !default;
// $button-padding-large: ($pt-grid-size / 2) ($pt-grid-size * 1.5) !default;
// $button-icon-spacing: ($pt-button-height - $pt-icon-size-standard) / 2 !default;
// $button-icon-spacing-large: ($pt-button-height-large - $pt-icon-size-large) / 2 !default;
// $button-box-shadow: inset 0 0 0 $button-border-width rgba($black, 0.2), inset 0 (-$button-border-width) 0 rgba($black, 0.1) !default;
// $button-box-shadow-active: inset 0 0 0 $button-border-width rgba($black, 0.2), inset 0 1px 2px rgba($black, 0.2) !default;
// $button-intent-box-shadow: inset 0 0 0 $button-border-width rgba($black, 0.4), inset 0 (-$button-border-width) 0 rgba($black, 0.2) !default;
// $button-intent-box-shadow-active: inset 0 0 0 $button-border-width rgba($black, 0.4), inset 0 1px 2px rgba($black, 0.2) !default;
// $button-box-shadow-overlay: 0 0 0 $button-border-width rgba($black, 0.2), 0 1px 1px rgba($black, 0.2) !default;
// $button-box-shadow-overlay-active: 0 0 0 $button-border-width rgba($black, 0.2), inset 0 1px 1px rgba($black, 0.1) !default;
// $dark-button-box-shadow: 0 0 0 $button-border-width rgba($black, 0.4) !default;
// $dark-button-box-shadow-active: 0 0 0 $button-border-width rgba($black, 0.6), inset 0 1px 2px rgba($black, 0.2) !default;
// $dark-button-intent-box-shadow: 0 0 0 $button-border-width rgba($black, 0.4) !default;
// $dark-button-intent-box-shadow-active: 0 0 0 $button-border-width rgba($black, 0.4), inset 0 1px 2px rgba($black, 0.2) !default;
$button-gradient: none !default; // linear-gradient(to bottom, rgba($white, 0.8), rgba($white, 0)) !default;
$button-intent-gradient: $button-gradient !default; // linear-gradient(to bottom, rgba($white, 0.1), rgba($white, 0)) !default;
$dark-button-gradient: $button-gradient !default; // linear-gradient(to bottom, rgba($white, 0.05), rgba($white, 0)) !default;
// $button-color-disabled: $pt-text-color-disabled !default;
// $button-background-color: $light-gray5 !default;
// $button-background-color-hover: $light-gray4 !default;
// $button-background-color-active: $light-gray2 !default;
// $button-background-color-disabled: rgba($light-gray1, 0.5) !default;
// $button-background-color-active-disabled: rgba($light-gray1, 0.7) !default;
// $button-intent-color-disabled: rgba($white, 0.6);
// $dark-button-color-disabled: $pt-dark-text-color-disabled !default;
// $dark-button-background-color: $dark-gray5 !default;
// $dark-button-background-color-hover: $dark-gray4 !default;
// $dark-button-background-color-active: $dark-gray2 !default;
// $dark-button-background-color-disabled: rgba($dark-gray5, 0.5) !default;
// $dark-button-background-color-active-disabled: rgba($dark-gray5, 0.7) !default;
// $dark-button-intent-color-disabled: rgba($white, 0.3);
// $minimal-button-divider-width: 1px !default;
// $minimal-button-background-color: none !default;
// $minimal-button-background-color-hover: rgba($gray4, 0.3) !default;
// $minimal-button-background-color-active: rgba($gray2, 0.3) !default;
// $dark-minimal-button-background-color: none !default;
// $dark-minimal-button-background-color-hover: rgba($gray3, 0.15) !default;
// $dark-minimal-button-background-color-active: rgba($gray3, 0.3) !default;
// $button-outlined-width: 1px !default;
// $button-outlined-border-intent-opacity: 0.6 !default;
// $button-outlined-border-disabled-intent-opacity: 0.2 !default;

@import "~@blueprintjs/core/src/components/button/button";
