$ecc-color-workspace-background: #f5f5f5 !default;

.ecc-workspace__header {
    flex-grow: 1;
    padding: mini-units(1);
    height: mini-units(8);
    background-color: $ecc-color-workspace-background;
}
