*.class
.idea/*
.idea_modules/*
**/target/*
**/logs/*
*.iml
*.ipr
*.iws
#eclipse
bin/
target/
*/.gitignore
.classpath
.project
.settings
.cache*
**/.idea
myScripts
scripts
# Ignore generated JavaScript from React components
silk-workbench/silk-workbench-core/public/libs/silk-react-components/
silk-workbench/silk-workbench-core/public/libs/dynep/
silk-workbench/silk-workbench-core/public/main.js
silk-workbench/silk-workbench-rules/public/js/
silk-workbench/silk-workbench-workflow/public/editor/editor.js
silk-workbench/silk-workbench-workflow/public/editor/serializeWorkflow.js
silk-workbench/silk-workbench-workspace/public/workspace.js
silk-react-components/mocha.json
silk-workbench/silk-workbench-core/public/new-workspace/
silk-workbench/silk-workbench-core/conf/reference.conf
