// Add stuff to test fast and dirty.
// This file should not contain any styles because we do not work dirty!

/*
.searchField {
    // FIXME: respect guidelines regarding class naming
  width: 80%;
  float: left
}
.sortButton {
    // FIXME: respect guidelines regarding class naming
  float: left;
  margin: 0 15px;
}
*/

html {
    background-color: $ecc-color-workspace-background;
    color: $ecc-color-workspace-text;
}

.bx--grid {
    padding-left: 0;
    padding-right: 0;
}

.bx--structured-list-tbody {
    display: inherit;
}
