// Add stuff to test fast and dirty.
// This file should not contain any styles because we do not work dirty!

.bp3-portal {
    z-index: 6001; // higher than carbon ui shell header
}

html {
    // TODO: move to application or workspace element
    background-color: $ecc-color-workspace-background;
    color: $ecc-color-workspace-text;
}

.#{$prefix}--assistive-text,
.#{$prefix}--visually-hidden {
    /*
        TODO: move to better place, originally from ~carbon-components/scss/globals/scss/css--helpers
        but we cannot use it directly because of other included rules there.
    */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    visibility: inherit;
    white-space: nowrap;
}
