// Add stuff to test fast and dirty.
// This file should not contain any styles because we do not work dirty!

.bp3-portal {
    z-index: 6001; // higher than carbon ui shell header
}

html {
    // TODO: move to application or workspace element
    background-color: $ecc-color-workspace-background;
    color: $ecc-color-workspace-text;
}

.#{$prefix}--assistive-text,
.#{$prefix}--visually-hidden {
    /*
        TODO: move to better place, originally from ~carbon-components/scss/globals/scss/css--helpers
        but we cannot use it directly because of other included rules there.
    */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    visibility: inherit;
    white-space: nowrap;
}

.uppy-DragDrop-container {
    // TODO: create own file upload elements

    border-width: 1px;
    //border-style: dotted;
    border-radius: 3px;

    color: inherit;
    background-color: $data-table-zebra-color;

    .uppy-DragDrop-inner {
        line-height: inherit;
        padding: 1rem;
    }

    .uppy-DragDrop-arrow {
        height: 2rem;
        width: 2rem;
        margin-bottom: 0.5rem;
    }

    .uppy-DragDrop-label {
        font-size: inherit;
        margin-bottom: 0.5rem;
    }
}

/*
    TODO: create own auto complete input in new hui elements
*/
.app_di-autocomplete__options {
    max-width: 90vw;
    min-width: 40rem;
    max-height: 60vh;
    overflow: auto;
}
