@import org.silkframework.config.LinkSpecification
@import controllers.rules.routes.Assets
@import controllers.linking.routes
@import org.silkframework.learning.active.ActiveLearning
@import views.html.workspace.activity.taskActivityControl

@import models.linking.LinkCandidateDecision
@(context: plugins.Context[LinkSpecification])

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/table.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/pagination.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/links.css")" rel="stylesheet" />
  <link rel="stylesheet" href="@Assets.at("stylesheets/treeview/jquery.treeview.css")" type="text/css" />
  <link type="text/css" href="@Assets.at("stylesheets/linkageRuleTree.css")" rel="stylesheet" />

  <script src="@Assets.at("js/jquery.pagination.js")" type="text/javascript"></script>
  <script src="@Assets.at("js/jquery.treeview.js")" type="text/javascript"></script>
  <script src="@Assets.at("js/links.js")" type="text/javascript"></script> @** Currently needed for initTrees for showing linkage rule tree *@

  <script type="text/javascript">
    var apiUrl = '@config.baseUrl/linking/tasks/@context.project.name/@context.task.name/referenceLink';
    var taskUrl = '@config.baseUrl/linking/tasks/@context.project.name/@context.task.name';

    function back() {
      window.location = "@config.baseUrl/linking/@context.project.name/@context.task.name/learnStart"
    }

    function showLinkCandidate() {
      // Show pending icon
      $('#link-candidate-wrapper').html('<img src="@Assets.at("img/pending.gif")" ></img>');
      // Request next link candidate
      var url = '@routes.Learning.activeLearnCandidate(context.project.name, context.task.name).url';
      $.post(
        url,
        {
          source: "_",
          target: "_",
          decision: "@LinkCandidateDecision.pass"
        },
        function(data) {
          $('#link-candidate-wrapper').html(data);
        })
        .fail(errorHandler)
    }

    $(function() {
      showLinkCandidate();
    });


  </script>
}

@toolbar = {
  <ul>
    <li>
      @taskActivityControl(context.task.activity[ActiveLearning])
    </li>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="back()">Back</button>
    </li>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="showDialog('@routes.Learning.resetActiveLearningDialog(context.project.name, context.task.name)')">Reset</button>
    </li>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="showDialog('@routes.Learning.activeLearnDetails(context.project.name, context.task.name)')">Details</button>
    </li>
  </ul>
}

@content = {
  <div class="wrapper-header">
    Learned Linkage Rule
  </div>

  <div class="wrapper">
    @widgets.autoReload("learn/rule", "learn/ruleStream")
  </div>

  <div class="wrapper-header">
    Uncertain links
  </div>

  <div class="wrapper" style="overflow: auto;">
    <div id="tree-header">
      <div class="middle">
        <div class="navigation"></div>
      </div>
    </div>

    <div id="link-candidate-wrapper">
    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)