@import org.silkframework.util.DPair
@import org.silkframework.entity.Link
@import plugins.Context
@import org.silkframework.config.LinkSpecification
@import models.linking.LinkCandidateDecision
@import controllers.linking.routes

@(link: Link, values: DPair[Seq[(String, Seq[String])]], context: Context[LinkSpecification])

<div id="link-candidate-buttons" style="text-align: center; margin-bottom: 20px;">
  <button onclick="confirm()" title="Confirm this link candidate as correct." >Confirm</button>
  <button onclick="decline()" title="Confirm this link candidate as incorrect." >Decline</button>
  <button onclick="pass()" title="Show the next link." >Pass</button>
  <button onclick="done()" title="Show generated linkage rules." >Done</button>
</div>

<div style="clear: left">
  @table("source", values.select(true))
  @table("target", values.select(false))
</div>

@table(sourceOrTarget: String, selectedValues: Seq[(String, Seq[String])]) = {
  <div style="float: left; width: 50%">
    <table>
      <thead>
        <tr>
          <th>Path</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @for((path, pathValues) <- selectedValues) {
          <tr>
            <td><span class="@sourceOrTarget-path">@path</span></td>
            <td>
              @for(value <- pathValues) {
                <span class="@sourceOrTarget-value" >@value</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

<script type="text/javascript">

  function confirm() {
    nextLinkCandidate('@routes.Learning.activeLearnCandidate(context.project.name, context.task.name, LinkCandidateDecision.positive, link.source, link.target).url');
  }

  function decline() {
    nextLinkCandidate('@routes.Learning.activeLearnCandidate(context.project.name, context.task.name, LinkCandidateDecision.negative, link.source, link.target).url');
  }

  function pass() {
    nextLinkCandidate('@routes.Learning.activeLearnCandidate(context.project.name, context.task.name, LinkCandidateDecision.pass, link.source, link.target).url');
  }

  function done() {
    window.location = "@routes.Learning.population(context.project.name, context.task.name).url"
  }

  function nextLinkCandidate(url) {
    var buttons = $("#link-candidate-buttons").find("button");
    buttons.prop("disabled", true);

    $.get(
      url,
      function(data) {
        $('#link-candidate-wrapper').html(data);
        buttons.prop("disabled", false);
      })
      .fail(function(request) { alert(request.responseText); })
  }

</script>
