@import controllers.linking.routes

@(project: String, task: String)

@widgets.dialog(title = "Reset active learning", submitLabel = "Reset") {
<div>
  This will remove all reference links from this task and restart active learning!
</div>

  <script type="text/javascript">
  function submit() {
    $.ajax({
      type: 'POST',
      url: '@routes.Learning.resetActiveLearning(project, task)',
      success: function(data) {
        closeDialog();
        showLinkCandidate();
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }
  </script>
}