@**
* Renders a linkage rule as a graph (like in the editor).
*@

@import plugins.Context
@import org.silkframework.config.LinkSpecification
@import views.html.editor.renderRule
@import play.api.Logger


@(rule: org.silkframework.rule.LinkageRule,
  context: Context[LinkSpecification])


<div class="droppable_outer">

  <div id="droppable">
    @Logger.info("rule Graph")
    @Logger.info(rule.operator.toString)
    @for(op <- rule.operator) {
      @renderRule(
      rule = op,
      prefixes = context.project.config.prefixes
      )
    }
  </div>

</div>
