!dist

*/.jscsrc
*/.jshintrc
*/.bowerrc
*/.npmignore
*/*.json*
!*/package.json
*/gruntfile.js
*/gulpfile*
*/README.md
*/**/*.min.*

dialog-polyfill/tests
dialog-polyfill/suite.js
dialog-polyfill/test.html

jquery/dist/
!jquery/dist/jquery.js
jquery/libs/
jquery/src/
jquery/AUTHORS.txt
jquery/CONTRIBUTING.md

jsplumb/dist/css/

jstree/demo
jstree/test
jstree/src
jstree/dist/themes/default-dark

mark.js/*
!mark.js/dist
mark.js/dist/*
!mark.js/dist/jquery.mark.js

material-design-lite/*/

mdl-selectfield/src

twbs-pagination/tests/
twbs-pagination/examples/