!dist

*/.jscsrc
*/.jshintrc
*/.bowerrc
*/.npmignore
*/*.json*
!*/package.json
*/gruntfile.js
*/gulpfile*
*/*.md
*/**/*.min.*
*/AUTHORS.txt

dialog-polyfill/tests
dialog-polyfill/suite.js
dialog-polyfill/test.html

jquery/*/
!jquery/dist/jquery.js

jquery-migrate/*/
!jquery-migrate/dist/jquery-migrate.js

jsplumb/dist/css/

jstree/demo
jstree/test
jstree/src
jstree/dist/themes/default-dark

lodash/fp/
lodash/*.js
!lodash/lodash.js

mark.js/*
!mark.js/dist
mark.js/dist/*
!mark.js/dist/jquery.mark.js

material-design-lite/*/

mdl-selectfield/src

twbs-pagination/tests/
twbs-pagination/examples/