@import controllers.core.routes.Assets
@import controllers.workspace.routes.WorkspaceApi
@import controllers.workspace.routes.Workspace

@(project: String, task: Option[String], activity: String, showProgressBar: Boolean, showStartButton: Boolean, showRestartButton: Boolean, showConfigButton: Boolean)

<div id="@id(project, task.getOrElse(""), activity)" class="activity-control">

  @if(showProgressBar) {
    <div class="activity-progress">
      <div class="activity-progress-text"></div>
      <img class="activity-progress-help" src="@Assets.at("img/help.png")"/>
    </div>
  }

  @if(showStartButton) {
    <button name="start" class="activity-button" onclick="startActivity()" title="Start @activity" >Start</button>
    <button name="stop" class="activity-button" onclick="stopActivity()" title="Stop @activity">Stop</button>
  }

  @if(showRestartButton) {
    <button name="reset" class="activity-button" onclick="restartActivity()" title="Reset @activity to its initial value and restart." >Reset</button>
  }

  @if(showConfigButton && task.isDefined) {
    <button name="config" class="activity-button" onclick="showDialog('@Workspace.taskActivityConfigDialog(project, task.get, activity)')" >Config</button>
  }

  @if(showConfigButton && task.isEmpty) {
    <button name="config" class="activity-button" onclick="showDialog('@Workspace.projectActivityConfigDialog(project, activity)')" >Config</button>
  }

</div>

<script type="text/javascript">
  function updateStatus(status) {
    // Get control node
    var control = $(document.getElementById("progress_" + status.project + "_" + status.task + "_" + encodeURIComponent(status.activity).replace(/%20/g,'+')));
    var progressbar = control.children(".activity-progress");

    // Initialize progress bar
    if(progressbar.find(".ui-progressbar-value").length == 0) {
      progressbar.progressbar();
    }

    // Get progress bar child nodes
    var progressbarValue = progressbar.find(".ui-progressbar-value");
    var progressbarText = progressbar.find(".activity-progress-text");
    var progressbarHelp = progressbar.find(".activity-progress-help");

    // Update values
    progressbar.attr('title', status.message);
    if(status.failed) {
      progressbar.progressbar("option", {value: 100});
      progressbarValue.css({
        "background": '#FF5050'
      });
      progressbarText.text("Failed ");
      progressbarHelp.show();
    } else {
      progressbar.progressbar("option", {value: parseFloat(status.progress)});
      progressbarValue.css({
        "background": 'rgb(100, ' + Math.round(100 + status.progress * 1.55) + ', 100)'
      });
      progressbarText.text(status.message);
      progressbarHelp.hide();
    }

    // Enable/Disable start/stop buttons
    var startButton = control.children("button[name='start']");
    var resetButton = control.children("button[name='reset']");
    var stopButton = control.children("button[name='stop']");
    startButton.button("option", "disabled", status.isRunning);
    resetButton.button("option", "disabled", status.isRunning);
    stopButton.button("option", "disabled", !status.isRunning);
  }

  function startActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(WorkspaceApi.startActivity(project, task.getOrElse(""), activity, blocking = false).url)',
      success: function(response) {
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }

  function stopActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(WorkspaceApi.cancelActivity(project, task.getOrElse(""), activity).url)',
      success: function(response) {
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }

  function restartActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(WorkspaceApi.restartActivity(project, task.getOrElse(""), activity).url)',
      success: function(response) {
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }
</script>

<iframe src="@WorkspaceApi.activityUpdates(project, task.getOrElse(""), activity)" style="display:none" frameborder="0" height="0" width="0"></iframe>

@id(project: String, task: String, activity: String) = @{
  "progress_" + project + "_" + task + "_" + helper.urlEncode(activity)
}
