@import controllers.core.routes.Assets
@import controllers.workspace.routes.ActivityApi
@import controllers.workspace.routes.WorkspaceController
@import org.silkframework.workspace.activity.WorkspaceActivity

@(project: String,
  task: Option[String],
  activity: WorkspaceActivity[_],
  showProgressBar: Boolean,
  showStartButton: Boolean,
  showRestartButton: Boolean,
  showConfigButton: Boolean)(implicit request: RequestHeader)

<div id="@id("progress_")" class="activity-control">

  @if(showProgressBar) {
    <div id="@id("progressbar_")" class="activity-progress">
      <div class="activity-progress-text"></div>
      <img class="activity-progress-help" src="@Assets.at("img/help.png")"/>
    </div>
    <div class="mdl-tooltip" for="@id("progressbar_")">
    </div>
  }

  @if(showStartButton) {
    <button id="@id("startButton")"
            name="start" class="activity-button mdl-button mdl-js-button mdl-button--icon"
            onclick="startActivity()" >
      <i class="material-icons">play_arrow</i>
    </button>
    <div class="mdl-tooltip" for="@id("startButton")">
      Start @activity.label
    </div>
    <button id="@id("stopButton")"
            name="stop"
            class="activity-button mdl-button mdl-js-button mdl-button--icon"
            onclick="stopActivity()" >
      <i class="material-icons">stop</i>
    </button>
    <div class="mdl-tooltip" for="@id("stopButton")">
      Stop @activity.label
    </div>
  }

  @if(showRestartButton) {
    <button id="@id("restartButton")"
            name="reset"
            class="activity-button mdl-button mdl-js-button mdl-button--icon"
            onclick="restartActivity()" >
      <i class="material-icons">replay</i>
    </button>
    <div class="mdl-tooltip" for="@id("restartButton")">
      Reset @activity.label to its initial value and restart.
    </div>
  }

  @if(showConfigButton && task.isDefined) {
    <button id="@id("configButton")"
            name="config"
            class="activity-button mdl-button mdl-js-button mdl-button--icon"
            onclick="showDialog('@WorkspaceController.taskActivityConfigDialog(project, task.get, activity.name)')" >
      <i class="material-icons">settings</i>
    </button>
    <div class="mdl-tooltip" for="@id("configButton")">
      Start @activity.label after configuring parameters.
    </div>
  }

  @if(showConfigButton && task.isEmpty) {
    <button id="@id("configButton")"
            name="config" class="activity-button mdl-button mdl-js-button mdl-button--icon"
            onclick="showDialog('@WorkspaceController.projectActivityConfigDialog(project, activity.name)')" >
      <i class="material-icons">settings</i>
    </button>
    <div class="mdl-tooltip" for="@id("configButton")">
      Start @activity.label after configuring parameters.
    </div>
  }

</div>

<script type="text/javascript">
  function updateStatus(status) {
    // Get control node
    let control = $(document.getElementById("progress_" + status.project + "_" + status.task + "_" + encodeURIComponent(status.activity).replace(/%20/g,'+')));
    let progressbar = control.children(".activity-progress");
    let tooltip = control.children(".mdl-tooltip").first();

    // Initialize progress bar
    if(progressbar.find(".ui-progressbar-value").length == 0) {
      progressbar.progressbar();
    }

    // Get progress bar child nodes
    let progressbarValue = progressbar.find(".ui-progressbar-value");
    let progressbarText = progressbar.find(".activity-progress-text");
    let progressbarHelp = progressbar.find(".activity-progress-help");

    // Update values
    tooltip.text(status.message);
    if(status.failed) {
      progressbar.progressbar("option", {value: 100});
      progressbarValue.addClass('status_red');
      progressbarValue.css({
        "background": '#FF5050'
      });
      progressbarText.text("Failed ");
      progressbarHelp.show();
    } else if(status.statusName === "Waiting") {
      progressbar.progressbar("option", {value: 100});
      progressbarValue.addClass('status_waiting');
      progressbarValue.css({
        "background": '#fffb00'
      });
      progressbarText.text(status.message);
      progressbarHelp.show();
    } else {
      progressbar.progressbar("option", {value: parseFloat(status.progress)});
      progressbarValue.css({
        "background": 'rgb(100, ' + Math.round(100 + status.progress * 1.55) + ', 100)'
      });
      progressbarValue.addClass('status_green');
      progressbarText.text(status.message);
      progressbarHelp.hide();
    }

    // Enable/Disable start/stop buttons
    let startButton = control.children("button[name='start']");
    let resetButton = control.children("button[name='reset']");
    let stopButton = control.children("button[name='stop']");
    startButton.attr("disabled", status.isRunning);
    resetButton.attr("disabled", status.isRunning);
    stopButton.attr("disabled", !status.isRunning);
  }

  function startActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(ActivityApi.startActivity(project, task.getOrElse(""), activity.name, blocking = false).url)',
      success: function(response) {
      },
      error: function(request) {
        alert("Could not start activity: Error (" + request.status + ") " + request.responseText);
      }
    });
  }

  function stopActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(ActivityApi.cancelActivity(project, task.getOrElse(""), activity.name).url)',
      success: function(response) {
      },
      error: function(request) {
        alert("Could not stop activity: Error (" + request.status + ") " + request.responseText);
      }
    });
  }

  function restartActivity() {
    $.ajax({
      type: 'POST',
      url: '@Html(ActivityApi.restartActivity(project, task.getOrElse(""), activity.name).url)',
      success: function(response) {
      },
      error: function(request) {
        alert("Could not restart activity: Error (" + request.status + ") " + request.responseText);
      }
    });
  }

  /**
   * Connects to a WebSocket on window load and calls a provided function on every update.
   *
   * param websocketUrl Address of the WebSocket endpoint
   * param pollingUrl Address of a polling endpoint for fallback
   * param updateFunc Function to be called on every update. Receives a single argument, which is the received JSON object.
   */
  function connectWebSocket(websocketUrl, pollingUrl, updateFunc) {
    var websocket = new WebSocket(websocketUrl);
    websocket.onmessage = function(evt) { updateFunc(JSON.parse(evt.data)) };
    websocket.onerror = function(evt) {
      console.log("Connecting to WebSocket at '" + websocketUrl + "' failed. Falling back to polling...")
      setInterval(function() {
        $.getJSON(pollingUrl, function(data) {
          updateFunc(data);
        });
      }, 500);
    };
  }

  $( window ).on("load", function() {
    connectWebSocket(
      '@Html(ActivityApi.activityUpdates(project, task.getOrElse(""), activity.name).webSocketURL())',
      '@Html(ActivityApi.getActivityStatus(project, task.getOrElse(""), activity.name).url)',
      updateStatus
    )
  });
</script>

@id(prefix: String) = @{
  prefix + project + "_" + task.getOrElse("") + "_" + helper.urlEncode(activity.name)
}
