@import org.silkframework.workspace.activity.ProjectActivity
@import org.silkframework.workspace.activity.CachedActivity
@import org.silkframework.runtime.activity.HasValue
@import scala.language.existentials

@(activity: ProjectActivity[_ <: HasValue], showButtons: Boolean = false)(implicit request: RequestHeader)

@activityControl(
  project = activity.project.name,
  task = None,
  activity = activity,
  showProgressBar = true,
  showStartButton = showButtons,
  showRestartButton = showButtons && classOf[CachedActivity[_]].isAssignableFrom(activity.control.underlying.getClass),
  showConfigButton = showButtons && activity.defaultConfig.nonEmpty
)
