@import controllers.workspace.routes
@import org.silkframework.runtime.plugin.{AnyPlugin, PluginDescription}
@import org.silkframework.workspace.activity.ProjectActivity

@import scala.language.existentials
@import org.silkframework.runtime.activity.UserContext

@(activity: ProjectActivity)(implicit userContext: UserContext)

@widgets.pluginDialog(
    activity.project,
    name = activity.name,
    plugins = PluginDescription(activity.factory.getClass) :: Nil,
    currentObj = Some(activity.factory.asInstanceOf[AnyPlugin]),
    resources = Nil) {

  <script type="text/javascript">
    function savePlugin(pluginId, name, parameters) {
      $.post(
        '@Html(routes.ActivityApi.postActivityConfig(activity.project.name, "", activity.name).url)',
        parameters
      ).done(function() {
        closeDialog();
      }).fail(function(response) {
        alert(response.responseText);
      });
    }
  </script>
}