@import org.silkframework.workspace.activity.TaskActivity
@import org.silkframework.workspace.activity.CachedActivity

@(activity: TaskActivity[_, _], showButtons: Boolean = false)

@activityControl(
  activity.task.project.name, Some(activity.task.name), activity.name,
  showProgressBar = true,
  showStartButton = showButtons,
  showRestartButton = showButtons && classOf[CachedActivity[_]].isAssignableFrom(activity.control.underlying.getClass),
  showConfigButton = showButtons && activity.config.nonEmpty
)