@import controllers.workspace.routes
@import org.silkframework.runtime.plugin.{AnyPlugin, PluginDescription}
@import org.silkframework.workspace.activity.TaskActivity
@import org.silkframework.runtime.activity.UserContext

@import scala.language.existentials

@(activity: TaskActivity[_, _])(implicit userContext: UserContext)

@widgets.pluginDialog(
    activity.project,
    name = activity.name,
    plugins = PluginDescription(activity.factory.getClass) :: Nil,
    currentObj = Some(activity.factory.asInstanceOf[AnyPlugin]),
    resources = Nil) {

  <script type="text/javascript">
    function savePlugin(pluginId, name, parameters) {
      const contentScrollTop = document.getElementsByClassName("mdl-layout__content")[0].scrollTop;
      sessionStorage.setItem("activityViewScrollPosition", contentScrollTop);
      $.post(
        '@Html(routes.ActivityApi.postActivityConfig(activity.task.project.name, activity.task.id, activity.name).url)',
        parameters
      ).done(function() {
        closeDialog();
        // Currently updating an activity means that all listeners are still listening to the old activity. That's why we have to reload
        location.reload();
      }).fail(function(response) {
        alert(response.responseText);
      });
    }
  </script>
}