@(project: String,
  prefixes: de.fuberlin.wiwiss.silk.config.Prefixes,
  knownPrefixes: de.fuberlin.wiwiss.silk.config.Prefixes)

@widgets.dialog(title = "Edit Prefixes") {
  <table id=prefixTable>
    @for(prefix <- prefixes) {
      <tr>
        <td><input class="prefix" value="@prefix._1: @prefix._2" style="width:550px"></td>
        <td><button onclick="$(this).parent().parent().remove()">Remove</button></td>
      </tr>
    }
    <tr>
      <td></td>
      <td><button onclick="addRow()">Add</button></td>
    </tr>
  </table>

  <button onclick="submit()">Ok</button>

  <script>
    //Array which contains all known prefixes
    var availablePrefixes = [
      @for(prefix <- knownPrefixes) {
        "@prefix._1: @prefix._2",
      }
    ];

    $(".prefix").autocomplete({ source: availablePrefixes });

    //Adds a new prefix row
    function addRow() {
      $('#prefixTable tr').last().before("<tr><td><input class='prefix' value='' style='width:550px'></td><td><button onclick='$(this).parent().parent().remove()'>Remove</button></td></tr>");
      $(".prefix").autocomplete({ source: availablePrefixes });
    }

    function submit() {
      var data = $('#prefixTable input').map(function(index, input) {
        var value = input.value;
        var i = input.value.indexOf(':');
        return { name: value.substr(0, i).trim(), value: value.substr(i + 1).trim() };
      });

      $.ajax({
       type: 'PUT',
       url: '@config.baseUrl/api/workspace/@project/prefixes',
       data: data,
       success: function(data) {
          $('.dialog').dialog('close');
         },
       error: function(request) {
          alert(request.responseText);
         }
      });
    }
  </script>
}