@(project: String, resourceLoader: de.fuberlin.wiwiss.silk.runtime.resource.ResourceLoader)

@import controllers.workspace.routes.Assets

@widgets.dialog(title = "Manage Resources", width = 500) {
  <fieldset>
    <legend>Available resources:</legend>
    @for((resource, index) <- resourceLoader.list.zipWithIndex) {
      <div id="resource@index" class="resource">
        @resource
        <img class="button-delete" title="Delete" onclick="deleteResourceDialog(@index, '@resource')" src="@Assets.at("img/cross.png")" />
        <img class="button-export" title="Download" onclick="getResource('@resource')" src="@Assets.at("img/document-export.png")" />
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Upload input resource:</legend>
    <table border="0">
      <tr>
        <td>Name</td>
        <td><input name="resource-name" title="Resource Name" size="25" value="unnamed"/></td>
      </tr>
      <tr>
        <td>File</td>
        <td>
          <form name="uploadForm" enctype="multipart/form-data">
            <input name="resource-file" type="file" size="10"/>
          </form>
        </td>
      </tr>
      <tr>
        <td><img id="icon-pending" title="Pending Upload" src="@Assets.at("img/pending.gif")" /></td>
        <td align="right"><button onclick="uploadResource()">Upload</button></td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>New output resource:</legend>
      <table border="0">
        <tr>
          <td>Name</td>
          <td><input name="newresource-name" title="New Resource Name" size="25" value="output"/></td>
        </tr>
        <tr>
          <tr>
            <td></td>
            <td align="right"><button onclick="newResource()">Create</button></td>
          </tr>
      </table>
    </fieldset>

  <button id="button-close" onclick="closeDialog()" >Close</button>

  <div id="delete-dialog" >
    <p>
      <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Delete resource?
    </p>
  </div>

  <style type="text/css">
    .resource {
      float: left;
      width: 200px;
      height: 20px;
      margin: 10px;
      padding: 5px;
      background-color: #eeeeee;
      border-width: 1px;
      border-style: solid;
      border-color: #a0a0a0;
    }

    .resource:hover {
      background-color: #d0d0d0;
    }

    .button-export {
      float: right;
      cursor: pointer;
      margin-right: 5px;
    }

    .button-delete {
      float: right;
      cursor: pointer;
    }

    #button-close {
      float: right;
      margin: 10px;
    }
  </style>

  <script type="text/javascript">
    // Initialization
    $(function() {
      // Hide pending icon
      $('#icon-pending').hide();

      // Initialize the delete dialog
      $("#delete-dialog").dialog({
        autoOpen: false,
        modal: true,
        buttons: {
          Cancel: function() {
            $(this).dialog("close");
          },
          Yes: function() {
            deleteResource($(this).data('resourceIndex'), $(this).data('resourceName'));
            $(this).dialog("close");
          },
        }
      });

      // Listen to changes of the file to be uploaded
      $("input:file").change(function (){
        var fileName = $(this).val();
        $("input[name='resource-name']").val(fileName);
      });
    });

    // Opens the delete dialog
    function deleteResourceDialog(index, name) {
      $('#delete-dialog').data('resourceName', name);
      $('#delete-dialog').data('resourceIndex', index);
      $("#delete-dialog").dialog("open");
    }

    // Downloads a resource
    function getResource(name) {
      window.location = '@config.baseUrl/workspace/projects/@project/resources/' + name
    }

    // Deletes a resource
    function deleteResource(index, name) {
      $.ajax({
        type: 'DELETE',
        url: '@config.baseUrl/workspace/projects/@project/resources/' + name,
        success: function(data) {
          $('#resource' + index).remove();
        },
        error: function(request) {
          alert(request.responseText);
        }
      });
    }

    // Uploads a resource
    function uploadResource() {
      var name = $("input[name='resource-name']").val();
      var file = $("input[name='resource-file']").val();
      var formData = new FormData($("form[name='uploadForm']")[0]);

      $('#icon-pending').show();
      $.ajax({
        type: 'PUT',
        url: '@config.baseUrl/workspace/projects/@project/resources/' + name,
        xhr: function() {
          myXhr = $.ajaxSettings.xhr();
          return myXhr;
        },
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function() {
          $('#icon-pending').hide();
          reloadDialog();
        },
        error: function(request) {
          $('#icon-pending').hide();
          alert(request.responseText);
        }
      });
    }

    // Creates a new resource
    function newResource() {
      var name = $("input[name='newresource-name']").val();
      $.ajax({
        type: 'PUT',
        url: '@config.baseUrl/workspace/projects/@project/resources/' + name,
        success: function() {
          reloadDialog();
        },
        error: function(request) {
          alert(request.responseText);
        }
      });
    }
  </script>
}