/**
  CSS OVERWRITES
  contains different component overwrites that couldn't have been done
**/

// Tree
// Remove background highlight when tree node is hovered
.linking-evaluation div.bp4-tree-node-content:hover {
    background-color: transparent !important;
}

.linking-evaluation {
    .diapp-linking-learningdata__cell {
        border: none;
        background-color: transparent;
        padding-left: 0;
        padding-top: 0;
    }
}
