/**
  CSS OVERWRITES
  contains different style overwrites that couldn't have been done directly by component usage
**/

// Tree

.diapp-linking-evaluation {
    // adjust values tree^

    .#{$ns}-tree-node-content:hover {
        // Remove background highlight when tree node is hovered
        background-color: transparent;
    }

    .#{$ns}-tree-node-caret-none {
        min-width: 0;
    }

    // adjust display of widget containig the example values

    .diapp-linking-learningdata__cell {
        border: none;
        background-color: transparent;
        padding-left: 0;
        padding-top: 0;
    }

    // optimze display of example values

    .#{$ns}-tree-node-label {
        .#{$eccgui}-tag__list {
            display: inline-flex;
            max-width: 100%;
        }
        .#{$eccgui}-tag__list-item:has(.diapp-linking-evaluation__valuetaglist) {
            min-width: 0;
            flex-shrink: 1;
        }
        &:has(.diapp-linking-evaluation__valuetaglist, .tree-nodeData-label) {
            display: inline-flex;
            flex-direction: row;
            .diapp-linking-evaluation__valuetaglist {
                flex-shrink: 1;
                min-width: 0;
            }
        }
        .diapp-linking-evaluation__valuetaglist {
            .#{$eccgui}-tag__list-item {
                flex-shrink: 1;
                min-width: 0;

                &:nth-child(n + 1) {
                    flex-shrink: 0.2;
                }
                &:nth-child(n + 2) {
                    flex-shrink: 0.4;
                }
                &:nth-child(n + 3) {
                    flex-shrink: 0.6;
                }
                &:nth-child(n + 4) {
                    flex-shrink: 0.8;
                }
                &:nth-child(n + 5) {
                    flex-shrink: 1;
                }
            }
            .#{$eccgui}-tag__list-item:has(.diapp-linking-evaluation__cutinfo) {
                flex-shrink: 0;
            }
        }
    }
}
