@import "~@eccenca/gui-elements/src/configuration.default";
.ecc-component-messagehandler {
    .ecc-temp__appmessages & {
        position: fixed;
        right: 1rem;
        bottom: 0;
        width: 40rem;
        max-width: calc(100% - 2rem);
        max-height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        z-index: 1;
    }
}

.ecc-silk-mapping {
    margin: 1rem;

    .mdl-dialog {
        width: 40rem;
    }

    .Select-menu-outer {
        z-index: 3;
    }

    .Select-option {
        @include typo-body-1();
    }

    .Select-option__label,
    .Select-option__value,
    .Select-option__description {
        display: block;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.25;
    }

    .Select-option__label {
        font-weight: 500;
    }

    .Select-option__value {
        font-size: 0.8em;
    }

    .Select-option__description {
        font-size: 0.9em;
    }

    .mdl-alert--narrowed {
        .mdl-alert__content > *:not(:first-child) {
            display: hidden;
        }

        .mdl-alert__content,
        .mdl-alert__content > * {
            max-height: 5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

ul.ecc-hierarchical-mapping-error-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.ecc-silk-mapping__header {
    margin: 0.5rem 1rem;

    &-action-row {
        justify-content: flex-end;
    }

}

.ecc-silk-mapping__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 0.5rem 0.5rem;
}

.ecc-silk-mapping__treenav {
    flex-basis: calc(25% - 1rem);
    min-width: 15em;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    margin: 0.5rem;
    box-sizing: border-box;

    ul, li {
        list-style-type: none;
    }

    ul {
        margin: 0;
        padding: 0;

        &.ecc-silk-mapping__treenav--subtree {
            padding-left: 2rem;
        }
    }

    & > .mdl-card {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;

        .mdl-card__content {
            max-height: calc(100vh - 150px);
            overflow: auto;
        }
    }

    .ecc-silk-mapping__treenav--maintree {
        //padding-bottom: 1rem;
        box-sizing: border-box;

        & > li {
            //min-width: 20em;
        }
    }

    .ecc-silk-mapping__treenav--item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $button-secondary-color;
    }

    .ecc-silk-mapping__treenav--item-active {
        font-weight: 500;
        background-color: $button-active-color;
    }

    .ecc-silk-mapping__treenav--item-toggler {
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;

        .material-icons {
            transform: translate(-1rem, -1rem);
            line-height: 2rem;
            width: 2rem;
        }

        &.material-icons {
            font-size: 1rem;
            text-align: center;
            color: to_color($palette-grey-500);
        }
    }

    .ecc-silk-mapping__treenav--item-handler {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.25rem 0.5rem;
        @include typo-body-1();
        cursor: pointer;
        border: none;
        text-align: left;
        background-color: transparent;
        outline: none;

        &:hover, &:focus {
            background-color: $button-hover-color;
        }
    }

    .ecc-silk-mapping__treenav--item-maintitle,
    .ecc-silk-mapping__treenav--item-subtitle {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ecc-silk-mapping__treenav--item-subtitle {
        @include typo-caption();
    }
}

.ecc-silk-mapping__rules {
    flex-basis: calc(75% - 1rem);
    flex-grow: 4;
    flex-shrink: 1;
    min-width: 50%;
    margin: 0.5rem;
    box-sizing: border-box;

    .mdl-card__title {
        z-index: auto; // TODO: only if sticky, need to be moved to gui elements
        background-color: $card-background-color; // TODO: 90% like action row, need to be moved to gui elements
    }

    .mdl-card__menu {
        // z-index: 2; // TODO: only if sticky, need to be moved to gui elements
    }

    .mdl-card__title-back {
        position: relative;
        left: -0.5rem;
        align-self: flex-start;
        //top: -0.25rem;
    }

    .mdl-card__title-text {
        flex-grow: 1;
        align-self: center;
        display: flex;
        //@include typo-subhead();
    }
}

.ecc-silk-mapping__navheader {
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: $ecc-size-blockelement-margin-vertical;
}

.ecc-silk-mapping__rulesobject {
    position: relative;
    margin-bottom: $ecc-size-blockelement-margin-vertical;

    .ecc-silk-mapping__ruleitem-summary {
        .ecc-silk-mapping__ruleitem-headline {
            // @include typo-subhead();
        }
    }

    .mdl-card__title {
        display: block;
        padding: 0;
    }

    .mdl-card__actions {
        border-bottom: 1px solid to_color($card-border-color);
    }
}

.ecc-silk-mapping__ruleslist {

    .ecc-floatingactionlist__wrapper--fixed {
        z-index: 2; // TODO: need to be moved to gui elements
    }

    .mdl-card__title-text {
        @include typo-subhead();
        flex-grow: 1;
    }

    &:not(.ecc-silk-mapping__suggestionlist) {
        margin-top: -1 * $ecc-size-blockelement-margin-vertical;

        & .mdl-card__actions {
            background-color: transparent;
        }
    }

    .mdl-list {
        margin: 0;
        padding: 0;

        & > li:nth-child(odd):not(.ecc-silk-mapping__ruleitem--defect) {
            background-color: rgba(to_color($data-table-hover-color), 0.39);
        }

        .mdl-card,
        .mdl-data-table {
            background-color: transparent;
        }
    }

    &.ecc-silk-mapping__suggestionlist {
        .mdl-list {
            & > li:first-child {
                background-color: transparent;
            }
        }
    }
}



.ecc-silk-mapping__ruleitem {
    @include typo-body-1();
    max-width: 100%;
    position: relative;
    border-bottom: $data-table-dividers;

    &:last-child {
        border-bottom: none;
    }

    .mdl-list__item {
        color: inherit;
    }

    .mdl-list__item-primary-content {
        display: block;
        width: 50vw;
    }
}

.ecc-silk-mapping__ruleitem--dnd {
    outline: none;
}

.ecc-silk-mapping__ruleitem--literal {
    .mdl-list__item-secondary-content {
        align-self: flex-start;
    }
}

.ecc-silk-mapping__ruleitem--object {
    .mdl-list__item-secondary-content {
        align-self: center;
    }
}

.ecc-silk-mapping__ruleitem-expanded {
}

.ecc-silk-mapping__ruleitem--defect {
    color: to_color($palette-orange-800);
    background-color: to_color($palette-orange-50);
    border-color: to_color($palette-orange-100);
}

.ecc-silk-mapping__ruleitem-icon {
    font-size: 1.39em;
    vertical-align: bottom;
    margin-right: 0.1em;
}

.ecc-silk-mapping__ruleitem-headline {
    font-size: $data-table-font-size;
    letter-spacing: 0;
    line-height: 1.39;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.ecc-silk-mapping__ruleitem-subline {
    font-size: $input-text-floating-label-fontsize;
    letter-spacing: 0;
    line-height: 1.39;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ecc-silk-mapping__suggestitem-checkbox {
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    // width: 0;
}

.ecc-silk-mapping__suggestitem-typeselect {
    font-size: $input-text-floating-label-fontsize;
    letter-spacing: 0;
    line-height: 1.39;
}

.ecc-silk-mapping__ruleitem-summary {

    @include material-animation-default(0.28s);
    transition-property: background-color;

    &:hover {
        background-color: $data-table-hover-color;
    }

    &.ecc-silk-mapping__ruleitem-summary--expanded {
        background-color: transparent;

        .mdl-list__item-primary-content {
            opacity: 0.39;
        }
    }

    .mdl-list__item {
        padding: $ecc-size-blockelement-margin-vertical $ecc-size-blockelement-margin-horizontal;
        overflow: visible;
    }

    .mdl-list__item-primary-content {
        //flex-direction: column;
    }

    .Select-input,
    .Select-control {
        height: calc(48px - #{2 * $ecc-size-blockelement-margin-vertical});
    }

    .Select-placeholder, .Select--single > .Select-control .Select-value {
        line-height: calc(48px - #{2 * $ecc-size-blockelement-margin-vertical});
    }

    .Select.is-disabled .Select-value {
        opacity: 0.61;
    }

    .ecc-silk-mapping__suggestitem-typeselect {
        margin-top: 0.5 * $ecc-size-blockelement-margin-vertical;
    }

    .ecc-silk-mapping__ruleheader {
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }

        .ecc-silk-mapping__ruleitem-headline,
        .ecc-silk-mapping__ruleitem-subline,
        .ecc-silk-mapping__suggestitem-typeselect {
            @include typo-body-2();
            font-size: $data-table-header-font-size;
            color: $data-table-header-color;
        }
    }

    @media (min-width: $grid-desktop-breakpoint) {
        .mdl-list__item-primary-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }

        .ecc-silk-mapping__ruleitem-headline,
        .ecc-silk-mapping__ruleitem-subline,
        .ecc-silk-mapping__suggestitem-typeselect {
            font-size: $data-table-font-size;
            flex-grow: 1;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.25em;
            max-width: 33%;
            margin-right: 0.333%;
        }
        .hide-in-table {
            display: none;
        }

        .ecc-silk-mapping__ruleitem-reorderhandler {
            .material-icons {

            }
        }

        .ecc-silk-mapping__suggestitem-headline {
            width: 40%;
            max-width: 40%;
        }

        .ecc-silk-mapping__suggestitem-subline {
            width: 40%;
            max-width: 40%;
        }
        .ecc-silk-mapping__suggestitem-checkbox {
            align-self: center;
        }
        .ecc-silk-mapping__suggestitem-typeselect {
            margin-top: -4px;
            width: 20%;
            max-width: 20%;
            margin-right: 0;
        }
    }
}

.ecc-silk-mapping__ruleitem-reorderhandler {
    width: $ecc-size-blockelement-margin-horizontal;
    position: absolute;
    top: $ecc-size-blockelement-margin-vertical / 2;
    left: $ecc-size-blockelement-margin-horizontal / 2;
    bottom: $ecc-size-blockelement-margin-vertical / 2;
    border: $data-table-dividers;
    background-color: to_color($color-white);

    & + .mdl-list__item {
        padding-left: 2 * $ecc-size-blockelement-margin-horizontal;
    }

    .contextmenu-container {
        position: absolute;
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
    }

    .mdl-button--icon,
    .material-icons {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        min-width: 0;
        line-height: 100%;
        opacity: 0.61;

        &:hover, &:focus, &:active {
            opacity: 1;
        }
    }

    .material-icons {
        transform: translate(-1px, 25%);
    }
}

.ecc-silk-mapping__rulesviewer,
.ecc-silk-mapping__ruleseditor {

    .ecc-silk-mapping__ruleslist & {
        //margin: -1rem 0;
    }

    .mdl-card__content {
        @include typo-body-1();
        margin: 0;
        padding: 0 1rem;
    }
}

.ecc-silk-mapping__rulesviewer__title {

    .mdl-card__title-text {
        @include typo-subhead();
    }
}

.ecc-silk-mapping__rulesviewer__attribute {

    margin: 0.5rem 0 1rem 0;
    @include typo-body-1();

    dt, dd {
        margin: 0 0 0.25rem 0;
        padding: 0;
    }

    code {
        font-size: 0.9em;
    }

    .ecc-silk-mapping__rulesviewer__attribute-label {
        font-size: $input-text-floating-label-fontsize;
        //font-weight: 300;
        //display: list-item;
        list-style-type: square;
        list-style-position: inside;
    }

    .ecc-silk-mapping__rulesviewer__attribute-title {
        // font-weight: 500;
    }

    .ecc-silk-mapping__rulesviewer__attribute-info {
        max-width: 100%;
        overflow: visible;
        font-weight: 300;

        p {
            font-weight: 300;
            margin-bottom: 0;
        }
    }

}

.ecc-silk-mapping__rulesviewer__sourcePath {
    code {
        word-wrap: break-word;
    }
}

.ecc-silk-mapping__rulesviewer__infobox {

    display: flex;

    &.is-narrowed {

        .ecc-silk-mapping__rulesviewer__infobox-main,
        .ecc-silk-mapping__rulesviewer__infobox-sub {

            max-height: 1.39em;
            overflow: hidden;

            * {
                display: inline;
            }

            & > * {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;

                &:not(:first-child) {
                    display: none;
                }
            }
        }

        @media (min-width: $grid-desktop-breakpoint) {
            .ecc-silk-mapping__rulesviewer__infobox-content {
                display: flex;
                flex-wrap: nowrap;

                .ecc-silk-mapping__rulesviewer__examples & {
                    display: block;
                    width: auto;
                }

                & > div + div {
                    padding-left: 1rem;
                    box-sizing: border-box;
                    position: relative;

                    &:before {
                        content: '•';
                        font-size: 1rem;
                        width: 1rem;
                        height: 1.39em;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        vertical-align: middle;
                        /*
                        */
                    }
                }

            }

            .ecc-silk-mapping__rulesviewer__infobox-main {
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 61%;
            }

            .ecc-silk-mapping__rulesviewer__infobox-sub {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
    }
}

.ecc-silk-mapping__rulesviewer__infobox-toggler {
    flex-grow: 0;
    flex-shrink: 0;
    margin: -0.5rem 0 0 -1rem;
}

.ecc-silk-mapping__rulesviewer__infobox-content {

    flex-grow: 1;
    flex-shrink: 1;
    line-height: 1.39;
    width: 50vw; // this is a spooky hack but it prevents that the layout explodes

    p {
        line-height: 1.39;
        font-size: 1em;
    }

    .ecc-silk-mapping__rulesviewer__infobox-sub {
        font-size: 0.95em;
    }
}

.ecc-silk-mapping__rulesviewer__examples-table {

    border: 0;
    width: 100%;
    table-layout: fixed;

    th, td {
        text-align: left;
        padding: 0.5em 1em;
        white-space: normal;
        height: auto;
        border-bottom-color: rgba(to_color($data-table-divider-color), 0.06); //#ddd;

        &:first-of-type,
        &:last-of-type {
            padding: inherit;
        }

        &.ecc-silk-mapping__rulesviewer__examples-table__path {
            padding: 0.5em 1em 0.5em 0;

            .mdl-chip {
                direction: rtl;
            }
        }
        &.ecc-silk-mapping__rulesviewer__examples-table__value {
            padding: 0.5em 0;
        }
        &.ecc-silk-mapping__rulesviewer__examples-table__result {
            padding: 0.5em 0em 0.5em 1em;
        }
    }

    tr:first-of-type td.ecc-silk-mapping__rulesviewer__examples-table__result,
    tr:last-of-type td {
        border-bottom-color: to_color($data-table-divider-color);
    }

    thead {
        border: 0;
    }

    tbody {
        tr {
            &:hover {
                background-color: transparent;
            }
        }

        .is-narrowed & {
            display: none;

            &:first-of-type {
                display: table-row-group;
            }

            tr {
                opacity: 0.39;
            }

            .mdl-chip {
                display: none;

                &:nth-child(-n+7) {
                    display: inline-flex;
                }
            }
        }
    }
}

.clickable {
    cursor: pointer;
}

.ecc-silk-mapping__ruleseditor__actionrow-complex-edit {

    margin: 0 0.5rem;

}

.mdl-layout_item--background-flash{
    animation-name: anim-new-element;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes anim-new-element {
    25% {
        background-color: darken($ecc-color-info-background, 30%);
        color: $ecc-color-info-text;
    }
}
