main.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

#content {
  background: #f7f7f7;
  float: left;
  min-width: 300px;
  width: calc(100% - 20px);
  height: calc(100% - 110px);
  padding: 10px 10px;

  flex: 1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#content iframe {
  flex: 1;
  border: 1px solid #DBDBDB;
  background: #ffffff;
  padding: 10px;
}