@(project: Option[String], task: Option[String], selectedTab: Int)(header: Html)(toolbar: Html)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>Silk Workbench</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/smoothness/jquery-ui-1.10.2.custom.css")" type="text/css" media="screen, projection"/>
    
    <script src="@routes.Assets.at("js/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/jquery-ui-1.10.2.custom.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/about.js")" type="text/javascript"></script>

    @header
  </head>
  <body>
    @tabbar(project, task, selectedTab)
    <div id="toolbar">
      @toolbar
    </div>
    <div style="float: left; width: 100%">
      <div id="content">
        @content
      </div>
    </div>
    <div id="dialogContainer"></div>
 </body>
</html>