@import controllers.core.routes.Assets

@(welcome: Html)

@exampleName = @{ "movies" }

@projects = @{ de.fuberlin.wiwiss.silk.workspace.User().workspace.projects }

@header = {
  <link rel="stylesheet" href="@Assets.at("start/start.css")" type="text/css" />
}

@toolbar = {
}

@content = {
  <div id="welcome">
    @welcome
  </div>

  <h2>Current Workspace</h2>

  <p>
    Your current workspace contains @projects.size project(s).
  </p>

  <button onclick="window.location = '@config.baseUrl/workspace'">Open Workspace</button>
  @if(!projects.exists(_.name == exampleName)) {
    <button onclick="loadExample()">Load Example</button>
  }

  <script type="text/javascript">
    function loadExample() {
      $.post('@config.baseUrl/workspace/@exampleName/importExample')
      .success(function(request) { window.location = '@config.baseUrl/workspace' })
      .fail(function(request) { alert(request.responseText); })
    }
  </script>
}

@main(None, "start")(header)(toolbar)(content)