@(project: Option[String], task: Option[String], tab: String)

@import models.WorkbenchConfig.{get => config}

<div id="tabbar">
  <div id="title">@config.title</div>
  <span>
    <div class="tab @if(tab == "start") {selected}"><a href="/">Start</a></div>
    <div class="tab @if(tab == "workspace") {selected}"><a href="/workspace">Workspace</a></div>
    @for(p <- project; t <- task) {
      @if(config.tabs.editor)         { <div class="tab @if(tab == "editor") {selected}"        ><a href="/@p/@t/editor">Editor</a></div> }
      @if(config.tabs.generateLinks)  { <div class="tab @if(tab == "generateLinks") {selected}" ><a href="/@p/@t/generateLinks">Generate Links</a></div> }
      @if(config.tabs.learn)          { <div class="tab @if(tab == "learn") {selected}"         ><a href="/@p/@t/learnStart">Learn</a></div> }
      @if(config.tabs.referenceLinks) { <div class="tab @if(tab == "referenceLinks") {selected}"><a href="/@p/@t/referenceLinks">Reference Links</a></div> }
      @if(config.tabs.status)         { <div class="tab @if(tab == "status") {selected}"        ><a href="/@p/@t/status">Status</a></div> }
    }
    <div class="tab"><a onclick="showDialog('/aboutDialog')">About</a></div>
  </span>
</div>