// own vars
$ecc-size-grid-gutter: $ecc-size-block-whitespace !default;

// import lib requisits
@import "~carbon-components/scss/globals/scss/feature-flags";
@import "~carbon-components/scss/globals/scss/functions";
@import "~carbon-components/scss/globals/scss/mixins";
@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/grid/mixins";
// overwrite lib vars
$carbon--grid-gutter: carbon--rem($ecc-size-grid-gutter);
// load grid
@include exports("grid") {
    @include carbon--grid();
}

// adjustments

.#{$prefix}--grid {
    padding-left: 0;
    padding-right: 0;
}

.#{$prefix}--grid--full-width {
    max-width: 100%;
}

.#{$prefix}--row {
    flex-wrap: wrap;
}

.#{$prefix}--col {
    /*
        We need to explicitely remove a minimum width from flex layout columns,
        otherwise they try to grow (if allowed) until every text can be shown
        without overflowing, even if text is styled to be hidden overflowed.

        @see https://css-tricks.com/flexbox-truncated-text/
    */
    min-width: 0;
}

.ecc-grid__column--vertical-center {
    align-self: center;
}

.ecc-grid__row--wrapcolumns {
    flex-wrap: nowrap;
}
