#ruleContainer {
  width: 490px;
  background: url("../../img/editor/grid.png") repeat scroll 0 0;
  border:1px solid #d9d9d9;
}

.transformRule {
  width: 470px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.ruleTitle {
  font-style: italic;
  padding: 4px;
  height: 15px;
  cursor: move;
  border-radius: 5px 5px 0 0;
}

.ruleContents {
  padding: 5px;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}

.transformProperty {
  display: inline-block;
  width: 240px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Set colors for different mapping types. */

.directMapping .ruleTitle {
  background-color: #0cc481;
}

.directMapping:hover {
  background-color: #d6fff0;
  box-shadow: 1px 1px 6px #0cc481;
}

.uriMapping .ruleTitle {
  background-color: #1484d4;
}

.uriMapping:hover {
  background-color: #d6eeff;
  box-shadow: 1px 1px 6px #1484d4;
}

.objectMapping .ruleTitle {
  background-color: #C354BF;
}

.objectMapping:hover {
  background-color: #f2d7ff;
  box-shadow: 1px 1px 6px #C354BF;
}

.typeMapping .ruleTitle {
  background-color: #e59829;
}

.typeMapping:hover {
  background-color: #ffeed6;
  box-shadow: 1px 1px 6px #e59829;
}

.complexMapping .ruleTitle {
  background-color: #c35454;
}

.complexMapping:hover {
  background-color: #ffd7d7;
  box-shadow: 1px 1px 6px #c35454;
}

/* General Properties */

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

th,td
{
  padding: 5px;
}