#ruleContainer {
}

#ruleTable {
}

/*
.transformRule {
  width: 470px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
*/

.ruleTitle {
  font-style: italic;
  padding: 4px;
  height: 15px;
  cursor: move;
  border-radius: 5px 5px 0 0;
}

.ruleContents {
  padding: 5px;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}

.transformProperty {
  display: inline-block;
  width: 240px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Set colors for different mapping types. */

.rule-type-indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}
/* General Properties */

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

th,td
{
  padding: 5px;
}

/* rule details */
.di-rule__expanded .di-rule-grey-box {
  background-color: #dadada;
  padding: 4px 8px;
}

.di-rule__expanded .di-rule-grey-box:nth-of-type(1n+2) {
  margin-top: 5px;
}

.di-rule__expanded dl {
  margin: 0px;
}

.di-rule__expanded dt {
  float: left;
  margin-right: 10px;
}

.di-rule__expanded dd {
}

.di-rule-property-name {
  font-weight: bold;
}

.di-rule-property-domain, .di-rule-property-range {
}

.di-rule-property-description {
  font-style: italic;
}