#ruleContainer {
}

#ruleTable {
}

.ruleTitle {
  font-style: italic;
  padding: 4px;
  height: 15px;
  cursor: move;
  border-radius: 5px 5px 0 0;
}

.ruleContents {
  padding: 5px;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}

.transformProperty {
  display: inline-block;
  width: 240px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transformRule .mdl-grid {
  padding: 0px;
  margin: 0px;
}

.transformRule .mdl-cell.di-rule-target-value {
  margin: 0;
}

.transformRule .mdl-cell.di-rule-target-type {
  margin: 0 0 0 14px;
}

.mdl-cell.mdl-cell--4-col.di-rule-target-type::before {
  content: "Type";
  color: rgb(255, 255, 255);
  background-color: rgb(119, 119, 119);
  padding: 2.1px 6.3px 3.2px 6.3px;
  border-radius: 2.6px;
  font-size: 10.5px;
  margin-right: 5px;
  font-weight: bold;
}

/*.mdl-cell.mdl-cell--4-col.di-rule-target-type::after {
  content: ")";
  color: rgba(0,0,0,.54);
}*/

/* Set colors for different mapping types. */

.rule-type-indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}
/* General Properties */

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

th,td
{
  padding: 5px;
}

/* rule details */
.di-rule__expanded .di-rule-grey-box {
  background-color: #dadada;
  padding: 4px 8px;
}

.di-rule__expanded .di-rule-grey-box:nth-of-type(1n+2) {
  margin-top: 5px;
}

.di-rule__expanded dl {
  margin: 0px;
}

.di-rule__expanded dt {
  float: left;
  margin-right: 10px;
}

.di-rule__expanded dd {
}

.di-rule-property-name {
  font-weight: bold;
}

.di-rule-property-domain, .di-rule-property-range {
}

.di-rule-property-description {
  font-style: italic;
}

/* autocomplete categories */
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

/* target type select */
.rule-target-type .mdl-selectfield {
  padding: 4px 0;
}

.rule-target-type .mdl-selectfield__select {
  font-size: 13px;
}