<LearningConfiguration>

  <GenerationConfiguration>

  </GenerationConfiguration>

  <CrossoverConfiguration>
    <CrossoverOperators>
      <CrossoverOperator type="OperatorCrossover" />
      <CrossoverOperator type="LimitCrossover" />
      <CrossoverOperator type="AggregationOperatorsCrossover" />
      <CrossoverOperator type="AggregationStrategyCrossover" />
      <CrossoverOperator type="TransformationCrossover" />
    </CrossoverOperators>
  </CrossoverConfiguration>

</LearningConfiguration>