@import plugins.Context
@import de.fuberlin.wiwiss.silk.config.TransformSpecification

@(context: Context[TransformSpecification])

@header = {
}

@toolbar = {
  <ul>
    <li>
      <button onclick="execute()" >Start</button>
    </li>
    <li>
      @widgets.taskStatus("execute/statusStream")
    </li>
    <li>
    </li>
  </ul>
}

@content = {
  <script type="application/javascript">
    function execute() {
      $.ajax({
        type: 'PUT',
        url: '@config.baseUrl/transform/tasks/@context.project.name/@context.task.name/executeTransform',
        success: function(response) {
          $('.dialog').dialog('close');
        },
        error: function(request) {
          alert(request.responseText);
        }
      });
    }
  </script>
}

@main(Some(context))(header)(toolbar)(content)