@import plugins.Context
@import org.silkframework.config.TransformSpecification
@import org.silkframework.execution.ExecuteTransformResult
@import org.silkframework.execution.ExecuteTransformResult.RuleResult
@import org.silkframework.execution.ExecuteTransformResult.RuleError

@(context: Context[TransformSpecification], statistics: ExecuteTransformResult)

@header = {
}

@toolbar = {
  <ul>
    <li>
    </li>
    <li>
    </li>
  </ul>
}

@content = {
  <table style="width:100%">
    <tr>
      <th>Rule</th>
      <th>Values</th>
      <th>Error</th>
    </tr>

    @for((ruleName, RuleResult(errorCount, sampleErrors)) <- statistics.ruleResults) {
      <tr>
        <td>@ruleName</td>
        <td></td>
        <td></td>
      </tr>

      @for(RuleError(errorValues, exception) <- sampleErrors) {
        <tr>
          <td></td>
          <td>@errorValues.flatten.mkString(", ")</td>
          <td>@exception.getMessage</td>
        </tr>
      }
    }

  </table>
}

@main(Some(context))(header)(toolbar)(content)