@import views.editor.GenerateId
@import org.silkframework.workspace.Project

@import org.silkframework.runtime.activity.UserContext

@import org.silkframework.rule.similarity.MissingValueStrategy
@(id: String,
  missingValueStrategy: MissingValueStrategy, weight: Int, threshold: Double,
  plugin: org.silkframework.runtime.plugin.PluginDescription[_],
  parameterValues: Seq[String],
  x: Int, y: Int, display: Boolean,
  project: Project)(implicit userContext: UserContext)

@operatorBox("Compare", id, plugin, parameterValues, x, y, display, project) {
  <div class="param_element">
    <label id="@{GenerateId(id, display)}_param_threshold" class="param_label" tabindex="-1">Threshold</label>
    <div class="mdl-defer" data-mdl-defer="tooltip" for="@{GenerateId(id, display)}_param_threshold">
      The maximum distance. For normalized distance measures, the threshold should be between 0.0 and 1.0.
    </div>
    <input class="param_value" type="text" name="threshold" value="@threshold"/>
  </div>
  <div class="param_element">
    <label id="@{GenerateId(id, display)}_param_weight" class="param_label" tabindex="-1">Weight</label>
    <div class="mdl-defer" data-mdl-defer="tooltip" for="@{GenerateId(id, display)}_param_weight">
      The weight parameter can be used by the parent aggregation when combining
      its input values. Only certain aggregations will consider weighted inputs. Examples are the weighted average
      aggregation, quadraticMean and geometricMean.
    </div>
    <input class="param_value" type="text" name="weight" value="@weight"/>
  </div>
  @missingValueStrategyParameter(GenerateId(id, display) + "_missingValueStrategy", missingValueStrategy)
}