@(id: String,
required: Boolean, weight: Int, threshold: Double,
plugin: org.silkframework.runtime.plugin.PluginDescription[_],
parameters: Map[String, String],
x: Int, y: Int, display: Boolean)

@operatorBox("Compare", id, plugin, parameters, x, y, display) {
<div class="param_element">
  <span class="param_label">Required</span>
  <input type="checkbox" name="required" @if(required) {checked="checked"}/>
</div>
<div class="param_element">
  <label class="param_label">Threshold</label>
  <input class="param_value" type="text" name="threshold" value="@threshold"/>
</div>
<div class="param_element">
 <label class="param_label">Weight</label>
  <input class="param_value" type="text" name="weight" value="@weight"/>
</div>
}