@import plugins.Context
@import org.silkframework.rule.input.Transformer
@import org.silkframework.rule.similarity.Aggregator
@import org.silkframework.rule.similarity.DistanceMeasure
@import org.silkframework.config.LinkSpecification
@import controllers.workspace.routes
@import controllers.rules.routes.Assets

@(context: Context[LinkSpecification])

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor-reset.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("js/excanvas.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/jquery.jsPlumb-1.5.5.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editor.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/serializeRule.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editableLabel.js")"></script>

  <script type="text/javascript">
    var inEditorEnv = true;
    var projectName = '@context.project.name';
    var taskName = '@context.task.name';
    var ruleIndex = '';
    var editorUrl = baseUrl + '/linking/' + projectName + '/' + taskName + '/editor';
    var apiUrl = '@config.baseUrl/linking/tasks/@context.project.name/@context.task.name';
    var serializationFunction = serializeLinkageRule;
  </script>
}

@toolbar = {
  <script type="text/javascript" src="@Assets.at("js/wz_tooltip.js")"></script>

  <ul>
    <li>
      <button id="undo" class="mdl-button mdl-js-button mdl-button--icon" onclick="undo()">
        <i class="material-icons">undo</i>
      </button>
    </li>
    <li>
      <button id="redo" class="mdl-button mdl-js-button mdl-button--icon" onclick="redo()">
        <i class="material-icons">redo</i>
      </button>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <button id="button_reload_paths" class="mdl-button mdl-js-button mdl-button--icon" onclick="reloadPropertyPaths();">
        <i class="material-icons">cached</i>
      </button>
      <div class="mdl-tooltip mdl-tooltip--large" for="button_reload_paths">
        Reload Property Paths
      </div>
    </li>
    <li>
      <a id="button_get_linkspec" class="mdl-button mdl-js-button mdl-button--icon" href="@routes.WorkspaceApi.exportLinkSpec(context.project.name, context.task.name).url" target="_blank">
        <i class="material-icons">file_download</i>
      </a>
      <div class="mdl-tooltip mdl-tooltip--large" for="button_get_linkspec">
        Get Link Specification to be executed from the command line
      </div>
    </li>
    <li>
      <a id="button_editor_help" class="mdl-button mdl-js-button mdl-button--icon" href="http://www.assembla.com/spaces/silk/wiki/Linkage_Rule_Editor" target="_help">
        <i class="material-icons">help_outline</i>
      </a>
      <div class="mdl-tooltip mdl-tooltip--large" for="button_editor_help">
        Show linkage rule editor documentation
      </div>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <label>Link Limit:</label>
      <div id="select_link_limit" class="mdl-selectfield mdl-js-selectfield" style="width: 90px;">
        <select id="linklimit" class="mdl-selectfield__select" onchange="modifyLinkSpec()">
          <option value="unlimited">unlimited</option>
          @for(i <- 1 to 10) {
            <option value="@i" @if(context.task.data.rule.filter.limit == Some(i)) {selected="selected"}>@i</option>
          }
        </select>
      </div>
      <div class="mdl-tooltip mdl-tooltip--large" for="select_link_limit">
        Defines the number of links (n) originating from a single data item. Only the n highest-rated links per source data item will remain after the filtering.
      </div>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <label>Link Type:</label>
      <div id="input_link_type" class="mdl-textfield mdl-js-textfield">
        <input id="linktype" class="mdl-textfield__input" type="text" onchange="modifyLinkSpec()" value="@context.project.config.prefixes.shorten(context.task.data.rule.linkType.uri)" />
      </div>
    </li>
  </ul>

  @status()

  <div id="score-widget">@* Filled by updateScore() *@</div>
}

@content = {
  <div class="draggables mdl-shadow--2dp">
    <div id="palette-header">
      <div id="operatorSearchField" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="operator_search_term">
        <label class="mdl-textfield__label" for="operator_search_term">Search term...</label>
      </div>
    </div>

    <div id="operators-grouped">
      <div id="paths">
        <div id="loading" style="width:230px;">loading ...</div>
        <script type="text/javascript">
          getPropertyPaths("#paths");
        </script>
      </div>

      <div id="operators">
        @operators("Transformations", "transform", Transformer.pluginsByCategory)
        @operators("Comparators", "compare", DistanceMeasure.pluginsByCategory)
        @operators("Aggregators", "aggregate", Aggregator.pluginsByCategory)
      </div>
    </div>

    <div id="operators-search-result" style="display: none;">
      <div id="no_match_alert" class="alert alert-info">
        <strong>No matching operators</strong>
      </div>
      <div id="operatorList" class="scrollboxes" style="height: 100%;">
        <div id="paths_search">
          loading paths ...
          <script type="text/javascript">
            getPropertyPaths("#paths_search", false);
          </script>
        </div>
        @operatorsAll("Transformations", "transform", Transformer)
        @operatorsAll("Comparators", "compare", DistanceMeasure)
        @operatorsAll("Aggregators", "aggregate", Aggregator)
      </div>
    </div>
  </div>
  <script type="text/javascript" src="@Assets.at("js/jquery.mark.min.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/operatorSearch.js")"></script>

  <div class="wrapperEditor">

    <div class="droppable_outer">

      <div id="droppable" class="mdl-shadow--2dp">
        @for(op <- context.task.data.rule.operator) {
          @renderRule(
            rule = op,
            prefixes = context.project.config.prefixes
          )
        }
      </div>

    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)