@import plugins.Context
@import org.silkframework.rule.input.Transformer
@import org.silkframework.rule.similarity.Aggregator
@import org.silkframework.rule.similarity.DistanceMeasure
@import org.silkframework.config.LinkSpecification
@import controllers.workspace.routes
@import controllers.rules.routes.Assets

@(context: Context[LinkSpecification])

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor-reset.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />
  <!-- MDL inclusions: -->
  <link type="text/css" href="@Assets.at("lib/mdl/material.css")" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" href="@Assets.at("stylesheets/editor/mdl-adjustments.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("js/excanvas.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/jquery.jsPlumb-1.5.5.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editor.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/serializeRule.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editableLabel.js")"></script>
  <!-- MDL inclusions: -->
  <script type="text/javascript" src="@Assets.at("lib/mdl/material.js")"></script>

  <script type="text/javascript">
    var projectName = '@context.project.name';
    var taskName = '@context.task.name';
    var ruleIndex = '';
    var editorUrl = baseUrl + '/linking/' + projectName + '/' + taskName + '/editor';
    var apiUrl = '@config.baseUrl/linking/tasks/@context.project.name/@context.task.name';
    var serializationFunction = serializeLinkageRule;
  </script>
}

@toolbar = {
  <script type="text/javascript" src="@Assets.at("js/wz_tooltip.js")"></script>

  <ul>
    <li>
      <button id="undo" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">undo</i>
      </button>
    </li>
    <li>
      <button id="redo" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">redo</i>
      </button>
    </li>
    <li>
      <a class="mdl-button mdl-js-button mdl-button--icon" href="@routes.WorkspaceApi.exportLinkSpec(context.project.name, context.task.name).url" target="_blank" title="Get Link Specification to be executed from the command line">
        <i class="material-icons">file_download</i>
      </a>
    </li>
    <li>
      <a class="mdl-button mdl-js-button mdl-button--icon" href="http://www.assembla.com/spaces/silk/wiki/Linkage_Rule_Editor" target="_help">
        <i class="material-icons">help_outline</i>
      </a>
    </li>
  </ul>

  @status()

  <div id="score-widget">@* Filled by updateScore() *@</div>
}

@content = {
  <div class="draggables">
    <div style="width:200px;">
      <span style="font-weight: bold; color: #582271; float: left;">Property Paths</span>
      <div id="refresh" onclick="reloadPropertyPaths();" title="refresh property paths"></div>
    </div>
    <div style="clear: both"></div>
    <div id="paths">
      <div id="loading" style="width:230px;">loading ...</div>
      <script type="text/javascript">
        getPropertyPaths();
      </script>
    </div>

    <div id="operators">
      @operators("Transformations", "transform", Transformer.pluginsByCategory)
      @operators("Comparators", "compare", DistanceMeasure.pluginsByCategory)
      @operators("Aggregators", "aggregate", Aggregator.pluginsByCategory)
    </div>
  </div>

  <div class="wrapperEditor">

    <div class="droppable_outer">

      <div id="droppable">
        @for(op <- context.task.data.rule.operator) {
          @renderRule(
            rule = op,
            prefixes = context.project.config.prefixes
          )
        }
      </div>

      <div style="width: 180px; float: left;">
        Link Limit:
        <select id="linklimit" onchange="modifyLinkSpec()">
          <option>unlimited</option>
          @for(i <- 1 to 10) {
            <option @if(context.task.data.rule.filter.limit == Some(i)) {selected="selected"}>@i</option>
          }
        </select>
        <img src="@Assets.at("img/help.png")" title="Defines the number of links (n) originating from a single data item. Only the n highest-rated links per source data item will remain after the filtering." />
      </div>

      <div style="width: 300px; float: left;">
        Link Type:
        <input type="text" id="linktype" onchange="modifyLinkSpec()" value="@context.project.config.prefixes.shorten(context.task.data.rule.linkType.uri)" />
      </div>

    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)