@(opType: String,
  id: String,
  plugin: org.silkframework.runtime.plugin.PluginDescription[_],
  parameters: Map[String, String],
  x: Int, y: Int,
  display: Boolean)(additionalContent: Html)

@import controllers.rules.routes.Assets

<div id="@id" class="dragDiv @{opType.toLowerCase}Div" style="left: @{x}px; top: @{y}px; position: absolute; @if(!display) { display:none; }">
  <small class="name">@plugin.id</small>
  <small class="type">@opType</small>
  <h5 class="handler">
    <div style="width: 160px; white-space:nowrap; overflow:hidden; float: left;" title="">
      @plugin.label (@opType)
    </div>
    <img align="right" src="@Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"/>
    <img align="right" src="@Assets.at("img/undecided.png")" style="cursor:help;" title="@plugin.description"/>
  </h5>
  <div class="content">
    name:
    <span class="label">@id</span>
    <br/>
    @additionalContent
    @for(((name, value), index) <- parameters.zipWithIndex) {
      @if(index != 0) {<br/>}
      @name:
      <input type="text" name="@name" size="15" value="@value" />
    }
  </div>
</div>