@import controllers.rules.routes.Assets
@import views.editor.GenerateId

@(opType: String,
  id: String,
  plugin: org.silkframework.runtime.plugin.PluginDescription[_],
  parameters: Map[String, String],
  x: Int, y: Int,
  display: Boolean)(additionalContent: Html)

<div id="@GenerateId(id, display)" class="dragDiv @{opType.toLowerCase}Div" style="left: @{x}px; top: @{y}px; position: absolute; @if(!display) { display:none; }">
  <small class="name">@plugin.id</small>
  <small class="type">@opType</small>
  <h5 class="handler">
    <label class="edit_label">@id</label>
    <input class="edit_label" type="text" value="@id" name="name" id="@id-name"/>
    <!--<div class="clearfix"></div>-->
    <!--<div style="width: 160px; white-space:nowrap; overflow:hidden; float: left;" title="">
      @id-foo
    </div>-->
    <img align="right" src="@Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"/>
    <img align="right" src="@Assets.at("img/undecided.png")" style="cursor:help;" title="@plugin.description"/>
  </h5>
  <div class="content">
    <!--
    <div class="param_element">
      <label class="param_label" for="@id-name">Name</label>
      <input class="param_value" type="text" name="name" value="@id" id="@id-name"/>
    </div>
    -->
    @additionalContent
    @for(((name, value), index) <- parameters.zipWithIndex) {
      <div class="param_element">
        <label class="param_label">@name</label>
        <input class="param_value" type="text" name="@name" value="@value"/>
      </div>
    }
  </div>
  <div class="operator_footer @{opType.toLowerCase}Div">
    @plugin.label (@opType)
  </div>
</div>