@import org.silkframework.util.DPair

@(sources: DPair[String], paths: DPair[Seq[String]], onlySource: Boolean, loadingMsg: String = "", warning: String = "")

@import controllers.rules.routes.Assets

<script type="text/javascript">
  // Initialization
  $(function() {
    // Make operators draggable
    $('.sourcePaths, .targetPaths').draggable({
      helper: function() {
        var box = $(this).children('.dragDiv').clone(false);
        box.attr("id", generateNewElementId("path"));
        box.show();
        return box;
      }
    });
  })
</script>

@pathOperators(sources.source, paths.source, "Source")
@if(!onlySource) {
  @pathOperators(sources.target, paths.target, "Target")
}

@pathOperators(source: String, paths: Seq[String], pathType: String) = {
  <div style="padding-top: 4px">
    <span style='font-weight: bold; color: #582271;'>@pathType:</span>
    <span id='@{pathType.toLowerCase}_id'>@source</span>
  </div>

  @*<div class="more">
    <span class='restriction'>
      <span style='font-weight: bold; float: left; padding-right: 5px; color: #582271;'>Restriction: </span>
      <span id='@{pathType.toLowerCase}_restriction'></span>
    </span>
    <div style='clear: both;'></div>
  </div>*@

  <div class="scrollboxes">
    <div class="draggable @{pathType.toLowerCase}Paths">
      <span></span>
      <small></small>
      <p>(custom path)</p>
      @pathExpanded("", pathType)
    </div>

    @loadingMsg
    @if(!warning.isEmpty) { <img src="@Assets.at("img/exclamation.png")" style="cursor:help;" title="@warning"/> }

    @for(path <- paths) {
      <div class="draggable @{pathType.toLowerCase}Paths" title="@path">
        <span></span>
        <p style="white-space:nowrap; overflow:hidden;">@path</p>
        @pathExpanded(path, pathType)
      </div>
    }
  </div>
}

@pathExpanded(path: String, pathType: String) = {
  <div class="dragDiv @{pathType.toLowerCase}Div" style="display: none;">
    <small class="name">Path</small>
    <small class="type">@pathType</small>
    <h5 class="handler">
      <div style="width: 160px; white-space:nowrap; overflow:hidden; float: left;" title="">
        Path (@pathType)
      </div>
      <img align="right" src="@Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"/>
      <img align="right" src="@Assets.at("img/undecided.png")" style="cursor:help;" title="Entity Path"/>
    </h5>
    <div class="content">
      name:
      <span class="label"></span>
      <br/>
      <input type="text" name="path" value="@path" style="width:100%" />
    </div>
  </div>
}