@import org.silkframework.util.DPair

@(sources: DPair[String], paths: DPair[Seq[String]], onlySource: Boolean, loadingMsg: String = "", warning: String = "")

@import controllers.rules.routes.Assets

<script type="text/javascript">
  // Initialization
  $(function() {
    // Make operators draggable
    $('.sourcePaths, .targetPaths').draggable({
      helper: function() {
        var box = $(this).children('.dragDiv').clone(false);
        var id = box.find(".handler label").text();
        box.attr("id", generateNewElementId(id));
        box.show();
        return box;
      }
    });
  })
</script>

@pathOperators(sources.source, paths.source, "Source")
@if(!onlySource) {
  @pathOperators(sources.target, paths.target, "Target")
}

@pathOperators(source: String, paths: Seq[String], pathType: String) = {
  <div style="padding-top: 4px">
    <span style='font-weight: bold; color: #582271;' class="path_type">@pathType:</span>
    <span id='@{pathType.toLowerCase}_id' class="path_id">@source</span>
    <div class="mdl-tooltip" for="@{pathType.toLowerCase}_id">@source</div>
  </div>

  @*<div class="more">
    <span class='restriction'>
      <span style='font-weight: bold; float: left; padding-right: 5px; color: #582271;' class="path_type">Restriction: </span>
      <span id='@{pathType.toLowerCase}_restriction' class="path_id"></span>
    </span>
    <div style='clear: both;'></div>
  </div>*@

  <div class="scrollboxes">
    <div class="draggable @{pathType.toLowerCase}Paths">
      <span></span>
      <small></small>
      <p>(custom path)</p>
      @pathExpanded("", pathType)
    </div>

    @loadingMsg
    @if(!warning.isEmpty) { <img src="@Assets.at("img/exclamation.png")" style="cursor:help;" title="@warning"/> }

    @for(path <- paths) {
      <div class="draggable @{pathType.toLowerCase}Paths" title="@path">
        <span></span>
        <p style="white-space:nowrap; overflow:hidden;">@path</p>
        @pathExpanded(path, pathType)
      </div>
    }
  </div>
}

@pathExpanded(path: String, pathType: String) = {
  @pathBox(pathType.toLowerCase + "Path", pathType == "Source", path, 0, 0, false)
}