@import org.silkframework.rule.vocab.VocabularyProperty

@*
* Shows details information for a vocabulary property.
*@
@(name: String, property: Option[VocabularyProperty])

@property match {
  case Some(prop) => { @renderProperty(prop) }
  case None => { Property @name not found in target vocabularies. }
}

@renderProperty(prop: VocabularyProperty) = {
  <dl>
    <dt>Label:</dt>
    <dd>
      @prop.info.label match {
        case Some(label) => { @label }
        case None => { no label }
      }
    </dd>

    <dt>Description:</dt>
    <dd>
      @prop.info.description match {
        case Some(desc) => { @desc }
        case None => { no description }
      }
    </dd>
  </dl>
}