@(rule: de.fuberlin.wiwiss.silk.rule.Operator,
  prefixes: de.fuberlin.wiwiss.silk.config.Prefixes)

@import de.fuberlin.wiwiss.silk.workspace.Constants
@import de.fuberlin.wiwiss.silk.rule.Operator
@import de.fuberlin.wiwiss.silk.rule.input.TransformInput
@import de.fuberlin.wiwiss.silk.rule.input.PathInput
@import de.fuberlin.wiwiss.silk.rule.similarity.Aggregation
@import de.fuberlin.wiwiss.silk.rule.similarity.Comparison

@drawLevel(Seq(rule), (countLevels(rule) - 1) * 250, maxWidth(rule) * 150)
@* TODO> suspend drawing in jsPlumb while drawing *@
@connectOperators(rule)

@drawLevel(ops: Seq[Operator], x: Int, height: Int) = {
  @if(!ops.isEmpty) {
    @for((op, index) <- ops.zipWithIndex) {
      @drawOperator(op, x, height * (index + 1) / (ops.size + 1) - 75)
    }
    @drawLevel(ops.flatMap(getChildren), x - 250, height)
  }
}

@countLevels(op: Operator) = @{
  def count(op: Operator): Int = {
    val children = getChildren(op)
    if(children.isEmpty)
      1
    else
      1 + children.map(count).max
  }
  count(op)
}

@maxWidth(op: Operator) = @{
  def findMax(ops: Seq[Operator]): Int = {
    val children = ops.flatMap(getChildren)
    if(children.isEmpty)
      ops.size
    else
      Seq(ops.size, findMax(children)).max
  }
  findMax(Seq(op))
}

@getChildren(op: Operator) = @{
  op match {
    case agg: Aggregation => agg.operators
    case cmp: Comparison => cmp.inputs.toSeq
    case transform: TransformInput => transform.inputs
    case path: PathInput => Seq.empty
  }
}

@drawOperator(op: Operator, x: Int, y: Int) = {
  @op match {
    case Aggregation(id, required, weight, aggregator, operators) => {
      @aggregationBox(id, required, weight, aggregator.plugin, aggregator.parameters, x, y, true)
    }
    case Comparison(id, required, weight, threshold, indexing, metric, inputs) => {
      @comparisonBox(id, required, weight, threshold, metric.plugin, metric.parameters, x, y, true)
    }
    case TransformInput(id, transformer, inputs) => {
      @transformationBox(id, transformer.plugin, transformer.parameters, x, y, true)
    }
    case PathInput(id, path) => {
      @pathBox(id, path.variable == Constants.SourceVariable, path.serialize(prefixes), x, y, true)
    }
  }
}

@connectOperators(op: Operator) = {
  <script type="text/javascript">
    // Initialization
    $(function() {
      var dropArea = $('#droppable');
      jsPlumb.draggable(dropArea.find('.dragDiv')); //TODO move

      @connectOperator(op)

    });
  </script>
}

@connectOperator(op: Operator) = {
  @op match {
    case Aggregation(id, required, weight, aggregator, operators) => {
      @* Handle children *@
      @for(op <- operators) {
        @connectOperator(op)
      }

      @* Create endpoints *@
      var endpoint_@{id}_target = jsPlumb.addEndpoint('@id', endpointSimilarityTarget);
      var endpoint_@{id}_source = jsPlumb.addEndpoint('@id', endpointSimilaritySource);

      @* Connect children *@
      @for(op <- operators) {
        jsPlumb.connect({
        source: endpoint_@{op.id}_source,
        target: endpoint_@{id}_target
        });
      }
    }
    case Comparison(id, required, weight, threshold, indexing, metric, inputs) => {
      @* Handle children *@
      @connectOperator(inputs.source)
      @connectOperator(inputs.target)

      @* Create endpoints *@
      var endpoint_@{id}_target = jsPlumb.addEndpoint('@id', endpointValueTarget);
      var endpoint_@{id}_source = jsPlumb.addEndpoint('@id', endpointSimilaritySource);

      @* Connect children *@
      jsPlumb.connect({
      source: endpoint_@{inputs.source.id}_source,
      target: endpoint_@{id}_target
      });
      jsPlumb.connect({
      source: endpoint_@{inputs.target.id}_source,
      target: endpoint_@{id}_target
      });
    }
    case TransformInput(id, transformer, inputs) => {
      @* Handle children *@
      @for(input <- inputs) {
        @connectOperator(input)
      }

      var endpoint_@{id}_target = jsPlumb.addEndpoint('@id', endpointValueTarget);
      var endpoint_@{id}_source = jsPlumb.addEndpoint('@id', endpointValueSource);

      @* Connect children *@
      @for(input <- inputs) {
        jsPlumb.connect({
        source: endpoint_@{input.id}_source,
        target: endpoint_@{id}_target
        });
      }
    }
    case PathInput(id, path) => {
      var endpoint_@{id}_source = jsPlumb.addEndpoint('@id', endpointValueSource);
    }
  }
}