@*
 * A small toolbar icon that displays the current status of the editor.
 * Displays messages and errors in the current rule.
 *
 * Messages are added using the following function:
 * updateStatus(errorMessages, warningMessages, infoMessages)
 *
 *@
@()

<div id="validation-icons">
  <div id="tick"></div>
  <div class="mdl-tooltip mdl-tooltip--large" for="tick">Validated successfully.</div>
  <div id="error-icons">
    <div id="exclamation" style="display: none"><span class="number-messages"></span></div>
    <div id="warning" style="display: none"><span class="number-messages"></span></div>
  </div>
  <div id="error-tooltip" class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="error-icons">Errors.</div>
  <div id="pending" style="display: none"></div>
</div>
