@*
 * A small toolbar icon that displays the current status of the editor.
 * Displays messages and errors in the current rule.
 *
 * Messages are added using the following function:
 * updateStatus(errorMessages, warningMessages, infoMessages)
 *
 *@
@()

<div id="validation-icons">
  <div id="tick" onmouseover="Tip('Validated successfully.', DELAY, 20, WIDTH, 135, FIX, ['tick', -102, 3]);" onmouseout="UnTip();"></div>
  <div id="exclamation" style="display: none"><span class="number-messages"></span></div>
  <div id="warning" style="display: none"><span class="number-messages"></span></div>
  <div id="pending" style="display: none"></div>
</div>

<div id="info-box" style="display: none"></div>
