@*
 * A small toolbar icon that displays the current status of the editor.
 * Displays messages and errors in the current rule.
 *
 * Messages are added using the following function:
 * updateStatus(errorMessages, warningMessages, infoMessages)
 *
 *@
@()

<div id="validation-icons">
  <div id="tick" class="material-icons">done</div>
  <div class="mdl-tooltip mdl-tooltip--large" for="tick">Validated successfully.</div>
  <div id="error-icons">
    <div id="exclamation" class="material-icons mdl-badge mdl-badge--overlap" data-badge="0" style="display: none;">error</div>
    <div id="warning" class="material-icons mdl-badge mdl-badge--overlap" data-badge="0" style="display: none;">warning</div>
  </div>
  <div id="error-tooltip" class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="error-icons">Errors.</div>
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" id="pending" style="display: none"></div>
</div>
