@import org.silkframework.entity.ForwardOperator
@import plugins.Context
@import org.silkframework.rule.{ComplexMapping, DirectMapping, ObjectMapping, TransformRule, TransformSpec, TypeMapping, UriMapping}
@import org.silkframework.rule.input.PathInput
@import org.silkframework.entity.Path
@import org.silkframework.workspace.activity.transform.TransformPathsCache
@import controllers.rules.routes.Assets
@import org.silkframework.runtime.serialization.XmlSerialization

@(context: Context[TransformSpec])(implicit session: play.api.mvc.Session)

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/editor/transformRules.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("js/editor/transformRules.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript">
    var apiUrl = '@config.baseUrl/transform/tasks/@context.project.name/@context.task.id';
  </script>
}

@toolbar = {
  <ul>
    <li>
      <button id="add-uri-mapping-button" class="mdl-button mdl-js-button mdl-button--raised" onclick="addRule('#uriMappingTemplate')">Add URI Mapping</button>
    </li>
    <li>
      <button id="add-type-mapping-button" class="mdl-button mdl-js-button mdl-button--raised" onclick="addRule('#typeMappingTemplate')">Add Type Mapping</button>
    </li>
    <li>
      <button id="add-direct-mapping-button" class="mdl-button mdl-js-button mdl-button--raised" onclick="addRule('#directMappingTemplate')">Add Direct Mapping</button>
    </li>
    <li>
      <button id="add-object-mapping-button" class="mdl-button mdl-js-button mdl-button--raised" onclick="addRule('#objectMappingTemplate')">Add Object Mapping</button>
    </li>
    <li>
      @* widgets.taskActivityControl(context, context.task.activity[PathsCache].name) *@
    </li>
  </ul>

  @status()
}

@content = {
  <div id="typeContainer">
    @for(rule <- context.task.data.rules) {
      @if(rule.typeString == "Type") {
        @renderTypeRule(rule.asInstanceOf[TypeMapping])
      }
    }
  </div>
  <div id="ruleContainer">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Rule Type</th>
          <th class="mdl-data-table__cell--non-numeric">Source</th>
          <th class="mdl-data-table__cell--non-numeric">Target</th>
        </tr>
      </thead>
      <tbody>
        @for(rule <- context.task.data.rules) {
          @if(rule.typeString != "Type") {
            @renderRule(rule)
          }
        }
      </tbody>
    </table>
  </div>
}

@renderRule(rule: TransformRule) = {
  <tr class="@{rule.typeString.toLowerCase}Mapping">
    <td class="mdl-data-table__cell--non-numeric">@rule.name</td>
    <td class="mdl-data-table__cell--non-numeric">@rule.typeString Mapping</td>
      @{ rule match {
        case r: DirectMapping => renderDirectRule(r)
        case r: UriMapping => renderUriRule(r)
        case r: ObjectMapping => renderObjectRule(r)
        case r: ComplexMapping => renderComplexRule(r)
        case _ =>
      }}
  </tr>
}

@renderDirectRule(rule: DirectMapping) = {
  <td class="mdl-data-table__cell--non-numeric">@rule.sourcePath.serializeSimplified(prefixes())</td>
  <td class="mdl-data-table__cell--non-numeric">@rule.targetProperty.serialize(prefixes())</td>
}

@renderUriRule(rule: UriMapping) = {
  <td class="mdl-data-table__cell--non-numeric">@rule.pattern</td>
  <td class="mdl-data-table__cell--non-numeric">---</td>
}

@renderObjectRule(rule: ObjectMapping) = {
  <td class="mdl-data-table__cell--non-numeric">@rule.pattern</td>
  <td class="mdl-data-table__cell--non-numeric">@rule.targetProperty.serialize(prefixes())</td>
}

@renderTypeRule(rule: TypeMapping) = {
<span class="mdl-chip mdl-chip--deletable typeMapping">
  <span class="mdl-chip__text">@rule.typeUri.serialize(context.project.config.prefixes)</span>
  <span class="mdl-chip__action"><i class="material-icons">cancel</i></span>
</span>


}

@renderComplexRule(rule: ComplexMapping) = {
  <td class="mdl-data-table__cell--non-numeric">@renderRulePath(rule)</td>
  <td class="mdl-data-table__cell--non-numeric">@rule.target.map(_.serialize(prefixes())).getOrElse("")</td>
}

@renderRuleButtons() = {
  <img class="button-delete" title="Delete" onclick="deleteRule($(this).parent().parent())" src="@Assets.at("img/delete.png")" style="float: right; cursor: pointer" />
  <img class="button-edit" title="Open in Editor" onclick="openRule($(this).parent().parent().find('.name').val())" src="@Assets.at("img/editor/wrench.png")" style="float:right; cursor: pointer" />
}

@renderRulePath(rule: ComplexMapping) = {@if(rule.paths.size == 1) {@rule.paths.head.serializeSimplified(prefixes())} else {(multiple)}}

@prefixes() = @{ context.project.config.prefixes }

@main(Some(context))(header)(toolbar)(content)