@import plugins.Context
@import org.silkframework.config.TransformSpecification
@import org.silkframework.rule.TransformRule
@import controllers.rules.routes.Assets

@(context: Context[TransformSpecification], rule: TransformRule)

@import org.silkframework.workspace.User
@import org.silkframework.rule.input.Transformer

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor-reset.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("js/excanvas.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/jquery.jsPlumb-1.5.5.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editor.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/serializeRule.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editableLabel.js")"></script>

  <script type="text/javascript">
    var inEditorEnv = true;
    var projectName = '@context.project.name';
    var taskName = '@context.task.name';
    var ruleIndex = '/@context.task.data.rules.indexOf(rule)';
    var editorUrl = baseUrl + '/transform/' + projectName + '/' + taskName + '/editor';
    var apiUrl = '@config.baseUrl/transform/tasks/@context.project.name/@context.task.name';
    var serializationFunction = serializeTransformRule;
  </script>
}

@toolbar = {
  <script type="text/javascript" src="@Assets.at("js/wz_tooltip.js")"></script>

  <ul>
    <li>
      <a class="mdl-button mdl-js-button mdl-button--icon" href="../editor">
        <i class="material-icons">arrow_back</i>
      </a>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <button id="undo" class="mdl-button mdl-js-button mdl-button--icon" onclick="undo();">
        <i class="material-icons">undo</i>
      </button>
    </li>
    <li>
      <button id="redo" class="mdl-button mdl-js-button mdl-button--icon" onclick="redo();">
        <i class="material-icons">redo</i>
      </button>
    </li>
    <li>
      <div class="spacer"/>
    </li>
      <li>
      <button id="button_reload_paths" class="mdl-button mdl-js-button mdl-button--icon" onclick="reloadPropertyPaths();">
        <i class="material-icons">cached</i>
      </button>
      <div class="mdl-tooltip mdl-tooltip--large" for="button_reload_paths">
        Reload Property Paths
      </div>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <label>Name:</label>
      <div id="input_rulename" class="mdl-textfield mdl-js-textfield">
        <input id="rulename" class="mdl-textfield__input" type="text" onchange="modifyLinkSpec()" value="@rule.name" />
      </div>
      <div class="mdl-tooltip mdl-tooltip--large" for="input_rulename">
        The name of this transformation rule.
      </div>
    </li>
    <li>
      <div class="spacer"/>
    </li>
    <li>
      <label>Target Property:</label>
      <div id="input_targetproperty" class="mdl-textfield mdl-js-textfield">
        <input id="targetproperty" class="mdl-textfield__input" type="text" onchange="modifyLinkSpec()" value="@rule.target.map(_.serialize(context.project.config.prefixes)).getOrElse("")" />
      </div>
      <div class="mdl-tooltip mdl-tooltip--large" for="input_targetproperty">
        The target property.
      </div>
    </li>
  </ul>

  @status()

  <div id="score-widget">@* Filled by updateScore() *@</div>
}

@content = {
  <div class="draggables mdl-shadow--2dp">
    <div class="palette-header">
    </div>
    <div id="paths">
      <div id="loading" style="width:230px;">loading ...</div>
      <script type="text/javascript">
        getPropertyPaths();
      </script>
    </div>

    <div id="operators">
      @operators("Transformations", "transform", Transformer.pluginsByCategory)
    </div>
  </div>

  <div class="wrapperEditor">

    <div class="droppable_outer">

      <div id="droppable" class="mdl-shadow--2dp">
        @renderRule(
          rule = rule.operator,
          prefixes = context.project.config.prefixes
        )
      </div>

    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)