@import plugins.Context
@import org.silkframework.config.TransformSpecification
@import org.silkframework.rule.TransformRule
@import controllers.rules.routes.Assets

@(context: Context[TransformSpecification], rule: TransformRule)

@import org.silkframework.workspace.User
@import org.silkframework.rule.input.Transformer

@header = {
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor-reset.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/editor.css")" rel="stylesheet" />
  <link type="text/css" href="@Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Assets.at("js/excanvas.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/jquery.jsPlumb-1.5.5.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editor.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/serializeRule.js")"></script>
  <script type="text/javascript" src="@Assets.at("js/editor/editableLabel.js")"></script>

  <script type="text/javascript">
    var projectName = '@context.project.name';
    var taskName = '@context.task.name';
    var ruleIndex = '/@context.task.data.rules.indexOf(rule)';
    var editorUrl = baseUrl + '/transform/' + projectName + '/' + taskName + '/editor';
    var apiUrl = '@config.baseUrl/transform/tasks/@context.project.name/@context.task.name';
    var serializationFunction = serializeTransformRule;
  </script>
}

@toolbar = {
  <script type="text/javascript" src="@Assets.at("js/wz_tooltip.js")"></script>

  <ul>
    <li>
      <a class="button" href="../editor">Back</a>
    </li>
    <li>
      <button id="undo" onclick="undo();">Undo</button>
    </li>
    <li>
      <button id="redo" onclick="redo();">Redo</button>
    </li>
    <li>
      <a class="button" href="http://www.assembla.com/spaces/silk/wiki/Linkage_Rule_Editor" target="_help">Help</a>
    </li>
  </ul>

  @status()

  <div id="score-widget">@* Filled by updateScore() *@</div>
}

@content = {
  <div class="draggables">
    <div style="width:200px;">
      <span style="font-weight: bold; color: #582271; float: left;">Property Paths</span>
      <div id="refresh" onclick="reloadPropertyPaths();" title="refresh property paths"></div>
    </div>
    <div style="clear: both"></div>
    <div id="paths">
      <div id="loading" style="width:230px;">loading ...</div>
      <script type="text/javascript">
        getPropertyPaths();
      </script>
    </div>

    <div id="operators">
      @operators("Transformations", "transform", Transformer.pluginsByCategory)
    </div>
  </div>

  <div class="wrapperEditor">

    <div class="droppable_outer">

      <div id="droppable">
        @renderRule(
          rule = rule.operator,
          prefixes = context.project.config.prefixes
        )
      </div>

      <div style="float: left; margin-right: 20px">
        Name:
        <input type="text" size="40" id="rulename"  value="@rule.name" />
        <img src="@Assets.at("img/help.png")" title="The name of this transformation rule." />
      </div>

      <div style="float: left;">
        Target Property:
        <input type="text" size="40" id="targetproperty"  value="@rule.target.map(_.serialize(context.project.config.prefixes)).getOrElse("")" />
        <img src="@Assets.at("img/help.png")" title="The target property." />
      </div>

    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)