#content {
  background: #ffffff;
}

.workspace_button {
  opacity: 0.9;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 5px 1px 1px;
  margin-right: 2px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.workspace_button:hover {
  opacity: 1.0;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 5px 1px 1px;
  margin-right: 2px;
  background-color: #ffffff;
  border: 1px solid #767676;
  border-radius: 4px;
}

.workspace_button img {
  float: left;
}

.workspace_button span {
  float: left;
  margin-left: 2px;
  line-height: 16px;
  font-size: 0.8em;
  color: #575757;
}

.ui-progressbar {
  position: relative;
}

.activity-progress-small {
  left: 220px;
  top: -20px;
  width: 250px;
  height: 15px;
}

.activity-progress-small-text {
  line-height: 15px;
  font-size: 10px;
  margin-left: 10px;
  position: absolute;
}

.activity-progress-small-help {
  left: 230px;
  position: absolute;
}

.activity-button-start, .activity-button-stop {
  position: relative;
  left: 478px;
  height: 18px;
  top: -37px;
}

.activity-button-edit {
  position: relative;
  left: 500px;
  height: 18px;
  top: -55px;
  font-size: 9px;
}