/**
 * Set variables
 */

$eccgui-selector-text-spot-highlight: "[id^=parameter_doc_]";

/**
 * Legacy styles for older components
 * FIXME: they need to made be obsolete as soon as possible
 */

// Transformation editor
@import "./../app/views/pages/MappingEditor/style/style.scss";

/**
 * Current styles
 */

// The theme is defined only by using configuration variables only
// no explicit style definitions outside the gui elements

// basic elements
@import "~@eccenca/gui-elements";
// other extensions
@import "~@eccenca/gui-elements/src/extensions";
// extensions for cmem context
@import "~@eccenca/gui-elements/src/cmem";

/**
 * Additional styles for the application notifications
 */

@import "./../app/views/shared/ApplicationNotifications/ApplicationNotification.scss";

/**
 * Additional styles for modules
 */

@import "./../app/views/taskViews/linking/activeLearning/LinkingRuleActiveLeraningConfig";
@import "./../app/views/taskViews/linking/evaluation/tabView/LinkingEvaluationTabview.scss";
@import "./../app/views/taskViews/transform/evaluation/tabView/TransformEvaluationTabView.scss";
@import "./../app/views/shared/FileUploader/cases/UploadNewFile/UploadNewFile.scss";
