.diapp-iframewindow {
    position: relative;

    & .diapp-iframewindow__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
    }
}

.diapp-iframewindow--iframecontent {
    position: relative;
    padding: 0 !important;
}

.diapp-iframewindow--jscontent {
    position: relative;

    & > div {
        position: absolute;
        top: $eccgui-size-block-whitespace;
        right: $eccgui-size-block-whitespace;
        bottom: $eccgui-size-block-whitespace;
        left: $eccgui-size-block-whitespace;
    }
}

.diapp-iframewindow--fullscreen {
    position: fixed;
    width: auto;
    height: auto;
    top: $eccgui-size-block-whitespace;
    left: $eccgui-size-block-whitespace;
    right: $eccgui-size-block-whitespace;
    bottom: $eccgui-size-block-whitespace;
    z-index: 8000;

    &:before {
        content: " ";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $eccgui-color-modal-backdrop;
    }
}
