/*
    color configuration for Carbon Elements ui-shell
    TODO: remove file when module finished, configuration var should be placed
    on head of style sheet for the sub component.
*/

/// should be already imported
//@import '~carbon-components/scss/globals/scss/colors';

/*
//----------------------------------------------------------------------------
// Header Panel tokens
//----------------------------------------------------------------------------

/// Header-panel background
$shell-panel-bg-01: $carbon--gray-100 !default;

/// Panel item hover background
$shell-panel-bg-02: #2c2c2c !default;

/// Panel item focus and active background
$shell-panel-bg-03: $carbon--gray-80 !default;

/// Panel item link selected background
$shell-panel-bg-04: $carbon--gray-90 !default;

/// Panel border
$shell-panel-border: $carbon--gray-80 !default;

/// Header panel text
$shell-panel-text-01: $carbon--gray-30 !default;

/// Header panel secondary text
$shell-panel-text-02: $carbon--gray-10 !default;

/// Header panel focus border
$shell-panel-focus: $carbon--white-0 !default;

//----------------------------------------------------------------------------
// Side nav tokens
//----------------------------------------------------------------------------
/// Side-nav panel background
$shell-side-nav-bg-01: $carbon--white-0 !default;

/// Selected category background
$shell-side-nav-bg-02: $carbon--gray-80 !default;

/// Selected L2 nested item
$shell-side-nav-bg-03: $ibm-color__gray-70 !default;

/// Side nav item hover background
$shell-side-nav-bg-04: #e5e5e5 !default;

/// Side nav menu item hover background
$shell-side-nav-bg-05: #dcdcdc !default;

/// Primary text in side-nav
$shell-side-nav-text-01: $ibm-color__gray-70 !default;

/// Secondary text in side nav
$shell-side-nav-text-02: $ibm-color__gray-30 !default;

/// Side-nav icon color
$shell-side-nav-icon-01: $ibm-color__gray-70 !default;

/// Item highlight bar
$shell-side-nav-accent-01: $ibm-color__blue-60 !default;
*/
