// reset proposals by Eric Meyer
@import "~reset-css/sass/reset";

// Chrome 62 fix
button,
select,
input,
textarea {
    border-radius: 0;
    font-family: inherit;
}

// MSI remove clear button from text fields
input[type="text"]::-ms-clear {
    display: none;
}

// justify box sizing model
* {
    box-sizing: border-box;
}

// Fix to remove added margins on buttons in safari (see #5155)
button {
    margin: 0;
}
