
// helpers

.ecc-typography--nooverflow {
    overflow: hidden;
}

.ecc-typography--forcelinebreak {
    word-break: break-all;
}

.ecc-typography--preventlinebreak {
    word-break: keep-all;
    white-space: nowrap;
}
