$ecc-size-separation-spacing-medium: $ecc-size-typo-base !default;
$ecc-color-separation-divider: $pt-divider-black !default;

.ecc-separation__spacing-horizontal,
.ecc-separation__spacing-vertical,
.ecc-separation__divider-horizontal {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 1px;
    width: 100%;
    display: block;
}

.ecc-separation__divider-horizontal,
.ecc-separation__spacing--hasdivider {
    border: none;
    background-color: $ecc-color-separation-divider;
}

.ecc-separation__spacing-horizontal,
.ecc-separation__divider-horizontal {
    &.ecc-separation__spacing--none {
        // margin: 0;
    }

    &.ecc-separation__spacing--tiny {
        margin: $ecc-size-separation-spacing-medium/8 0;
    }

    &.ecc-separation__spacing--small {
        margin: $ecc-size-separation-spacing-medium/4 0;
    }

    &.ecc-separation__spacing--medium {
        margin: $ecc-size-separation-spacing-medium/2 0;
    }

    &.ecc-separation__spacing--large {
        margin: $ecc-size-separation-spacing-medium * 0.75 0;
    }

    &.ecc-separation__spacing--xlarge {
        margin: $ecc-size-separation-spacing-medium 0;
    }
}

.ecc-separation__spacing-vertical {
    display: inline-block;
    height: 1em * $ecc-size-typo-base-lineheight;
    width: 1px;
    vertical-align: text-bottom;

    &.ecc-separation__spacing--none {
        // margin: 0;
    }

    &.ecc-separation__spacing--tiny {
        margin: 0 $ecc-size-separation-spacing-medium/8;
    }

    &.ecc-separation__spacing--small {
        margin: 0 $ecc-size-separation-spacing-medium/4;
    }

    &.ecc-separation__spacing--medium {
        margin: 0 $ecc-size-separation-spacing-medium/2;
    }

    &.ecc-separation__spacing--large {
        margin: 0 $ecc-size-separation-spacing-medium * 0.75;
    }

    &.ecc-separation__spacing--xlarge {
        margin: 0 $ecc-size-separation-spacing-medium;
    }
}
