$ecc-size-separation-spacing-medium: $ecc-size-typo-base !default;
$ecc-color-separation-divider: $pt-divider-black !default;

.ecc-separation__spacing-horizontal {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 1px;
    width: 100%;
}

.ecc-separation__spacing-horizontal--none {
    margin: 0;
}

.ecc-separation__spacing-horizontal--tiny {
    margin: $ecc-size-separation-spacing-medium/8 0;
}

.ecc-separation__spacing-horizontal--small {
    margin: $ecc-size-separation-spacing-medium/4 0;
}

.ecc-separation__spacing-horizontal--medium {
    margin: $ecc-size-separation-spacing-medium/2 0;
}

.ecc-separation__spacing-horizontal--large {
    margin: $ecc-size-separation-spacing-medium * 0.75 0;
}

.ecc-separation__spacing-horizontal--xlarge {
    margin: $ecc-size-separation-spacing-medium 0;
}

.ecc-separation__divider-horizontal {
    @extend .ecc-separation__spacing-horizontal;
    border: none;
    background-color: $ecc-color-separation-divider;
}
