@import de.fuberlin.wiwiss.silk.config.LinkSpecification
@import plugins.Context

@(context: Context[LinkSpecification])

@header = {
}

@toolbar = {
}

@content = {

  <div style="width:325px" >

    <div class="wrapper-header">
      Overall Cache
    </div>

    <div class="wrapper">
      @widgets.taskStatus("status/cacheStream", "cache")
    </div>

    <div class="wrapper-header">
      Source Types Cache
    </div>

    <div class="wrapper">
      @widgets.taskStatus("status/sourceTypesCacheStream", "sourceTypesCache")
    </div>

    <div class="wrapper-header">
      Target Types Cache
    </div>

    <div class="wrapper">
      @widgets.taskStatus("status/targetTypesCacheStream", "targetTypesCache")
    </div>

    <div class="wrapper-header">
      Paths Cache
    </div>

    <div class="wrapper">
      @widgets.taskStatus("status/pathCacheStream", "pathCache")
    </div>

    <div class="wrapper-header">
      Reference Links Cache
    </div>

    <div class="wrapper">
      @widgets.taskStatus("status/referenceEntitiesCacheStream", "referenceEntitiesCache")
    </div>

  </div>
}

@main(Some(context))(header)(toolbar)(content)