@()

@import de.fuberlin.wiwiss.silk.runtime.plugin.PluginDescription
@import de.fuberlin.wiwiss.silk.linkagerule.similarity.Aggregator

<script type="text/javascript">
  // Initialization
  $(function() {
    // Make operators draggable
    $('.aggregators').draggable({
      helper: function() {
        var box = $(this).children('.aggregateDiv').clone(false);
        box.attr("id", generateNewElementId());
        box.show();
        return box;
      }
    });
  })
</script>

<div class="boxheaders" style="color: #1484d4;">
  Aggregators
</div>

<div id="aggregatorbox" class="scrollboxes" >
  @for(plugin <- Aggregator.availablePlugins) {
    @aggregatorBox(plugin)
  }
</div>

@**
 * A single operator.
 *@
@aggregatorBox(plugin: PluginDescription[Aggregator]) = {
  <div id="aggregator_@plugin.id" class="draggable aggregators" title="@plugin.description">
    <span></span>
    <small>@plugin.label</small>
    <p>@plugin.label</p>
    @aggregatorExpanded(plugin)
  </div>
}

@**
 * The expanded box after the operator has been dragged into the editor.
 *@
@aggregatorExpanded(plugin: PluginDescription[Aggregator]) = {
  <div class="dragDiv aggregateDiv" style="display: none;">
    <small class="name">@plugin.id</small>
    <small class="type">Aggregate</small>
    <h5 class="handler">
      <div style="width: 160px; white-space:nowrap; overflow:hidden; float: left;" title="">
        @plugin.label (Aggregate)
      </div>
      <img align="right" src="@routes.Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"/>
      <img align="right" src="@routes.Assets.at("img/undecided.png")" style="cursor:help;" title="@plugin.description"/>
    </h5>
    <div class="content">
      name:
      <span class="label"></span>
      <br/>
      required:
      <input type="checkbox" name="required"/>
      <br/>
      weight:
      <input type="text" name="weight" size="2" value="1"/>
      @for(param <- plugin.parameters) {
        <br/>
        @param.name:
        <input type="text" name="@param.name" size="10" @for(v <- param.defaultValue) {value="@v"} />
      }
    </div>
  </div>
}