@(info: String = "", error: String = "")

@if(!info.isEmpty) { @info }
@if(!error.isEmpty) { <img src="@routes.Assets.at("img/help.png")" style="cursor:help;" title="@error"/> }

@*
<div id="info" style="display: none">
    <span class="note" style="display: none" title="Positive and negative reference links are needed in order to evaluate the link specification"></span>
    <span class="precision" style="display: none" title="Precision can be seen as a measure of exactness (or quality). Precision := truePositive / (truePositive + falsePositive)"></span>
    <span class="recall" style="display: none" title="Recall can be seen as a measure of completeness (or quantity). Recall := truePositive / (truePositive + falseNegative)"></span>
    <span class="measure" title="The harmonic mean of Precision and Recall. F-measure := 2 * (Precision*Recall) / (Precision+Recall)" style="display: none"></span>
</div>
*@