
@(project: de.fuberlin.wiwiss.silk.workspace.Project,
  task: de.fuberlin.wiwiss.silk.workspace.modules.transform.TransformTask)

@import de.fuberlin.wiwiss.silk.linkagerule.TransformRule

@header = {
  <link type="text/css" href="@routes.Assets.at("stylesheets/editor/transformRules.css")" rel="stylesheet" />
  <link type="text/css" href="@routes.Assets.at("stylesheets/editor/status.css")" rel="stylesheet" />

  <script type="text/javascript" src="@routes.Assets.at("js/editor/transformRules.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/editor/status.js")"></script>
  <script type="text/javascript">
    var apiUrl = '@config.baseUrl/transform/tasks/@project.name/@task.name';
  </script>
}

@toolbar = {
  <script type="text/javascript" src="@routes.Assets.at("js/wz_tooltip.js")"></script>

  <ul>
    <li>
      <button onclick="addRule()">Add Rule</button>
    </li>
  </ul>

  @status()
}

@content = {
  <div id="ruleContainer">
    @for(rule <- task.rules) {
      @renderRule(rule)
    }
  </div>

  <div id="ruleTemplate" style="display: none">
    @renderRule(TransformRule())
  </div>

  <div id="dialogDelete" title="Confirm">
    <p>
      <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Delete transformation rule?
    </p>
  </div>
}

@renderRule(rule: TransformRule) = {
  <div class="transformRule">
    <div class="ruleTitle">
      Transformation
      <img class="button-delete" title="Delete" onclick="deleteRule($(this).parent().parent())" src="@routes.Assets.at("img/delete.png")" style="float: right; cursor: pointer" />
      <img class="button-edit" title="Open in Editor" onclick="openRule($(this).parent().parent().find('input').val())" src="@routes.Assets.at("img/editor/wrench.png")" style="float:right; cursor: pointer" />
    </div>
    <div class="ruleContents">
      <table>
        <tr>
          <th>Name</th>
          <th>Target Property</th>
        </tr>
        <tr>
          <td><input value="@rule.name" /></td>
          <td><div class="transformProperty" title="@rule.targetProperty">@rule.targetProperty</div></td>
        </tr>
      </table>
    </div>
    <script class="ruleXML" type="application/xml">
      @rule.toXML
    </script>
  </div>
}

@main(Some(project.name), Some(task.name), "transformEditor")(header)(toolbar)(content)