@()

@import de.fuberlin.wiwiss.silk.runtime.plugin.PluginDescription
@import de.fuberlin.wiwiss.silk.linkagerule.input.Transformer

<script type="text/javascript">
  // Initialization
  $(function() {
    // Hide all operators except the recommended ones
    @for(category <- Transformer.pluginsByCategory.keys if category != "Recommended") {
      $('#transform_category_@category').hide();
    }

    // Make operators draggable
    $('.transformations').draggable({
      helper: function() {
        var box = $(this).children('.transformDiv').clone(false);
        box.attr("id", generateNewElementId());
        box.show();
        return box;
      }
    });
  })
</script>

<div class="boxheaders" style="color: #0cc481;">
  Transformations
  <select name="category" style="font-size:0.9em;">
  @for(category <- Transformer.pluginsByCategory.keys) {
    <option value="@category"
            onclick="$('div[id^=transform_category]').hide(); $('#transform_category_@category').show()"
            @if(category == "Recommended"){ selected="selected" } >
      @category
    </option>
  }
  </select>
</div>

<div id="transformationbox" class="scrollboxes" style="height: 67.9px;">
  @for((category, plugins) <- Transformer.pluginsByCategory) {
    <div id="transform_category_@category">
      @for(plugin <- plugins.sortBy(_.label)) {
        @transformationBox(plugin, category)
      }
    </div>
  }
</div>

@**
 * A single operator.
 *@
@transformationBox(plugin: PluginDescription[Transformer], category: String) = {
  <div id="transformation_@{category}_@plugin.id" class="draggable transformations" title="@plugin.description">
    <span></span>
    <small>@plugin.label</small>
    <p>@plugin.label</p>
    @transformationExpanded(plugin)
  </div>
}

@**
 * The expanded box after the operator has been dragged into the editor.
 *@
@transformationExpanded(plugin: PluginDescription[Transformer]) = {
  <div class="dragDiv transformDiv" style="display: none;">
    <small class="name">@plugin.id</small>
    <small class="type">TransformInput</small>
    <h5 class="handler">
      <div style="width: 170px; white-space:nowrap; overflow:hidden; float: left;" title="">
        @plugin.label (Transformation)
      </div>
      <img align="right" src="@routes.Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"></img>
    </h5>
    <div class="content">
      @for((param, index) <- plugin.parameters.zipWithIndex) {
        @if(index != 0) {<br/>}
        @param.name:
        <input type="text" name="@param.name" size="10" @for(v <- param.defaultValue) {value="@v"} ></input>
      }
      <img align="right" src="@routes.Assets.at("img/help.png")" style="margin-top: 6px; cursor:help;" title=""></img>
    </div>
  </div>
}