@import org.silkframework.config.CustomTask
@import org.silkframework.runtime.plugin.PluginRegistry
@import org.silkframework.workspace.Project

@(project: Project, taskName: String, taskPlugin: Option[CustomTask], createDialog: Boolean)

@widgets.pluginDialog(
  project,
  name = taskName,
  plugins = PluginRegistry.availablePlugins[CustomTask],
  currentObj = taskPlugin,
  resources = project.resources.list,
  createDialog = createDialog) {

    <script type="text/javascript">
      function savePlugin(pluginId, name, parameters, callbacks) {
        // Build task json
        var json = {
          id: name,
          data: {
            taskType: "CustomTask",
            type: pluginId,
            parameters: parameters
          }
        };

        // Submit task
        @if(createDialog) {
          postTask('@project.name', json, callbacks);
        } else {
          putTask('@project.name', name, json, callbacks);
        }
      }
    </script>
}