// FIXME: use sizes and colors from mdl config/presetting
@import '~ecc-gui-elements/src/configuration.default';

.ecc-silk-mapping {
    margin: 1rem;
}

.ecc-silk-mapping__header {
    justify-content: flex-end;
}


.ecc-silk-mapping__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 1rem 1rem 1rem;
}

.ecc-silk-mapping__treenav {
    flex-basis: 25%;
    min-width: 10em;
    min-height: 10em;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;

    ul, li {
        list-style-type: none;
    }

    ul {
        margin: 0;
        padding: 0;

        &.ecc-silk-mapping__treenav--subtree {
            padding-left: 2rem;
        }
    }

    .ecc-silk-mapping__treenav--maintree {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        overflow: scroll;
        padding-bottom: 1rem;
        box-sizing: border-box;

        & > li {
            //min-width: 20em;
        }
    }

    .ecc-silk-mapping__treenav--item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $button-secondary-color;
    }

    .ecc-silk-mapping__treenav--item-active {
        font-weight: 500;
        background-color: $button-active-color;
    }

    .ecc-silk-mapping__treenav--item-toggler {
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;

        .material-icons {
            transform: translate(-1rem, -1rem);
            line-height: 2rem;
            width: 2rem;
        }

        &.material-icons {
            font-size: 1rem;
            text-align: center;
            color: to_color($palette-grey-500);
        }
    }

    .ecc-silk-mapping__treenav--item-handler {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.25rem 0.5rem;
        @include typo-body-1();
        cursor: pointer;
        border: none;
        text-align: left;
        background-color: transparent;
        outline: none;

        &:hover, &:focus {
            background-color: $button-hover-color;
        }
    }

    .ecc-silk-mapping__treenav--item-maintitle,
    .ecc-silk-mapping__treenav--item-subtitle {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ecc-silk-mapping__treenav--item-subtitle {
        @include typo-caption();
    }
}

.ecc-silk-mapping__rules,
.ecc-silk-mapping__createrule {
  flex-basis: 75%;
  flex-grow: 1;
  flex-shrink: 1;
}

.ecc-silk-mapping__ruleshead {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 1rem;

    .mdl-card__title {
        align-items: flex-start;
    }

    .mdl-card__title-back {
        position: relative;
        left: -0.5rem;
        top: -0.25rem;
    }

    .mdl-card__title-text {
        flex-grow: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
        @include typo-subhead();

        .mdl-card__title-text-sup {
            @include typo-caption();

            .mdl-chip {
                height: auto;
                line-height: 2;
                font-size: 1em;
            }

            .mdl-chip__text {
                font-size: 1em;
            }
        }

        .mdl-card__title-text-main {
            font-weight: 500;
            //font-size: 1.25rem;
        }

        .mdl-card__title-text-sub {
            //font-size: 1.25rem;
        }
    }
}

.ecc-silk-mapping__ruleslist {
    .mdl-card__title-text {
        flex-grow: 1;
    }

    .mdl-list {
        margin: 0;
        padding: 0;
    }

    .mdl-list__item {
        border-bottom: $data-table-dividers;

        &:last-child {
            border-bottom: none;
        }
    }

    .ecc-silk-mapping__ruleitem--literal {
        .mdl-list__item-secondary-content {
            align-self: flex-start;
        }
    }

    .ecc-silk-mapping__ruleitem--object {
        .mdl-list__item-secondary-content {
            align-self: center;
        }
    }

    .ecc-silk-mapping__ruleitem {
        overflow: visible;
    }

    .ecc-silk-mapping__ruleitem--expanded {
        padding-left: 0;

    }

    .mdl-list__item-primary-content {
        display: block;
    }
    .mdl-list__item-primary-content {
        width: 50vw;
    }

    .ecc-silk-mapping__ruleitem-content {
        @include typo-body-1();
        max-width: 100%;
    }

    .ecc-silk-mapping__ruleitem-headline {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .ecc-silk-mapping__ruleitem-subline {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include typo-caption();
    }

    .ecc-silk-mapping__ruleitem--summary {

        @media (min-width: $grid-desktop-breakpoint) {
            .ecc-silk-mapping__ruleitem-content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: baseline;
            }

            .ecc-silk-mapping__ruleitem-headline,
            .ecc-silk-mapping__ruleitem-subline {
                font-size: $data-table-font-size;
                flex-grow: 1;
                box-sizing: border-box;
                padding: 0.25em;
                max-width: 25%;
            }

            .hide-in-table {
                display: none;
            }

            .ecc-silk-mapping__ruleitem-reorderhandler {
                .material-icons {
                    transform: translate(-1px, 10%);
                }
            }
        }
    }

    .ecc-silk-mapping__ruleitem-reorderhandler {
        width: 1rem;
        position: relative;
        left: -0.5rem;
        border: $data-table-dividers;
        align-self: stretch;

        .contextmenu-container {
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            bottom: 1px;
        }

        .mdl-button--icon,
        .material-icons {
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 0;
            min-width: 0;
            line-height: 100%;
            opacity: 0.61;

            &:hover, &:focus, &:active {
                opacity: 1;
            }
        }

        .material-icons {
            transform: translate(-1px, 25%);
        }
    }
}

.ecc-silk-mapping__rulesviewer__title {

    .mdl-card__title-text {
        @include typo-subhead();
    }
}

.clickable {
    cursor: pointer;
}
