.ecc-component-hierarchicalMapping__content {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.ecc-component-hierarchicalMapping__content-toggle-navigation {
  flex-basis: 3%;
  max-width: 2rem;
  flex-shrink: 1;
  flex-grow: 1;
  box-sizing: border-box;;
}

.ecc-component-hierarchicalMapping__content-treeView {
  flex-basis: 20%;
  min-width: 10rem;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  box-sizing: border-box;;
  padding: 0 0.5rem;

  ul, li {
    list-style-type: none;
  }

  & > .stretch-vertical{
    height: 100%;
  }

    &-highlight {
        font-weight: 500;
    }

}

.ecc-component-hierarchicalMapping__content-mappingRuleOverview {
  flex-basis: 77%;
  min-width: 70rem;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
