// include basic environment
@import '~ecc-gui-elements/src/configuration.default';
@import '~material-design-lite/src/_variables.scss';
// include enhancements for silk mapping editor
@import '../HierarchicalMapping/HierarchicalMapping';

ul.navigation {
  display: flex;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .mdl-button {

    &.mdl-button--pagination {
      min-width: unset;
      list-style-type: none;

    }

    &.mdl-button--active {
      background-color: $button-hover-color;
    }


  }

}
