// include legacy environment
$font_root: "~gui-elements-deprecated/dist/fonts";

// we import them not at once so that we can fix the parts that are not compatible with npm (dart) sass
// we only keep the parts that are really necessary for the mapping editor

// -- Configuration ------------------------------------------------------------

@import "replace-configuration.default"; // gui elements configuration

// -- Eccenca Material Design Lite -----------------------------------------------------

// Resets and dependencies
@import "~@eccenca/material-design-lite/src/resets/resets";

// Components
// probably not necessary @import "~@eccenca/material-design-lite/src/typography/typography";
// not necessary @import "~@eccenca/material-design-lite/src/palette/palette";
// not necessary @import "~@eccenca/material-design-lite/src/ripple/ripple";
// not necessary @import "~@eccenca/material-design-lite/src/animation/animation";
@import "~@eccenca/material-design-lite/src/badge/badge";
@import "~@eccenca/material-design-lite/src/button/button";
@import "~@eccenca/material-design-lite/src/card/card";
@import "~@eccenca/material-design-lite/src/checkbox/checkbox";
@import "~@eccenca/material-design-lite/src/chip/chip";
// not necessary @import "~@eccenca/material-design-lite/src/data-table/data-table";
// not necessary @import "~@eccenca/material-design-lite/src/dialog/dialog";
// not necessary @import "~@eccenca/material-design-lite/src/footer/mega_footer";
// not necessary @import "~@eccenca/material-design-lite/src/footer/mini_footer";
// not necessary @import "~@eccenca/material-design-lite/src/icon-toggle/icon-toggle";
@import "~@eccenca/material-design-lite/src/list/list";
@import "~@eccenca/material-design-lite/src/menu/menu";
@import "~@eccenca/material-design-lite/src/progress/progress";
@import "~@eccenca/material-design-lite/src/layout/layout"; // only necessary for legacy includes via iframe
@import "~@eccenca/material-design-lite/src/radio/radio";
// not necessary @import "~@eccenca/material-design-lite/src/slider/slider";
// not necessary @import "~@eccenca/material-design-lite/src/snackbar/snackbar";
@import "~@eccenca/material-design-lite/src/spinner/spinner";
@import "~@eccenca/material-design-lite/src/switch/switch";
// not necessary @import "~@eccenca/material-design-lite/src/tabs/tabs";
@import "~@eccenca/material-design-lite/src/textfield/textfield";
@import "~@eccenca/material-design-lite/src/tooltip/tooltip";
@import "~@eccenca/material-design-lite/src/shadow/shadow";
@import "~@eccenca/material-design-lite/src/grid/grid"; // only necessary for legacy includes via iframe

// -- Own MDL & GUI extensions -------------------------------------------------

@import "~gui-elements-deprecated/src/elements/Alert/alert";
@import "~gui-elements-deprecated/src/elements/Button/button";
@import "~gui-elements-deprecated/src/elements/Breadcrumbs/breadcrumbs";
@import "~gui-elements-deprecated/src/elements/Card/card";
@import "~gui-elements-deprecated/src/elements/Checkbox/checkbox";
@import "replace-chip";
@import "~gui-elements-deprecated/src/elements/ContextMenu/contextmenu";
// not necessary @import "~gui-elements-deprecated/src/elements/DateField/datefield";
@import "~gui-elements-deprecated/src/elements/Dialog/dialog";
// not necessary @import "~gui-elements-deprecated/src/elements/Grid/grid";
// not necessary @import "~gui-elements-deprecated/src/elements/Footer/footer";
// not necessary @import "~gui-elements-deprecated/src/elements/Layout/layout";
@import "~gui-elements-deprecated/src/elements/NotAvailable/notavailable";
@import "~gui-elements-deprecated/src/elements/Radio/radio";
// not necessary @import "~gui-elements-deprecated/src/elements/Pagination/pagination";
@import "~gui-elements-deprecated/src/elements/Progressbar/progressbar";
@import "~gui-elements-deprecated/src/elements/SelectBox/selectbox";
@import "~gui-elements-deprecated/src/elements/AutoCompleteBox/autocomplete";
@import "~gui-elements-deprecated/src/elements/Spinner/spinner";
@import "~gui-elements-deprecated/src/elements/Table/table";
@import "~gui-elements-deprecated/src/elements/TextField/textfield";
@import "~gui-elements-deprecated/src/elements/Tooltip/tooltip";

// -- Changes ------------------------------------------------------------------

@import "~gui-elements-deprecated/src/scss/adjustments";
@import "~gui-elements-deprecated/src/scss/patches";

// -- Fonts --------------------------------------------------------------------

@import "~gui-elements-deprecated/src/scss/roboto";
@import "~gui-elements-deprecated/src/scss/iconfont";
