body {
  color: #656565;
}

#content {
  padding: 20px 10px;
}

p {
  margin-top: 4px;
}

a img {
  border: none;
}

a {
  color: #656565;
  text-decoration: none;
}

a:hover {
  color: #1c1c1c;
  text-decoration: none;
}

#results {
  width: 1110px;
  overflow: auto;
  border-bottom: 1px solid #DBDBDB;
  margin: 0px auto;
}

#results .link {
  clear: both;
}

#filter {
  float: right !important;
  margin-right: 0px !important;
}

#filter input {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1) inset;
  padding: 2px;
  color: #555555;
}

.link-header {
  border-top: 1px solid #DBDBDB;
  height: 26px;
  line-height: 18px;
}

.link-header div {
  float: left;
}

.link-source, .link-target {
  border-right: 1px solid #DBDBDB;
  padding: 4px 0;
  width: 420px;
  margin-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-details {
  display: none;
  background: none repeat scroll 0 0 #f2f2f4;
  border-top: 2px solid #dadadb;
  border-bottom: 2px solid #dadadb;
  font-size: 12px;
}

.link-confidence, .confidencebar {
  width: 75px;
  height: 15px;
  margin-right: 20px;
  margin-top: 4px;
  float: left;
}

.link-details .confidencebar {
  margin-top: 0px;
}

.confidence {
  position: absolute;
  font-size: 11px;
  margin-left: 17px;
  line-height: 14px;
}

.confidence-red {
  background: #f24040;
}

.confidence-orange {
  background: #ffd281;
}

.confidence-yellow {
  background: #fefe7f;
}

.confidence-green {
  background: #87dd87;
}

.grey {
  background: #F8F8F8;
}

.link-status {
  width: 55px;
  margin-top: 4px;
}

.link-buttons {
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.link-over {
  background: #f0f0df !important;
}

.heading {
  padding-left: 19px;
}

.heading div {
  font-weight: bold;
  line-height: 18px;
}

.plus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('/static/jquery-ui/css/treeview/images/plus.gif');
}

.minus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('/static/jquery-ui/css/treeview/images/minus.gif');
}

#tree-header {
  width: 1110px;
  margin:  0px auto;
}

#tree-header div {
  float: left;
}

#tree-header .left {
  width: 200px;
}

#tree-header .middle {
  width: 709px;
}

#tree-header .right {
  width: 200px;
}

#tree-header .toggle-all {
  border: 1px solid #cdcccc;
  background-color: #f2f1f1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.4em;
  margin-right: 6px;
}

.ui-icon {
  margin-right: 3px;
  margin-top: 4px;
}

.aggregation, .comparison {
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}

.lastCollapsable-hitarea {
  background-position: 60% 41% !important;
}

.input {
  line-height: 22px;
}

.input .path {
  color: #1a3636;
  border: 1px solid #aebdbd;
  background-color: #d6e0e2;
  padding: 1px 3px;
  margin-left: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.input .value {
  color: #1f3b1f;
  border: 1px solid #a5b4a5;
  background-color: #dfebd2;
  margin-left: 4px;
  margin-bottom: 3px;
  padding: 1px 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.treeview li {
  padding: 1px 0pt 3px 16px !important;
}

.treeview ul {
  background: none !important;
}
