body {
  color: #656565;
}

#content {
  padding: 14px 14px;
}

p {
  margin-top: 4px;
}

a img {
  border: none;
}

a {
  color: #656565;
  text-decoration: none;
}

a:hover {
  color: #1c1c1c;
  text-decoration: none;
}

#results {
  width: 1125px;
  overflow: auto;
  border-bottom: 1px solid #DBDBDB;
}

#results .link {
  clear: both;
}

#filter {
  float: right !important;
  margin-right: 0px !important;
}

#filter input {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1) inset;
  padding: 2px;
  color: #555555;
}

.link-header {
  border-top: 1px solid #DBDBDB;
  height: 26px;
  line-height: 18px;
}

.link-header div {
  float: left;
}

.link-source, .link-target {
  border-right: 1px solid #DBDBDB;
  padding: 4px 0;
  width: 420px;
  margin-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-details {
  display: none;
  background: none repeat scroll 0 0 #f2f2f4;
  border-top: 2px solid #d4d4d5;
  border-bottom: 2px solid #d4d4d5;
  font-size: 12px;
}

.link-confidence {
  border-right: 1px solid #DBDBDB;
  width: 90px;
  height: 22px;
  padding-top: 4px;
}

.confidencebar {
  width: 75px;
  height: 15px;
  margin-right: 20px;
  float: left;
}

.confidence {
  position: absolute;
  font-size: 11px;
  margin-left: 17px;
  line-height: 14px;
}

.confidence-red {
  background: #f14e4e;
}

.confidence-orange {
  background: #ffd281;
}

.confidence-yellow {
  background: #fefe7f;
}

.confidence-green {
  background: #87dd87;
}

.grey {
  background: #F8F8F8;
}

.link-status {
  border-right: 1px solid #DBDBDB;
  width: 65px;
  margin-left: 10px;
  padding: 4px 0;
}

.link-buttons {
  margin-left: 10px;
  margin-top: 4px;
}

.link-over {
  background: #f0f0df !important;
}

.heading {
  padding-left: 19px;
}

.heading div {
  font-weight: bold;
  line-height: 18px;
}

.plus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('/static/jquery-ui/css/treeview/images/plus.gif');
}

.minus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('/static/jquery-ui/css/treeview/images/minus.gif');
}

#tree-header, #tree-footer {
  width: 1125px;
}

#tree-header div {
  float: left;
}

#tree-header .left {
  width: 200px;
}

#tree-header .middle {
  width: 724px;
}

#tree-header .right {
  width: 200px;
}

#tree-header .toggle-all {
  border: 1px solid #cdcccc;
  background-color: #f2f1f1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.4em;
  margin-right: 6px;
}

.ui-icon {
  margin-right: 3px;
  margin-top: 4px;
}

.aggregation, .comparison {
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}

.lastCollapsable-hitarea {
  background-position: 60% 41% !important;
}

.input {
  line-height: 22px;
}

.source-path,
.target-path,
.source-value,
.target-value  {
  padding: 1px 3px;
  margin-left: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.target-path {
  color: #3b3b1f;
  border: 1px solid #9d9d90;
  background-color: #e2dabf;
}

.target-value {
  color: #3b3b1f;
  border: 1px solid #b5b5a7;
  background-color: #f1f1df;
}

.source-path {
  color: #1f313b;
  border: 1px solid #929b9f;
  background-color: #cddbdd;
}

.source-value {
  color: #1f313b;
  border: 1px solid #a7b0b5;
  background-color: #e4ecf1;
}

.treeview li {
  padding: 1px 0px 1px 16px !important;
}

.treeview ul {
  background: none !important;
}

.treeview {
  padding: 1px 2px 16px 4px !important;
}

.treeview li.lastCollapsable {
  background-position: 0 -113px !important;
}

#results .ui-corner-all {
  border-radius: 0;
}

#results .ui-corner-left {
  border-radius: 0;
}