body{
  font-family:"Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
}

.container  {
  border: 1px solid #eee;
  height:90%;
  padding:5px;
  width:auto;
  min-width: 1090px;
  max-width:100%;
  margin: 10px 5px;
  float: left;
}

.draggables {
  float: left;
  background-color: #ffffff;
  border:1px dashed #d9d9d9;
  padding:5px;
}

.wrapperEditor {
  width: 1100px;
}

.draggable {
  width: 200px;
  height: 13px;
  padding: 4px;
  margin: 4px 4px 4px 0;
  background-color: #f2d7ff;
  border:1px dotted #582271;
  text-align: left;
  cursor:move;
  font-size: 9pt;
  z-index:50;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
}

.draggable p {
  line-height: 14px;
}

.droppable_outer {
	min-width: 830px;
  width: auto;
  height: 800px;
	margin: 0 8px;
	float: left;
}

#droppable {
  width: auto;
  height: 800px;
  padding: 5px;
  overflow: scroll;
  position: relative;
  background: url("../img/editor/grid.png") repeat scroll 0 0;
  border:1px dashed #d9d9d9;
  margin-bottom: 8px;
}

.draggable-inside {
  width: 200px;
  height: 13px;
  padding: 4px;
  margin: 4px 4px 4px 0;
  background-color: #d6eeff;
  border:1px dotted #582271;
  text-align: left;
  cursor:move;
  font-size: 9pt;
}

.aggregators {
	background-color: #d6eeff;
	border:1px dotted #1484d4;
}
.transformations {
	background-color: #d6fff0;
	border:1px dotted #0cc481;
}
.comparators {
	background-color: #ffeed6;
	border:1px dotted #e59829;
}
.targets {
  background-color: #ffd7d7;
	border:1px dotted #c35454;
}

._jsPlumb_endpoint { z-index: 2; }

.dragDiv {
  width:200px;
  position:relative;
  left:100px;
  top:100px;
  font-size: 9pt;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.dragDiv h5 {
  height: 15px;
  font-size: 9pt;
  cursor: move;
  padding: 4px;
  border-radius: 5px 5px 0 0;
}

.dragDiv .content {
  min-height: 14px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}

.dragDiv .content input {
  margin-top: 3px;
}

.sourceDiv:hover {
  background-color:#f2d7ff;
  box-shadow: 1px 1px 6px #C354BF;
}

.targetDiv:hover {
  background-color: #ffd7d7;
  box-shadow: 1px 1px 6px #c35454;
}

.transformDiv:hover {
  background-color: #d6fff0;
  box-shadow: 1px 1px 6px #0cc481;
}

.compareDiv:hover {
  background-color: #ffeed6;
  box-shadow: 1px 1px 6px #e59829;
}

.aggregateDiv:hover {
  background-color: #d6eeff;
  box-shadow: 1px 1px 6px #1484d4;
}

.sourceDiv h5 {
  background-color: #C354BF;
}

.targetDiv h5 {
  background-color: #c35454;
}

.transformDiv h5 {
  background-color: #0cc481;
}

.compareDiv h5 {
  background-color: #e59829;
}

.aggregateDiv h5 {
  background-color:#1484d4;
}

.sourceDiv .content {
  border-color: #C354BF;
}

.targetDiv .content {
  border-color: #c35454;
}

.transformDiv .content {
  border-color: #0cc481;
}

.compareDiv .content {
  border-color: #e59829;
}

.aggregateDiv .content {
  border-color: #1484d4;
}

.label, .label-active {
  overflow: hidden;
}

.dragDiv small, .draggable span, .draggable small{
	display:none;
}

.dragactive{
	background-color: #ffcccc;
	border: 1px dashed #e5a8a8;
}

.drophover{
	background-color: #d5eca6;
	border: 1px dotted #c7dd9b;
}

.drophighlight{
	background-color: #cae9ec;
	border: 1px solid #b9d5d8;
}

.description {
  font-size:12px;
  text-align:center;
}

.scrollboxes {
  width: 230px;
  height: 130px;
  overflow: auto;
  background: #fafafa;
  border: 1px dotted #c8c7c7;
  padding: 1px 1px 3px 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.boxheaders {
  font-weight: bold;
  margin-top: 5px;
}

.accepthighlight{
  background-color: #66ff00;
  border: 2px solid #009948;
}

.accepthoverhighlight {
	background-color: #ffff00;
  border: 2px solid #f1d21e;
}

#exclamation {
  width: 24px;
  height: 24px;
  background-image: url('../img/exclamation.png');
  float: right;
  margin-top: 8px;
  margin-right: 27px;
}

#tick {
  width: 24px;
  height: 24px;
  background-image: url('../img/tick.png');
  float: right;
  margin-top: 8px;
  margin-right: 27px;
}

#warning {
  width: 24px;
  height: 24px;
  background-image: url('../img/warning.png');
  float: right;
  margin-top: 8px;
  margin-right: 27px;
}

#pending {
  width: 24px;
  height: 24px;
  background-image: url('../img/pending.gif');
  float: right;
  margin-top: 8px;
  margin-right: 27px;
}

#info {
  color: #717171;
  line-height: 40px;
  float: right;
  padding-right: 14px;
}

#info .precision, #info .recall, #info .measure {
  border-right: 1px solid #bab9b9;
  padding-left: 12px;
  padding-right: 12px;
}

#info-box {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  filter:alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  padding: 8px 8px 0;
  width: 270px;
  max-height: 200px;
  top: 35px;
  overflow: auto;
  z-index: 3;
  font-size: 12px;
  line-height: 16px;
}

.number-messages {
  margin-left: 26px;
  vertical-align: middle;
}

.msg {
  margin-bottom: 8px;
}

.highlighted {
  border: 4px solid #ff0000;
}

.new-path {
  width: 165px;
  margin: 0;
}

#refresh {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-top: 2px;
  background-image: url('../img/refresh.png');
  float: left;
}

#source_restriction, #target_restriction {
  float: left;
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#source_id {
  color: #502c4f;
  border: 1px solid #c6a0c4;
  background-color: #f2d7ff;
}
#target_id {
  color: #4f2b2b;
  border: 1px solid #c7a1a1;
  background-color: #ffe8e8;
}

#source_id, #target_id {
  padding: 0px 2px;
  border-radius: 5px;
}

#score-widget {
  float: right;
  margin-right: 20px;
  color: rgb(113, 113, 113);
  line-height: 40px;
}