// Stack of Carbon variables that are necessary to use their framework
// TODO: calculate them from own configuration variables, all unchanged variables are commented out

/// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
$css--font-face: false !default;

/// If true, includes the `css-helpers()` mixin
$css--helpers: false !default;

/// If true, includes the `css-body()` mixin
$css--body: false !default;

/// If true, the `layer()` mixin sets `box-shadow` values
$css--use-layer: true !default;

/// If true, include reset CSS
$css--reset: true !default;

/// If true, include default type
$css--default-type: false !default;

/// Used with `css--font-face` feature flag, if true, uses Plex font families instead of Helvetica
$css--plex: false !default;

$feature-flags: (
    ui-shell: true,
    grid-columns-16: true,
) !default;

// ⚠️ Manage deprecations
$deprecations--entry: true;
$deprecations--reasons: ();
$deprecations--message: 'Deprecated code was found, this code will be removed before the next release of Carbon.';

$carbon--base-font-size: $ecc-size-typo-base !default;
@import '~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/vendor/@carbon/layout/convert';

$caption-01: (
  font-size: carbon--rem($ecc-size-typo-caption),
  line-height: $ecc-size-typo-text-lineheight / $ecc-size-type-levelratio,
) !default;
$label-01: (
  font-size: carbon--rem($ecc-size-typo-caption),
  line-height: $ecc-size-typo-text-lineheight / $ecc-size-type-levelratio,
) !default;
$helper-text-01: (
  font-size: carbon--rem($ecc-size-typo-caption),
  line-height: $ecc-size-typo-text-lineheight / $ecc-size-type-levelratio,
) !default;
$body-short-01: (
  font-size: carbon--rem($ecc-size-typo-text),
  line-height: $ecc-size-typo-text-lineheight / $ecc-size-type-levelratio,
) !default;
$body-long-01: (
  font-size: carbon--rem($ecc-size-typo-text),
  line-height: $ecc-size-typo-text-lineheight,
) !default;
$code-01: (
  font-family: $ecc-font-family-monospace,
  font-size: carbon--rem($ecc-size-typo-caption),
  line-height: $ecc-size-typo-text-lineheight / $ecc-size-type-levelratio,
) !default;
$heading-01: (
  font-size: carbon--rem($ecc-size-typo-text),
  font-weight: 600,
  line-height: $ecc-size-typo-text-lineheight,
) !default;

$body-short-02: (
  font-size: carbon--rem($ecc-size-typo-subtitle),
  line-height: $ecc-size-typo-text-lineheight,
) !default;
$body-long-02: (
  font-size: carbon--rem($ecc-size-typo-subtitle),
  line-height: $ecc-size-typo-text-lineheight * $ecc-size-type-levelratio,
) !default;
$code-02: (
  font-family: $ecc-font-family-monospace,
  font-size: carbon--rem($ecc-size-typo-text),
  line-height: $ecc-size-typo-text-lineheight,
) !default;
$heading-02: (
font-size: carbon--rem($ecc-size-typo-subtitle),
font-weight: 600,
line-height: $ecc-size-typo-text-lineheight * $ecc-size-type-levelratio,
) !default;

$ui-02: $ecc-color-workspace-background !default;
$ui-03: rgba($ecc-color-workspace-text, 0.1) !default;
