@(project: String, sharedResources: Boolean)

@widgets.dialog(title = "Delete Project", submitLabel = "Yes, delete it") {

  <p>
    @if(sharedResources) {
      Delete project <span class="delete-dialog-resource">@project</span>? Note that resources will not be deleted because they are shared across projects.
    } else {
      Delete project <span class="delete-dialog-resource">@project</span> including all resources?
    }
  </p>

  <script type="text/javascript">//<![CDATA[

    function submit() {
      deleteProject('@project');
      closeDialog();
    }

  //]]>
  </script>
}