@(project: String, task: String, taskLabel: String, dependentTaskLabels: Seq[String])

@if(dependentTaskLabels.isEmpty) {

  @widgets.dialog(title = "Delete task", submitLabel = "Yes, delete it") {
    <p>
      Delete task: <span class="delete-dialog-resource">@taskLabel</span>
    </p>

    <script type="text/javascript">//<![CDATA[
      function submit() {
        deleteTask('@project', '@task');
        closeDialog();
      }
    //]]></script>
  }

} else {

  @widgets.dialog(title = "Cannot delete task", submitLabel = "Ok") {
    <p>
      Cannot delete task <span class="delete-dialog-resource">@taskLabel</span>, because the following tasks depend on it:
      <ul>
      @for(dependentTaskLabel <- dependentTaskLabels) {
        <li>@dependentTaskLabel</li>
      }
      </ul>
    </p>

    <script type="text/javascript">//<![CDATA[
      function submit() {
        closeDialog();
      }
    //]]></script>
  }

}