@()

@import controllers.workspace.routes.Assets

@header = {
  <link rel="stylesheet" href="@Assets.at("libs/jstree/style.min.css")" type="text/css" />
  <link rel="stylesheet" href="@Assets.at("workspace.css")" type="text/css" />
  <script src="@Assets.at("libs/jstree/jstree.min.js")" type="text/javascript"></script>
  <script src="@Assets.at("workspace.js")" type="text/javascript"></script>
}

@toolbar = {
  <ul>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="newProject()" >New Project</button>
    </li>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="importProject()" >Import Project</button>
    </li>
    <li>
      <button class="mdl-button mdl-js-button mdl-button--raised" onclick="reloadWorkspaceInBackend()" >Reload</button>
    </li>
  </ul>
}

@content = {
  <div id="workspace_tree" >
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <!--<img src="@Assets.at("img/pending.gif")">-->
  </div>
}

@main(None, "workspace")(header)(toolbar)(content)