@import org.silkframework.workspace.activity.ProjectExecutor
@import plugins.WorkbenchPlugins
@import org.silkframework.workspace.Project
@import plugins.WorkbenchPlugin.TaskActions
@import org.silkframework.runtime.plugin.PluginRegistry
@import controllers.workspace.routes.Assets
@import org.silkframework.config.TaskSpec
@import org.silkframework.workspace.Workspace
@import org.silkframework.workspace.ProjectTask

@(workspace: Workspace)

<script type="text/javascript" >
  $(function () {
    $('#workspace_root').jstree({
      "plugins": [ "search", "state" ],
      "state": { "key" : "workspace_state" },
      "search": { "show_only_matches": true }
    });

    var to = false;
    $('#workspaceSearch').keyup(function () {
      if(to) { clearTimeout(to); }
      to = setTimeout(function () {
        var v = $('#workspaceSearch').val();
        $('#workspace_root').jstree(true).search(v);
      }, 250);
    });
  });
</script>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input onfocus="$(this).parent().addClass('is-focused')" onblur="$(this).parent().removeClass('is-focused')" class="mdl-textfield__input" type="text" id="workspaceSearch">
  <label class="mdl-textfield__label" for="workspaceSearch">Search</label>
</div>

<div id="workspace_root">
  <ul  class="filetree">
    @for(p <- workspace.projects) {
      @project(p)
    }
  </ul>
</div>

@project(project: Project) = {
  <li id="project_@project.name" data-jstree='{"icon":"@Assets.at(projectIcon(project))"}' title="@project.loadingErrors.mkString(", ")" >
    @project.name
    @button("Prefixes", "Edit prefixes", "wrench-screwdriver.png", s"editPrefixes('${project.name}')")
    @button("Resources", "Manage resources", "wrench.png", s"editResources('${project.name}')")
    @button("Link Spec", "Import link specification", "document--plus.png", s"importLinkSpec('${project.name}')")
    @button("Export", "Export project", "document-export.png", s"exportProject('${project.name}')")
    @if(PluginRegistry.availablePlugins[ProjectExecutor].nonEmpty) {
      @button("Execute", "Execute project", "document-export.png", s"executeProject('${project.name}')")
    }
    @button("Clone", "Clone project", "clone.png", s"cloneProject('${project.name}')")
    @button("Remove", "Remove project", "cross.png", s"deleteProjectConfirm('${project.name}')")
    <ul>
      @for(plugin <- WorkbenchPlugins();
           taskActions <- plugin.tasks) {
        @taskType(project, taskActions)
      }
    </ul>
  </li>
}

@projectIcon(project: Project) = @{
  if(project.loadingErrors.isEmpty)
    "img/project.png"
  else
   "img/project-error.png"
}

@taskType(project: Project, taskActions: TaskActions[_ <: TaskSpec]) = {
  <li data-jstree='{"icon":"@taskActions.folderIcon"}' >
    @{taskActions.name}s
    @for(path <- taskActions.createDialog(project.name)) {
      @button("Add", "Add " + taskActions.name, "plus.png", s"workspaceDialog('$path')")
    }
    <ul>
      @for(t <- taskActions.projectTasks(project)) {
        @task(project, t, taskActions)
      }
    </ul>
  </li>
}

@task(project: Project, task: ProjectTask[_ <: TaskSpec], taskActions: TaskActions[_ <: TaskSpec]) = {
  <li id="task_@{project.name}_@task.id" data-jstree='{"icon":"@taskActions.icon"}'>
    @task.id
    @for(path <- taskActions.propertiesDialog(project.name, task.id)) {
      @button("Properties", "Edit task properties", "wrench.png", s"workspaceDialog('$path')")
    }
    @for(path <- taskActions.open(project.name, task.id)) {
      @button("Open", "Open task", "document--pencil.png", s"window.location = '${config.baseUrl}/$path'")
    }
    @button("Clone", "Clone task", "clone.png", s"cloneTask('${project.name}', '${task.id}')")
    @button("Remove", "Remove task", "cross.png", s"deleteTaskConfirm('${project.name}', '${task.id}')")
    <ul>
      @for((key, value) <- taskActions.properties(task.data)(project.config.prefixes) if !value.isEmpty) {
        <li data-jstree='{"icon":"@Assets.at("img/file-tag.png")"}'>
          @key: @value
        </li>
      }
    </ul>
  </li>
}

@button(title: String, tooltip: String, icon: String, onClick: String) = {
  <div class="workspace_button" title="@tooltip" onclick="@onClick">
    <img width="16" height="16" src="@Assets.at("img/" + icon)"/>
    <span>@title</span>
  </div>
}