.metadata-block {
  width: 100%;
  padding: 5px;
  border: 1px solid #e0e0e0;
  margin: 10px 0;
  .title {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    margin: 0;
  }

  .content {
    padding: 10px;
  }
}
