@import org.silkframework.dataset.Dataset
@import org.silkframework.rule.{LinkSpec, TransformSpec}
@import org.silkframework.workspace.User
@import org.silkframework.dataset.DatasetSpec.PlainDatasetSpec

@(project: String, task: String, createDialog: Boolean)

@datasets = @{ User().workspace.project(project).tasks[PlainDatasetSpec] }

@transformTasks = @{ User().workspace.project(project).tasks[TransformSpec] }

@linkingTask = @{ User().workspace.project(project).tasks[LinkSpec].find(_.id == task) }

@currentInputs = @{ linkingTask.map(_.data.dataSelections) }

@currentOutput = @{ linkingTask.flatMap(_.data.outputs.headOption) }

@prefixes = @{ User().workspace.project(project).config.prefixes }

@tooltip = @{
  """Additional restrictions on the enumerated entities.
  |If this is an RDF source, use SPARQL patterns that include the variable ?a to identify the enumerated entities, e.g.,
  |?a foaf:knows <http://example.org/SomePerson>""".stripMargin
}

@widgets.dialog(title = "Linking Task", createDialog = createDialog) {
  <div class="dialog-form" id="linkingTaskDialogForm">
    @if(task.isEmpty) {
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="linking_task_name" name="linking_task_name"/>
        <label class="mdl-textfield__label" for="linking_task_name">Name</label>
      </div>
    }
    @if(currentInputs.isDefined) {
      @widgets.datasetSelect(project, "source", Some(currentInputs.get.source.inputId))
    } else {
      @widgets.datasetSelect(project, "source", None)
    }
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="source_type" name="source_type" @for(t <- linkingTask) { value="@t.data.dataSelections.source.typeUri.serialize(prefixes)" }/>
      <label class="mdl-textfield__label" for="source_type">Source Type</label>
      <div class="mdl-tooltip mdl-tooltip--right" for="source_type">
        The type of entities to be retrieved from the source dataset.
      </div>
    </div>
    @widgets.multilineParameter("source", currentInputs.map(_.source.restriction.serialize).getOrElse(""), label = "Source Restriction", tooltip = tooltip)
    @if(currentInputs.isDefined) {
      @widgets.datasetSelect(project, "target", Some(currentInputs.get.target.inputId))
    } else {
      @widgets.datasetSelect(project, "target", None)
    }
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="target_type" name="target_type" @for(t <- linkingTask) { value="@t.data.dataSelections.target.typeUri.serialize(prefixes)" }/>
      <label class="mdl-textfield__label" for="target_type">Target Type</label>
      <div class="mdl-tooltip mdl-tooltip--right" for="target_type">
        The type of entities to be retrieved from the target dataset.
      </div>
    </div>
    @widgets.multilineParameter("target", currentInputs.map(_.target.restriction.serialize).getOrElse(""), label = "Target Restriction", tooltip = tooltip)
    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
      <select class="mdl-selectfield__select" id="output_dataset" name="output_dataset">
        <option value=""></option>
        @for(dataset <- datasets) {
          @if(currentOutput.isDefined && dataset.id == currentOutput.get) {
            <option value="@dataset.id" selected="selected">@dataset.id</option>
          } else {
            <option value="@dataset.id">@dataset.id</option>
          }
        }
      </select>
      <label class="mdl-selectfield__label" for="output_dataset">Output</label>
      <div class="mdl-tooltip mdl-tooltip--right" for="output_dataset">
        The generated links are written to this dataset.
        If not specified, the links are only cached locally.
      </div>
    </div>
  </div>
}

<script type="text/javascript">

  // The variable name.
  var varName;
  // The name of the currently edited datasource.
  var sourceName;

  $(function() {
    // Add autocompletion
    $("input[name='source_type']").autocomplete({
      appendTo: "#linkingTaskDialogForm",
      source: function( request, response ) {
        var dataset = $("select[name='source_dataset']").val();
        $.get('@config.baseUrl/workspace/datasets/@project/' + dataset + '/types', { search: request.term }, function(data) {
          response(data);
        });
      },
      minLength: 0
    }).focus(function() { $(this).autocomplete("search"); });

    $("input[name='target_type']").autocomplete({
      appendTo: "#linkingTaskDialogForm",
      source: function( request, response ) {
        var dataset = $("select[name='target_dataset']").val();
        $.get('@config.baseUrl/workspace/datasets/@project/' + dataset + '/types', { search: request.term }, function(data) {
          response(data);
        });
      },
      minLength: 0
    }).focus(function() { $(this).autocomplete("search"); });
  });

  function submit() {
    const values = {
      id: @if(!task.isEmpty) {'@task'} else {$("#linking_task_name").val()},
      data: {
        taskType: "Linking",
        source: {
          inputId: $("#source_dataset").val(),
          typeUri: $("#source_type").val(),
          restriction: $("#source").val()
        },
        target: {
          inputId: $("#target_dataset").val(),
          typeUri: $("#target_type").val(),
          restriction: $("#target").val()
        },
        outputs: $("#output_dataset").val().split(" ").filter(String)
      }
    };

    if(values.id.length === 0) {
      alert("Task name is empty.");
      return;
    }

    var callbacks = {
      success: function() {
        closeDialog();
      },
      error: function(msg) {
        $("#primary_dialog .dialog__error-msg .mdl-alert__content").text(msg);
        $("#primary_dialog .dialog__error-msg").fadeIn();
      }
    };

    @if(createDialog) {
      postTask('@project', values, callbacks);
    } else {
      putTask('@project', values.id, values, callbacks);
    }
  }
</script>
