@import org.silkframework.workspace.User
@import org.silkframework.workspace.Constants
@import org.silkframework.dataset.Dataset
@import org.silkframework.util.DPair
@import controllers.rules.routes.Assets
@import org.silkframework.config.TransformSpec

@import org.silkframework.config.LinkSpec
@import org.silkframework.config.TransformSpec
@(project: String, task: String)

@datasets = @{ User().workspace.project(project).tasks[Dataset] }

@transformTasks = @{ User().workspace.project(project).tasks[TransformSpec] }

@linkingTask = @{ User().workspace.project(project).tasks[LinkSpec].find(_.id == task) }

@currentInputs = @{ linkingTask.map(_.data.dataSelections) }

@currentOutput = @{ linkingTask.flatMap(_.data.outputs.headOption) }

@prefixes = @{ User().workspace.project(project).config.prefixes }

@widgets.dialog(title = "Linking Task") {
  <div class="dialog-form">
    @if(task.isEmpty) {
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="linking_task_name" name="linking_task_name"/>
        <label class="mdl-textfield__label" for="linking_task_name">Name</label>
      </div>
    }
    @if(currentInputs.isDefined) {
      @widgets.datasetSelect(project, "source", Some(currentInputs.get.source.inputId))
    } else {
      @widgets.datasetSelect(project, "source", None)
    }
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="source_type" name="source_type" @for(t <- linkingTask) { value="@t.data.dataSelections.source.typeUri.serialize(prefixes)" }/>
      <label class="mdl-textfield__label" for="source_type">Source Type</label>
    </div>
    @restriction("source", currentInputs.map(_.source.restriction.serialize).getOrElse(""))
    @if(currentInputs.isDefined) {
      @widgets.datasetSelect(project, "target", Some(currentInputs.get.target.inputId))
    } else {
      @widgets.datasetSelect(project, "target", None)
    }
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="target_type" name="target_type" @for(t <- linkingTask) { value="@t.data.dataSelections.target.typeUri.serialize(prefixes)" }/>
      <label class="mdl-textfield__label" for="target_type">Target Type</label>
    </div>
    @restriction("target", currentInputs.map(_.target.restriction.serialize).getOrElse(""))
    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
      <select class="mdl-selectfield__select" id="output_dataset" name="output_dataset">
        <option value=""></option>
        @for(dataset <- datasets) {
          @if(currentOutput.isDefined && dataset.id == currentOutput.get) {
            <option value="@dataset.id" selected="selected">@dataset.id</option>
          } else {
            <option value="@dataset.id">@dataset.id</option>
          }
        }
      </select>
      <label class="mdl-selectfield__label" for="output_dataset">Output</label>
    </div>
  </div>
}

@restriction(sourceOrTarget: String, value: String) = {
<tr>
  <td>@{sourceOrTarget} restriction</td>
  <td>
    <div id="@{sourceOrTarget}_restriction_textfield_container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @{sourceOrTarget}-restriction-container">
      <input id="@{sourceOrTarget}_restriction_textfield" class="mdl-textfield__input" type="text"
             name="@{sourceOrTarget}_restriction_textfield" title="Restrict @{sourceOrTarget} dataset using SPARQL clauses"
             value="@value">
      <label class="mdl-textfield__label" for="@{sourceOrTarget}_restriction_textfield">@{sourceOrTarget} Restriction</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @{sourceOrTarget}-restriction-container" style="display: none;">
      <textarea id="@{sourceOrTarget}_restriction_textarea" name="@{sourceOrTarget}_sparql_restriction" class="mdl-textfield__input" type="text" rows="5">@value</textarea>
      <label class="mdl-textfield__label" for="@{sourceOrTarget}_restriction_textarea">@{sourceOrTarget} Restriction</label>
    </div>
  </td>
</tr>
<script type="text/javascript">
  $("#@{sourceOrTarget}_restriction_textfield").focus(function() {
    $(".@{sourceOrTarget}-restriction-container").toggle(200, "linear");
    $("#@{sourceOrTarget}_restriction_textarea").focus();
  });
  $("#@{sourceOrTarget}_restriction_textarea").focusout(function() {
    $(".@{sourceOrTarget}-restriction-container").toggle(200, "linear");
    var restriction = $("#@{sourceOrTarget}_restriction_textarea").val().replace(/[\n\r]+/g, ' ');
    document.querySelector('#@{sourceOrTarget}_restriction_textfield_container').MaterialTextfield.change(restriction);
  });
</script>
}

<script type="text/javascript">

  // The variable name.
  var varName;
  // The name of the currently edited datasource.
  var sourceName;

  $(function() {
    // Add autocompletion
    $("input[name='sourceType']").autocomplete({
      source: function( request, response ) {
        var dataset = $("select[name='source']").val();
        $.get('@config.baseUrl/workspace/datasets/@project/' + dataset + '/types', { search: request.term }, function(data) {
          response(data);
        });
      },
      minLength: 0
    }).focus(function() { $(this).autocomplete("search"); });

    $("input[name='targetType']").autocomplete({
      source: function( request, response ) {
        var dataset = $("select[name='target']").val();
        $.get('@config.baseUrl/workspace/datasets/@project/' + dataset + '/types', { search: request.term }, function(data) {
          response(data);
        });
      },
      minLength: 0
    }).focus(function() { $(this).autocomplete("search"); });
  });

  function submit() {
    var values = {
      name: @if(!task.isEmpty) {'@task'} else {$("#linking_task_name").val()},
      source: $("#linking_task_source").val(),
      sourceType: $("#source_type").val(),
      sourceRestriction: $("#source_restriction_textarea").val(),
      target: $("#linking_task_target").val(),
      targetType: $("#target_type").val(),
      targetRestriction: $("#target_restriction_textarea").val(),
      output: $("#output_dataset").val()
    };

    if(values.name.length === 0) {
      alert("Task name is empty.");
      return;
    }

    $.ajax({
      type: 'PUT',
      url: '@config.baseUrl/linking/tasks/@project/' + values.name,
      data: values,
      success: function(data) {
        closeDialog();
        reloadWorkspace();
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }
</script>