@import de.fuberlin.wiwiss.silk.config.TransformSpecification
@import de.fuberlin.wiwiss.silk.dataset.Dataset
@import de.fuberlin.wiwiss.silk.workspace.User

@(project: String, task: String)

@datasets = @{ User().workspace.project(project).tasks[Dataset].toSeq }

@transformationTask = @{ User().workspace.project(project).tasks[TransformSpecification].find(_.name == task) }

@currentInput = @{ transformationTask.map(_.data.selection) }

@currentOutput = @{ transformationTask.flatMap(_.data.outputs.headOption) }

@widgets.dialog(title = "Transformation Task") {
  <table border="0">
    @if(task.isEmpty) {
      <tr>
        <td>Name</td>
        <td><input name="name" title="Name" size="60"/></td>
      </tr>
    }
    <tr>
      <td>Source</td>
      <td>
        <select name="source" title="Source dataset">
          @for(dataset <- datasets) {
            @if(currentInput.isDefined && dataset.name == currentInput.get.datasetId) {
              <option value="@dataset.name" selected="selected">@dataset.name</option>
            } else {
              <option value="@dataset.name">@dataset.name</option>
            }
          }
        </select>
      </td>
    </tr>
    <tr>
      <td>Restriction</td>
      <td>
        <input name="restriction" title="Restrict dataset using SPARQL clauses" size="50"
               value="@currentInput.map(_.restriction).getOrElse("")"/>
        @* <img title="Edit" style="cursor: pointer" onclick="openRestrictionDialog('source')" src="@routes.Assets.at("img/workspace/wrench-screwdriver.png")" /> *@
      </td>
    </tr>
    <tr>
      <td>Output</td>
      <td>
        <select name="output" title="Output dataset">
          @for(dataset <- datasets) {
            @if(currentOutput.isDefined && dataset.name == currentOutput.get.id) {
              <option value="@dataset.name" selected="selected">@dataset.name</option>
            } else {
              <option value="@dataset.name">@dataset.name</option>
            }
          }
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td align="right"><button onclick='submit()'>Ok</button></td>
    </tr>
  </table>
}

<div id="restrictionDialog"></div>

<script type="text/javascript">
  function submit() {
    var values = {
      name: @if(!task.isEmpty) {'@task'} else {$("input[name='name']").val()},
      source: $("select[name='source']").val(),
      restriction: $("input[name='restriction']").val(),
      output: $("select[name='output']").val()
    };

    if(values.name.length === 0) {
      alert("Task name is empty.");
      return;
    }

    $.ajax({
      type: 'PUT',
      url: '@config.baseUrl/transform/tasks/@project/' + values.name,
      data: values,
      success: function(data) {
        closeDialog();
        reloadWorkspace();
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }
</script>