@import org.silkframework.dataset.DatasetSpec.GenericDatasetSpec
@import org.silkframework.rule.TransformSpec
@import org.silkframework.workspace.WorkspaceFactory

@import org.silkframework.runtime.activity.UserContext
@(project: String, task: String, createDialog: Boolean)(implicit userContext: UserContext)

@datasets = @{ WorkspaceFactory().workspace.project(project).tasks[GenericDatasetSpec].toSeq }

@transformationTask = @{ WorkspaceFactory().workspace.project(project).tasks[TransformSpec].find(_.id == task) }

@currentInput = @{ transformationTask.map(_.data.selection) }

@currentOutput = @{ transformationTask.flatMap(_.data.output) }

@prefixes = @{ WorkspaceFactory().workspace.project(project).config.prefixes }

@restrictionTooltip = @{
  """Additional restrictions on the enumerated entities.
  |If this is an RDF source, use SPARQL patterns that include the variable ?a to identify the enumerated entities, e.g.,
  |?a foaf:knows <http://example.org/SomePerson>""".stripMargin
}

@widgets.dialog(title = "Transformation Task", createDialog = createDialog) {
<div class="dialog-form" id="transFormationDialogForm">
  @if(task.isEmpty) {
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="transformation_task_name" name="transformation_task_name"/>
      <label class="mdl-textfield__label" for="transformation_task_name">Name</label>
    </div>
  }
  @if(currentInput.isDefined) {
    @widgets.datasetSelect(project, "source", Some(currentInput.get.inputId))
  } else {
    @widgets.datasetSelect(project, "source", None)
  }
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="transformation_type" name="transformation_type" @for(t <- transformationTask) { value="@t.data.selection.typeUri.serialize(prefixes)" } />
    <label class="mdl-textfield__label" for="transformation_type">Source Type</label>
    <div class="mdl-tooltip mdl-tooltip--right" for="transformation_type">
      The type of entities to be retrieved from the source dataset.
    </div>
  </div>
  @widgets.multilineParameter("source", currentInput.map(_.restriction.serialize).getOrElse(""), label = "Source Restriction", tooltip = restrictionTooltip)
  @if(currentOutput.isDefined) {
    @widgets.datasetSelect(project, "output", Some(currentOutput.get))
  } else {
    @widgets.datasetSelect(project, "output", None)
  }
  @widgets.multilineParameter("target_vocabularies", transformationTask.map(_.targetVocabularies.mkString(", ")).getOrElse(""), label = "Target Vocabularies", tooltip = "Comma-separated list of target vocabularies.")
</div>
}

<script type="text/javascript">
  // The variable name.
  var varName;
  // The name of the currently edited datasource.
  var sourceName;

  $(function() {
    // Add autocompletion
    $("input[name='transformation_type']").autocomplete({
      appendTo: '#transFormationDialogForm',
      source: function( request, response ) {
        var dataset = $("select[name='source_dataset']").val();
        $.get('@config.baseUrl/workspace/datasets/@project/' + dataset + '/types', { search: request.term }, function(data) {
          response(data);
        });
      },
      minLength: 0,
      close: function(event, ui) {
        $("#transformation_type").parent().addClass("is-dirty");
      }
    }).focus(function() { $(this).autocomplete("search"); });

  });

  function submit() {
    const values = {
      id: @if(!task.isEmpty) {'@task'} else {$("#transformation_task_name").val()},
      data: {
        taskType: "Transform",
        parameters: {
          selection: {
            inputId: $("#source_dataset").val(),
            typeUri: $("#transformation_type").val(),
            restriction: $("#source").val()
          },
          output: $("#output_dataset").val(),
          targetVocabularies: $("#target_vocabularies").val().split(/[,\s]+/).filter(String)
        }
      }
    };

    if(values.id.length === 0) {
      alert("Task name is empty.");
      return;
    }

    var callbacks = {
      success: function() {
        closeDialog();
      },
      error: function(msg) {
        $("#primary_dialog .dialog__error-msg .mdl-alert__content").text(msg);
        $("#primary_dialog .dialog__error-msg").fadeIn();
      }
    };

    @if(createDialog) {
      postTask('@project', values, callbacks);
    } else {
      putTask('@project', values.id, values, callbacks);
    }
  }
</script>
