@(sourceOrTarget: String, value: String)

<div id="@{sourceOrTarget}_restriction_textfield_container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @{sourceOrTarget}-restriction-container">
  <input id="@{sourceOrTarget}_restriction_textfield" class="mdl-textfield__input" type="text"
         name="@{sourceOrTarget}_restriction_textfield" title="Restrict @{sourceOrTarget} dataset using SPARQL clauses"
         value="@value">
  <label class="mdl-textfield__label" for="@{sourceOrTarget}_restriction_textfield">@{sourceOrTarget} Restriction</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @{sourceOrTarget}-restriction-container" style="display: none;">
  <textarea id="@{sourceOrTarget}_restriction_textarea" name="@{sourceOrTarget}_sparql_restriction" class="mdl-textfield__input" type="text" rows="5">@value</textarea>
  <label class="mdl-textfield__label" for="@{sourceOrTarget}_restriction_textarea">@{sourceOrTarget} Restriction</label>
</div>
<script type="text/javascript">
  $("#@{sourceOrTarget}_restriction_textfield").focus(function() {
    $(".@{sourceOrTarget}-restriction-container").toggle(200, "linear");
    $("#@{sourceOrTarget}_restriction_textarea").focus();
  });
  $("#@{sourceOrTarget}_restriction_textarea").focusout(function() {
    $(".@{sourceOrTarget}-restriction-container").toggle(200, "linear");
    var restriction = $("#@{sourceOrTarget}_restriction_textarea").val().replace(/[\n\r]+/g, ' ');
    document.querySelector('#@{sourceOrTarget}_restriction_textfield_container').MaterialTextfield.change(restriction);
  });
</script>
