<?xml version="1.0" encoding="utf-8" ?>
<Silk>
  <Prefixes>
    <Prefix id="p" namespace="" />
    <Prefix id="owl" namespace="http://www.w3.org/2002/07/owl#" />
  </Prefixes>

  <DataSources>
    <DataSource id="source1" type="csv">
      <Param name="url" value="classpath:names/source1.txt"/>
      <Param name="properties" value="name"/>
    </DataSource>
    <DataSource id="source2" type="csv">
      <Param name="url" value="classpath:names/source2.txt"/>
      <Param name="properties" value="name"/>
    </DataSource>
  </DataSources>

  <Interlinks>
    <Interlink id="names">
      <LinkType>owl:sameAs</LinkType>

      <SourceDataset dataSource="source1" var="a">
        <RestrictTo></RestrictTo>
      </SourceDataset>
      <TargetDataset dataSource="source2" var="b">
        <RestrictTo></RestrictTo>
      </TargetDataset>

      <LinkageRule>
        <Compare metric="levenshteinDistance" threshold="2">
          <Input path="?a/p:name" />
          <Input path="?b/p:name" />
        </Compare>
      </LinkageRule>

      <Filter />

    </Interlink>
  </Interlinks>

</Silk>