.main-content {
  padding: 15px 10px;
  width: 100%;

  .left-side-content {
    width: 80%;
    float: left;
    padding-right: 10px;
  }

  .right-side-widgets {
    width: 20%;
    float: left;
  }
}
