@import config.WorkbenchConfig.WorkspaceReact
@(errorMessage: String)(implicit request: RequestHeader, workspaceReact: WorkspaceReact)

@content = {
  <div style="max-width: 60rem; margin: 0 auto; padding: 1rem; ">
    <div class="eccgui-card bp5-card">
      <header>
        <div class="eccgui-card__header">
          <h3 class="mdl-card__title-text">
            Error
          </h3>
        </div>
      </header>
      <hr class="eccgui-separation__divider-horizontal">
      <div class="eccgui-card__content">
        <div class='@{s"bp5-toast eccgui-notification eccgui-intent--warning eccgui-notification--static"}'>
          <div class="bp5-toast-message" role="alert">
            <div class="eccgui-notification__content">
              <div class="eccgui-notification__messagebody">
                <p>@errorMessage</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@frame{

}{
  @content
}
