@import play.api.UsefulException

@(exception: UsefulException)

<div>
  @exception.description
</div>

<div>
  This exception has been logged with id <strong>@exception.id</strong>.
</div>

<div>
  @for(cause <- Option(exception.cause)) {
    @stacktrace(exception.cause)
  }
</div>

@stacktrace(ex: Throwable) = {
  <p>
  @for(el <- ex.getStackTrace) {
    @el.toString
    <br/>
  }
  </p>
  @if(ex.getCause != null) {
    <strong>Cause:</strong>
    @ex.getCause.getMessage
    @stacktrace(ex.getCause)
  }
}
