@import config.WorkbenchConfig
@import controllers.core.Start
@import org.silkframework.config.TaskSpec
@import org.silkframework.workbench.Context

@(context: Option[Context[_ <: TaskSpec]], selectedTab: String = "", titleLabel: String = "")(header: Html)(toolbar: Html)(content: Html)(implicit session: play.api.mvc.Session)

@frame(header) {
    <dialog id="primary_dialog" class="mdl-dialog__container">
      @* Filled with template dialog.scala.html *@
    </dialog>
    <dialog id="secondary_dialog" class="mdl-dialog__container">
      @* Filled with template dialog.scala.html *@
    </dialog>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__inner-container">

      @if(config.workbench.showHeader) {
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">@config.workbench.title</span>
          <div class="mdl-layout-spacer"></div>
            <button id="app-actions"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <script type="text/javascript">
               function app_logout() {
                  f=document.getElementById('logout_form');
                  if(f) {
                    f.submit();
                  }
               }
            </script>
            <form id="logout_form" action="@{Start.deployPath + "logout"}" method="post">
              <input type="hidden" value="Logout" />
            </form>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="app-actions">
              <li class="mdl-menu__item" onclick="showDialog('@config.baseUrl/core/aboutDialog');">About</li>
              <li class="mdl-menu__item" onclick="window.location='@config.baseUrl/core/config'">Configuration</li>
              @if(WorkbenchConfig.get.showLogoutButton && session.get("loggedIn")==Some("true")) {
                <li class="mdl-menu__item" onclick="app_logout();">Logout</li>
              }
            </ul>
        </div>
      </header>
      }
      @tabbar(context, selectedTab, titleLabel)
      @if(toolbar != null) {
        <div id="toolbar" class="clearfix">
        @toolbar
        </div>
      }
      <main class="mdl-layout__content">
        <div id="content" class="mdl-tabs__panel is-active">
          @content
        </div>
        <div id="dialogContainer">
          <div class="dialog">
          </div>
        </div>
      </main>
    </div>
    </div>
}