@import play.api.UsefulException

@import config.WorkbenchConfig.WorkspaceReact
@(exception: UsefulException,
        intent: String,
        showExceptionId: Boolean = true,
        showDetails: Boolean = true,
        title: Option[String] = None,
        details: Option[String] = None)(implicit session: play.api.mvc.Session, workspaceReact: WorkspaceReact)

@frame {

} {
  <div style="max-width: 60rem; margin: 0 auto; padding: 1rem; ">
      <div class="eccgui-card bp5-card">
        <header>
          <div class="eccgui-card__header">
            <h3 class="mdl-card__title-text">
              @{title.getOrElse(exception.title)}
            </h3>
          </div>
        </header>
        <hr class="eccgui-separation__divider-horizontal">
        <div class="eccgui-card__content">
          <div class='@{s"bp5-toast eccgui-notification eccgui-intent--$intent eccgui-notification--static"}'>
            <div class="bp5-toast-message" role="alert">
              <div class="eccgui-notification__content">
                <div class="eccgui-notification__messagebody">
                  <p>@{details.getOrElse(exception.description)}</p>
                  @if(showExceptionId) {
                  <p>
                    This exception has been logged with id <strong>@exception.id</strong>.
                  </p>
                  }
                </div>
                <div class="eccgui-notification__actions error-details-buttons-without-style">
                  <button type="button" class="bp5-button eccgui-button">
                    <span class="bp5-button-text">Show details</span>
                  </button>
                  <button type="button" class="bp5-button eccgui-button" style="display: none;">
                    <span class="bp5-button-text">Hide details</span>
                  </button>
                </div>
                <script type="text/javascript">
                  $(function () {
                    $(".error-details-buttons-without-style button").click(function() {
                      $(".error-details-without-style").slideToggle(300, function() {
                        $(".error-details-buttons-without-style button").toggle();
                      });
                    });
                  });
                </script>
                <div class="bp5-button-group bp5-minimal"></div>
              </div>
            </div>
          </div>
          @if(showDetails) {
          <div class="error-details-without-style eccgui-typography__contentblock" style="display: none;">
            <div class="eccgui-separation__spacing-horizontal eccgui-separation__spacing--medium"></div>
            <h4>Details:</h4>
            <pre class="error-details-scrollbox" style="max-height: 50vh; overflow: auto;">
              @for(cause <- Option(exception.cause)) {
              @stacktrace(exception.cause)
              }
            </pre>
          </div>
          }
        </div>
      </div>
  </div>
}

@stacktrace(ex: Throwable) = {
  <code class="error-details-stacktrace">
  @for(el <- ex.getStackTrace) {
    @el.toString
  }
  </code>
  @if(ex.getCause != null) {
    <strong>Cause:</strong>
    @ex.getCause.getMessage
    @stacktrace(ex.getCause)
  }
}
