@import config.WorkbenchConfig.WorkspaceReact
@import org.silkframework.runtime.activity.UserContext
@import controllers.core.routes.Branding
@(welcome: Html)(implicit request: RequestHeader, userContext: UserContext, workspaceReact: WorkspaceReact)

@exampleName = @{ "movies" }

@projects = @{ org.silkframework.workspace.WorkspaceFactory().workspace.projects }

@header = {
  @coreLinks.mainStyles()
}

@content = {
  <div class="bp4-card bp4-elevation-1 eccgui-card">
    <div class="eccgui-card__content">
        <div class="eccgui-typography__contentblock">
            <div id="welcome">
              <img
                class="logo"
                src="@Branding.logo.url"
                style="float: right; margin: 0 0 1rem 1rem;"
              />
              @welcome
            </div>

            <p>
              Your current workspace contains @projects.size project(s).
            </p>
        </div>
    </div>
    <hr class="eccgui-separation__divider-horizontal eccgui-separation__spacing--none" />
    <footer class="eccgui-card__actions">
        <span>
          <a id="workspace-switch" href="@config.baseUrl/workbench?itemType=project&page=1&limit=10" class="bp4-button bp4-intent-primary eccgui-button ">
              <span class="bp4-button-text">Open workspace</span>
          </a>
          <div class="mdl-tooltip" data-mdl-for="workspace-switch">
            Switch to workspace UI
          </div>
        </span>
        &nbsp;
        <button id="open-workspace-btn" class="bp4-button eccgui-button" onclick="window.location = '@config.baseUrl/workspace'">
            <span class="bp4-button-text">Open legacy workspace</span>
        </button>

        @if(!projects.exists(_.id.toString == exampleName)) {
          <button id="start-load-example" class="bp4-button eccgui-button" onclick="loadExample()" style="margin-left: 5px;">
              <span class="bp4-button-text">Load Example</span>
          </button>
            &nbsp;
        }
    </footer>
  </div>
  <script type="text/javascript">
    function loadExample() {
      $.post('@config.baseUrl/workspace/@exampleName/importExample')
      .success(function(request) { window.location = '@config.baseUrl/workbench/projects/movies' })
      .fail(function(request) { alert(request.responseText); })
    }
  </script>
}

@main(None, "start")(header)(null)(content)
