@import plugins.{Context, WorkbenchPlugins}

@(context: Option[Context[_]], selectedTab: String)

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <!--<div id="title">@config.workbench.title</div>-->
  <div class="mdl-tabs__tab-bar">
    <a href="@config.baseUrl/" onclick="window.location='@config.baseUrl/'" class="mdl-tabs__tab @if(selectedTab == "start") {is-active}">Start</a>
    <a href="@config.baseUrl/workspace" onclick="window.location='@config.baseUrl/workspace'" class="mdl-tabs__tab @if(selectedTab == "workspace") {is-active}">Workspace</a>
    <a href="@config.baseUrl/workspace/status" onclick="window.location='@config.baseUrl/workspace/status'" class="mdl-tabs__tab @if(selectedTab == "status") {is-active}">Status</a>
    @pluginTabs
    <a class="mdl-tabs__tab" onclick="showDialog('@config.baseUrl/core/aboutDialog')">About</a>
  </div>
</div>

@pluginTabs = {
  @for(cont <- context.toSeq;
       plugin <- WorkbenchPlugins();
       tab <- plugin.tabs(cont)) {
    <a href="@config.baseUrl/@tab.path" onclick="window.location='@config.baseUrl/@tab.path'" class="mdl-tabs__tab @if(cont.path.contains(tab.path)) {is-active}">@tab.title</a>
  }
}
