@import plugins.Context
@import plugins.WorkbenchPlugins

@(context: Option[Context[_]], selectedTab: String)

<div id="tabbar">
  <div id="title">@config.workbench.title</div>
  <span>
    <div class="tab @if(selectedTab == "start") {selected}"><a href="@config.baseUrl/">Start</a></div>
    <div class="tab @if(selectedTab == "workspace") {selected}"><a href="@config.baseUrl/workspace">Workspace</a></div>
    <div class="tab @if(selectedTab == "status") {selected}"><a href="@config.baseUrl/workspace/status">Status</a></div>
    @pluginTabs
    <div class="tab"><a onclick="showDialog('@config.baseUrl/core/aboutDialog')">About</a></div>
  </span>
</div>

@pluginTabs = {
  @for(cont <- context.toSeq;
       plugin <- WorkbenchPlugins();
       tab <- plugin.tabs(cont)) {
    <div class="tab @if(cont.path.contains(tab.path)) {selected}" ><a href="@config.baseUrl/@tab.path">@tab.title</a></div>
  }
}
