@(project: String, task: String)

@header = {
}

@toolbar = {
}

@content = {
  <div class="wrapper-header">
    Overall Cache
  </div>

  <div class="wrapper">
    @widgets.taskStatus("status/cacheStream", "cache")
  </div>
  
  <div class="wrapper-header">
    Types Cache
  </div>

  <div class="wrapper">
    @widgets.taskStatus("status/typesCacheStream", "typesCache")
  </div>

  <div class="wrapper-header">
    Path Cache
  </div>

  <div class="wrapper">
    @widgets.taskStatus("status/pathCacheStream", "pathCache")
  </div>

  <div class="wrapper-header">
    Reference Links Cache
  </div>

  <div class="wrapper">
    @widgets.taskStatus("status/referenceEntitiesCacheStream", "referenceEntitiesCache")
  </div>
}

@main(Some(project), Some(task), selectedTab = 5)(header)(toolbar)(content)