@import org.silkframework.rule.execution.ExecuteTransform
@import views.html.workspace.activity.taskActivityControl
@import org.silkframework.workbench.Context
@import org.silkframework.workspace.activity.linking.ExecuteLinking
@import org.silkframework.rule.LinkSpec
@import controllers.workspace.routes.TaskApi
@import controllers.linking.routes.ExecuteLinkingController
@import views.html.workspace.activity.autoReload
@import org.silkframework.workspace.activity.linking.ExecuteLinkingFactory

@(context: Context[LinkSpec])(implicit request: RequestHeader)

@header = {
}

@toolbar = {
  <ul>
    <li>
      @taskActivityControl(context.task.activity[ExecuteLinking], showButtons = true)
    </li>
    <li>
      <a class="mdl-button mdl-js-button mdl-button--icon" href="@TaskApi.downloadOutput(context.project.id, context.task.id).url" target="_download">
        <i class="material-icons">file_download</i>
      </a>
    </li>
  </ul>
}

@content = {
  @autoReload(
    context = context,
    contentPath = ExecuteLinkingController.executionReport(context.project.id, context.task.id).url,
    activityId = ExecuteLinkingFactory.pluginId
  )
}

@main(Some(context), titleLabel = context.task.label())(header)(toolbar)(content)
