@(project: String)

@widgets.dialog(title = "Import Link Specification", width = 500) {
<table border="0">
  <tr>
    <td>File</td>
    <td>
      <form enctype="multipart/form-data">
        <input name="file" type="file" size="10"/>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="right"><button onclick='submit()'>Ok</button></td>
  </tr>
</table>


<script>//<![CDATA[
function submit() {
  var name = $("select[name='name']").val();
  var file = $("input[name='file']").val();
  var formData = new FormData($('form')[0]);

  $.ajax({
    type: 'POST',
    url: '@config.baseUrl/api/workspace/@project/importLinkSpec',
    xhr: function() {
      myXhr = $.ajaxSettings.xhr();
      return myXhr;
    },
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function(data) {
      $('.dialog').dialog('close');
      updateWorkspace();
    },
    error: function(request) {
      alert(request.responseText);
    }
  });
}
//]]>
</script>
}