@(project: String, task: String)

@import de.fuberlin.wiwiss.silk.workspace.User

@sources = @{ User().workspace.project(project).sourceModule.tasks.toSeq }

@linkingTask = @{ User().workspace.project(project).linkingModule.tasks.find(_.name == task) }

@datasets = @{ linkingTask.map(_.linkSpec.datasets) }

@widgets.dialog(title = "Linking Task") {
  <table border="0">
    @if(task.isEmpty) {
      <tr>
        <td>Name</td>
        <td><input name="name" title="Name" size="60"/></td>
      </tr>
    }
    <tr>
      <td>Source</td>
      <td>
        <select name="source" title="Source dataset">
          @for(source <- sources) {
            @if(datasets.isDefined && source.name == datasets.get.source.sourceId) {
              <option value="@source.name" selected="selected">@source.name</option>
            } else {
              <option value="@source.name">@source.name</option>
            }
          }
        </select>
      </td>
    </tr>
    <tr>
      <td>Source restriction</td>
      <td>
        <input name="sourcerestriction" title="Restrict source dataset using SPARQL clauses" size="50"
               value="@datasets.map(_.source.restriction).getOrElse("")"/>
        <img title="Edit" style="cursor: pointer" onclick="openRestrictionDialog('source')" src="@routes.Assets.at("img/workspace/wrench-screwdriver.png")" />
      </td>
    </tr>
    <tr>
      <td>Target</td>
      <td>
        <select name="target" title="Target dataset">
          @for(source <- sources) {
            @if(datasets.isDefined && source.name == datasets.get.target.sourceId.toString) {
              <option value="@source.name" selected="selected">@source.name</option>
            } else {
              <option value="@source.name">@source.name</option>
            }
          }
        </select>
      </td>
    </tr>
    <tr>
      <td>Target restriction</td>
      <td>
        <input name="targetrestriction" title="Restrict target dataset using SPARQL clauses" size="50"
               value="@datasets.map(_.target.restriction).getOrElse("")"/>
        <img title="Edit" style="cursor: pointer" onclick="openRestrictionDialog('target')" src="@routes.Assets.at("img/workspace/wrench-screwdriver.png")" />
      </td>
    </tr>
    <tr>
      <td>Link type</td>
      <td><input name="linktype" title="Type of the generated link" size="50"
                 value="@linkingTask.map(_.linkSpec.linkType.toString).getOrElse("http://www.w3.org/2002/07/owl#sameAs")"/></td>
    </tr>
    <tr>
      <td></td>
      <td align="right"><button onclick='submit()'>Ok</button></td>
    </tr>
  </table>
}

<div id="restrictionDialog"></div>

<script type="text/javascript">
  // The currently edited datasource. Either 'source' or 'target'.
  var sourceOrTarget;
  // The name of the currently edited datasource.
  var sourceName;
  // The currently edited sparql restriction.
  var sparqlRestriction;

  function openRestrictionDialog(openSourceOrTarget) {
    // Set variables
    sourceOrTarget = openSourceOrTarget;
    sourceName = $("select[name='" + sourceOrTarget + "']").val()
    sparqlRestriction = $("input[name='" + sourceOrTarget + "restriction']").val();

    $.get('@config.baseUrl/workspace/dialogs/editRestriction/@project/' + sourceName,
          { sourceOrTarget: sourceOrTarget, restriction: sparqlRestriction },
          function(data) {
            $('#restrictionDialog').html(data);
          }).success(function() { $('#restrictionDialog').dialog({ title: 'Restriction', width: 600 }); } )
  }

  function closeRestrictionDialog(newRestriction) {
    $("input[name='" + sourceOrTarget + "restriction']").val(newRestriction);
    $('#restrictionDialog').dialog('close');
    $('#restrictionDialog').empty();
    $('#restrictionDialog').dialog('destroy');
  }

  function submit() {
    var values = {
      name: @if(!task.isEmpty) {'@task'} else {$("input[name='name']").val()},
      source: $("select[name='source']").val(),
      sourcerestriction: $("input[name='sourcerestriction']").val(),
      target: $("select[name='target']").val(),
      targetrestriction: $("input[name='targetrestriction']").val(),
      linktype: $("input[name='linktype']").val()
    };

    if(values.name.length === 0) {
      alert("Task name is empty.");
      return;
    }

    $.ajax({
      type: 'PUT',
      url: '@config.baseUrl/api/workspace/@project/linking/' + values.name,
      data: values,
      success: function(data) {
        closeDialog();
        updateWorkspace();
      },
      error: function(request) {
        alert(request.responseText);
      }
    });
  }
</script>