@(project: de.fuberlin.wiwiss.silk.workspace.Project,
  linkingTask: de.fuberlin.wiwiss.silk.workspace.modules.linking.LinkingTask,
  sourceTask: de.fuberlin.wiwiss.silk.workspace.modules.source.SourceTask)

   @* TODO shorten URIs with prefixes *@
  <div id="typelist">
    @for((uri, frequency) <- sourceTask.cache.value) {
      <div class="type">@if(uri.size < 40) {@uri} else {...@uri.takeRight(37)}</div>
    }
  </div>

  <style type="text/css">
    #typelist {
      width: 500px;
      height: 300px;
      border: 1px solid black;
      overflow-y: scroll;
    }

    .type {
      float: left;
      height: 20px;
      margin: 10px;
      padding: 5px;
      background-color: #eeeeee;
      border-width: 1px;
      border-style: solid;
      border-color: #a0a0a0;
    }

    .type:hover {
      background-color: #d0d0d0;
      cursor: pointer;
    }
  </style>