@(project: String, source: String)

@import de.fuberlin.wiwiss.silk.datasource.DataSource
@import de.fuberlin.wiwiss.silk.workspace.User

@widgets.pluginDialog(name = source,
                      plugins = DataSource.availablePlugins,
                      currentObj = User().workspace.project(project).sourceModule.tasks.find(_.name == source).map(_.source.dataSource),
                      resources = User().workspace.project(project).resourceManager.list) {

  <script>//<![CDATA[
    function submit(pluginId, name, parameters) {
      // Build data source xml
      var xml = '<DataSource id=\'' + name + '\' type=\'' + pluginId + '\'>';
      for(var i in parameters) {
        xml += '<Param name=\'' + parameters[i].name + '\' value=\'' + parameters[i].value + '\' />';
      }
      xml += '</DataSource>';

      // Delete the old source in case its name changed
      if(name != '@source') {
        deleteTask('@config.baseUrl/api/workspace/@project/source/@source');
      }

      // Submit data source
      putTask('@config.baseUrl/api/workspace/@project/source/' + name, xml);
    }
  //]]>
  </script>
}