@(workspace: de.fuberlin.wiwiss.silk.workspace.Workspace)

@import de.fuberlin.wiwiss.silk.workspace.modules.ModuleTask
@import de.fuberlin.wiwiss.silk.workspace.Project
@import plugins.WorkbenchPlugins

<script type="application/javascript" >
  $(function () { $('#workspace_tree').jstree(); });
</script>

<div id="workspace_tree">
<ul  class="filetree">
  @for(p <- workspace.projects) {
    @project(p)
  }
</ul>
</div>

@project(project: Project) = {
  <li>
    @project.name
    @button("Prefixes", "wrench.png")
    @button("Prefixes2", "wrench.png")
    <ul>
      @for(plugin <- WorkbenchPlugins.all;
           taskActions <- plugin.tasks;
           t <- taskActions.projectTasks(project)) {
        @task(t)
      }
    </ul>
  </li>
}

@task(task: ModuleTask) = {
   <li>
     @task.name
   </li>
}

@button(title: String, icon: String) = {
  <div class="workspace_button" title="@title">
    <img width="16" height="16" src="@routes.Assets.at("workspace/img/" + icon)"/>
    <span>@title</span>
  </div>
}