@()

@header = {
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/treeview/jquery.treeview.css")" type="text/css" />
  <link rel="stylesheet" href="@routes.Assets.at("libs/jstree/style.min.css")" type="text/css" />
  <link rel="stylesheet" href="@routes.Assets.at("workspace/css/workspace.css")" type="text/css" />
  <script src="@routes.Assets.at("js/jquery.treeview.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("libs/jstree/jstree.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("workspace/js/workspace.js")" type="text/javascript"></script>
}

@toolbar = {
  <ul>
    <li>
      <button onclick="newProject()" >New Project</button>
      <button onclick="importProject()" >Import Project</button>
    </li>
  </ul>
}

@content = {
  <div id="workspace_tree" >
    <img src="@routes.Assets.at("img/pending.gif")">
  </div>
}

@main(None, "workspace")(header)(toolbar)(content)