// own vars
$ecc-size-tablecell-height-regular: mini-units(5);
$ecc-size-tablecell-padding-regular: ($ecc-size-tablecell-height-regular - carbon--rem($ecc-size-typo-text)) / 2;
$ecc-size-tablecell-height-compact: mini-units(4);
$ecc-size-tablecell-padding-compact: ($ecc-size-tablecell-height-compact - carbon--rem($ecc-size-typo-text)) / 2;
$ecc-size-tablecell-height-tall: mini-units(6);
$ecc-size-tablecell-padding-tall: ($ecc-size-tablecell-height-tall - carbon--rem($ecc-size-typo-text)) / 2;

// lib vars
/* already defined */
// import libs
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-action';
@import "~carbon-components/scss/components/data-table/data-table-core";
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-expandable';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-sort';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-inline-edit';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-skeleton';

// changes
.#{$prefix}--data-table thead {
    background-color: transparent;
}

.#{$prefix}--data-table th {
    background-color: rgba($ui-03, alpha($ui-03) * $ecc-opacity-muted);
}

.#{$prefix}--data-table thead tr,
.#{$prefix}--data-table tbody tr,
.#{$prefix}--data-table tbody tr th {
    height: $ecc-size-tablecell-height-regular;
}

.#{$prefix}--data-table .#{$prefix}--table-header-label {
    padding: $ecc-size-tablecell-padding-regular 0;
}

.#{$prefix}--data-table td,
.#{$prefix}--data-table tbody th {
    padding-top: $ecc-size-tablecell-padding-regular * 1.05;
    padding-bottom: $ecc-size-tablecell-padding-regular * 0.95;

    & + td:first-of-type {
        padding-left: $spacing-05;
    }
}

// Compact

.#{$prefix}--data-table--compact thead tr,
.#{$prefix}--data-table--compact tbody tr,
.#{$prefix}--data-table--compact tbody tr th {
    height: $ecc-size-tablecell-height-compact;
}

.#{$prefix}--data-table--compact .#{$prefix}--table-header-label {
    padding: $ecc-size-tablecell-padding-compact 0;
}

.#{$prefix}--data-table--compact td,
.#{$prefix}--data-table--compact tbody tr th {
    padding-top: $ecc-size-tablecell-padding-compact * 1.05;
    padding-bottom: $ecc-size-tablecell-padding-compact * 0.95;
}

// Tall

.#{$prefix}--data-table--tall thead tr,
.#{$prefix}--data-table--tall tbody tr,
.#{$prefix}--data-table--tall tbody tr th {
    height: $ecc-size-tablecell-height-compact;
}

.#{$prefix}--data-table--tall .#{$prefix}--table-header-label {
    padding: $ecc-size-tablecell-padding-tall 0;
}

.#{$prefix}--data-table--tall td,
.#{$prefix}--data-table--tall tbody tr th {
    padding-top: $ecc-size-tablecell-padding-tall * 1.05;
    padding-bottom: $ecc-size-tablecell-padding-tall * 0.95;
}

// Sticky header

.#{$prefix}--data-table--sticky-header {
    thead tr th {
        // border-bottom-color: $active-ui;
    }

    tr {
        min-height: $ecc-size-tablecell-height-regular;
    }
}
