html {
  height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, "lucida console", sans-serif;
	font-size: 13px;
	background-color: #ffffff;
	color: #000000;
  height: 100%;
}

th
{
	text-align: left;
}

a
{
	text-decoration: none;
 	color: #0000a0;
    margin: 0px;
}

table
{
	border-collapse: collapse;
}

td
{
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
}

pre
{
	font-family: "Courier New", Courier, monospace;
}

button
{
  margin-top: 0;
}

/* Toolbar
----------------------------------*/

#toolbar
{
  height: 40px;
  background: url('img/toolbar.png') repeat-x;
  padding-left: 10px;
  position: relative;
  border-bottom: solid 1px #d7d6d6;
  /* width: 100%; */
  clear: both;
}

#toolbar ul
{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#toolbar li
{
  margin-top: 3px;
  padding-right: 4px;
  list-style-type: none;
  float: left;
}

/* Activity Control
----------------------------------*/

.activity-control {
  background: rgba(0, 0, 0, 0.10);
  margin-top: -2px;
  height: 32px;
  padding: 2px;
  border-radius: 4px;
}

.activity-progress {
  float: left;
  width: 300px;
  height: 30px !important;
  margin-top: 0;
  position: relative;
}

.activity-button {
  margin-left: 4px;
  float: left;
}

.activity-progress-text {
  top: 6px;
  line-height: 15px;
  font-size: 12px;
  margin-left: 10px;
  position: absolute;
}

.activity-progress-help {
  top: 6px;
  left: 280px;
  position: absolute;
}

.activity-progress .ui-progressbar-value {
  background-image: url(img/progressbar.gif);
}

/* About dialog
----------------------------------*/

#about_dialog p {
  margin-top: 10px;
}

#about_dialog p a {
  text-decoration: underline;
}

a {
  cursor: pointer;
}


button.action {
  padding: 1px !important;
}
div.actions .ui-button-text {
  margin-left: 4px !important;
}

.ui-button-icon-primary {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-left: 3px;
}

main {
  background: #f7f7f7;
}

#content {
  float: left;
  min-width: 300px;
  width: calc(100% - 20px);
  margin: 10px 10px;
  padding: 0;
}

#help {
  float: right;
  width: 150px;
  background: white;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #DBDBDB;
}

#show-help {
  display: none;
  float:right;
  padding: 5px;
}

div#newproject {
    margin-top: 0px;
}

.wrapper-header {
    font-size: 15px;
    font-weight:bold;
    border: 1px solid #DBDBDB;
    border-bottom: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #e8e8ff;
}

.wrapper {
    border: 1px solid #DBDBDB;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}


/* Alerts (inspired by Boostrap) */

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


/* comet_div (auto_reload) */

#comet_div {
  display: none;
}

.logout-button {
  float:right; !important
}

/* server error page */

.error-details {
  padding: 16px;
  border-top: 1px solid rgba(0,0,0,.1);
}

.error-details-scrollbox {
  overflow: scroll;
}

.error-details-buttons {
  margin-top: 16px;
}

.error-details-stacktrace {
  font-family: monospace;
}

/* Dialogs */

.dialog__error-msg {
  width: 700px;
  margin-left: 24px;
  margin-top: 24px;
  display: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}


#tab-bar .di_tab_task_title {
    /* Workaround 2: title is on the left, problem with overlapping is minimized */
    position: absolute;
    /*width: calc(25% - 48px);*/
    display: inline-block;
    margin: 0px 0px 0px 14px;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.02em;
}

.mdl-tabs__tab {
    /* Workaround 2 Addon A: overlapping still happens but tab items have bg color and so they are readable */
    background-color: #fff;
}

#safe-mode-switch {
    position: absolute;
    right: 0;
    margin: 12px 36px 0px 0px;
}

#safe-mode-switch .mdl-switch.is-checked .mdl-switch__thumb {
    background: #4caf50;
}

#safe-mode-switch .mdl-switch.is-checked .mdl-switch__track {
    background: rgba(76, 185, 80, 0.39);
}

.mdl-tabs__tab-bar.safe-mode-disabled {
    border-top: 4px solid red;
}