/*
* Linking Rule Editor Toolbar
*/

#toolbar {
  margin-top: 2px;
  background: none;
}

#toolbar li {
  margin-right: 5px;
}


#toolbar .mdl-button {
  font-size: 12px;
  height: 31px;
  line-height: 33px;
}

#toolbar .spacer {
  width: 10px;
}

#select_link_limit {
  width: 90px;
}

#input_link_type {
  width: 150px;
}

#toolbar .mdl-textfield {
  padding: 0px;
}

#toolbar .mdl-textfield__input {
  font-size: 14px;
  height: 17px;
}

#toolbar .mdl-selectfield {
  padding: 0px;
}

#toolbar .mdl-selectfield__select {
  font-size: 14px;
}

#toolbar label {
  font-size: 12px;
  color: blue;
}

/*
* Linking Rule Editor Canvas
*/

#droppable h5 {
  margin: 0px;
}

/*
* Operators / Linking Rule Editor Component List
*/

#refresh {
  background: none;
}

#operators .boxheaders {
  margin: 10px 0px 5px 0px;
}

#operators .mdl-selectfield {
  padding: 0px;
  margin-left: 5px;
  width: auto;
  color: #000000;
  font-size: 14px;
}


/*
* Reference Links Toolbar
*/

#selectLinks {
  margin-top: 5px;
}