@(id: String,
  required: Boolean, weight: Int, threshold: Double,
  plugin: de.fuberlin.wiwiss.silk.runtime.plugin.PluginDescription[_],
  parameters: Map[String, String],
  x: Int, y: Int, display: Boolean)

@operatorBox("Compare", id, plugin, parameters, x, y, display) {
    required:
    <input type="checkbox" name="required" value="@required"/>
    <br/>
    threshold:
    <input type="text" name="threshold" size="2" value="@threshold"/>
    <br/>
    weight:
    <input type="text" name="weight" size="2" value="@weight"/>
    <br/>
}