#results .individual {
  clear: both;
}

.individual-header {
  border-top: 1px solid #DBDBDB;
  height: 26px;
  line-height: 18px;
}

.individual-header div {
  float: left;
}

.individual-desc {
  border-right: 1px solid #DBDBDB;
  padding: 4px 0;
  width: 420px;
  white-space: nowrap;
  overflow: hidden;
}

.individual-details {
  display: none;
  background: none repeat scroll 0 0 #f2f2f4;
  border-top: 2px solid #d4d4d5;
  border-bottom: 2px solid #d4d4d5;
  font-size: 12px;
}

.individual-score, .individual-mcc, .individual-f1
{
  margin-left: 10px;
  border-right: 1px solid #DBDBDB;
  width: 90px;
  height: 22px;
  padding-top: 4px;
}

.individual-buttons {
  width: 50px;
  margin-left: 10px;
  margin-top: 4px;
}

.confidencebar {
  width: 75px;
  height: 15px;
  margin-right: 20px;
  float: left;
}

.confidence {
  position: absolute;
  font-size: 11px;
  margin-left: 17px;
  line-height: 14px;
}

.confidence-red {
  background: #f14e4e;
}

.confidence-green {
  background: #87dd87;
}

.grey {
  background: #F8F8F8;
}

.individual-over {
  background: #f0f0df !important;
}

.heading {
  padding-left: 19px;
}

.heading div {
  font-weight: bold;
  line-height: 18px;
}

.plus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('../jquery-ui/css/treeview/images/plus.gif');
}

.minus {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  margin-top: 3px;
  background-image: url('../jquery-ui/css/treeview/images/minus.gif');
}

#tree-header, #tree-footer {
  width: 1125px;
}

#tree-header div {
  float: left;
}

#tree-header .left {
  width: 200px;
}

#tree-header .middle {
  width: 724px;
}

#tree-header .right {
  width: 200px;
}

#tree-header .toggle-all {
  border: 1px solid #cdcccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.4em;
  margin-right: 6px;
}

.ui-icon {
  margin-right: 3px;
  margin-top: 4px;
}

.aggregation, .comparison  {
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}

.lastCollapsable-hitarea {
  background-position: 60% 41% !important;
}

.treeview li {
  padding: 1px 0px 1px 16px !important;
}

.treeview ul {
  background: none !important;
}

.treeview {
  padding: 1px 2px 16px 4px !important;
}

.treeview li.lastCollapsable {
  background-position: 0 -113px !important;
}

#results .ui-corner-all {
  border-radius: 0;
}

#results .ui-corner-left {
  border-radius: 0;
}