.main {
  margin-top: 10px;
  padding: 5px 15px;

  .left-content {
    float: left;
    min-width: 200px;
  }
  .mid-content {
    float: left;
    margin-left: 10px;
    min-width: 400px;
  }
  .right-content {
    float: left;
    margin-left: 10px;
    min-width: 400px;
  }
}
