$ecc-size-typo-formitem: $ecc-size-typo-caption !default;
$ecc-size-typo-formitem-lineheight: $ecc-size-typo-caption-lineheight !default;
$ecc-color-formitem-text: rgba($ecc-color-workspace-text, $ecc-opacity-narrow);

@import "~@blueprintjs/core/src/components/forms/common";

@import "~@blueprintjs/core/src/components/forms/control-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/controls"; // Checkbox, Radio, Switch
@import "~@blueprintjs/core/src/components/forms/file-input";
@import "~@blueprintjs/core/src/components/forms/form-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/input-group"; // TextField
// already used in own component @import "~@blueprintjs/core/src/components/forms/input"; // TextField
@import "~@blueprintjs/core/src/components/forms/label";
@import "~@blueprintjs/core/src/components/forms/numeric-input";

form {
    display: block;
}

.ecc-fielditem,
.ecc-fieldset {
    display: block;

    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace;
    }
}

.ecc-fielditem__helpertext,
.ecc-fielditem__message,
.ecc-fieldset__helpertext,
.ecc-fieldset__message {
    display: block;
    font-size: $ecc-size-typo-formitem;
    line-height: $ecc-size-typo-formitem-lineheight;
    color: $ecc-color-formitem-text;

    .ecc-fielditem--disabled > & {
        color: rgba($ecc-color-formitem-text, 1) !important;
        opacity: $ecc-opacity-disabled !important;
    }
}

.ecc-fielditem__inputfields {
    &:not(:first-child) {
        margin-top: $ecc-size-block-whitespace / 4;
    }
    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace / 4;
    }
}

.ecc-fielditem__message {
    &.ecc-intent--primary {
        color: $ecc-color-accent;
    }
    &.ecc-intent--success {
        color: $ecc-color-success-text;
    }
    &.ecc-intent--warning {
        color: $ecc-color-warning-text;
    }
    &.ecc-intent--danger {
        color: $ecc-color-danger-text;
    }
}

.ecc-fieldset {
    legend {
        width: 100%;
        color: $ecc-color-applicationheader-text;
        display: block;
        float: left;
    }

    &.ecc-fieldset--boxed {
        padding: $ecc-size-block-whitespace/2 $ecc-size-block-whitespace $ecc-size-block-whitespace
            $ecc-size-block-whitespace;
        background-color: $data-table-zebra-color;

        legend {
            float: left;
        }
    }

    &.ecc-intent--primary {
        &.ecc-fieldset--boxed {
            background-color: $ecc-color-info-background;
        }
        .ecc-fieldset__message,
        legend {
            color: $ecc-color-info-text;
        }
    }
    &.ecc-intent--success {
        &.ecc-fieldset--boxed {
            background-color: $ecc-color-success-background;
        }
        .ecc-fieldset__message,
        legend {
            color: $ecc-color-success-text;
        }
    }
    &.ecc-intent--warning {
        &.ecc-fieldset--boxed {
            background-color: $ecc-color-warning-background;
        }
        .ecc-fieldset__message,
        legend {
            color: $ecc-color-warning-text;
        }
    }
    &.ecc-intent--danger {
        &.ecc-fieldset--boxed {
            background-color: $ecc-color-danger-background;
        }
        .ecc-fieldset__message,
        legend {
            color: $ecc-color-danger-text;
        }
    }
}

.ecc-fieldset__helpertext,
.ecc-fieldset__message {
    margin-top: $ecc-size-block-whitespace / 4;
}

.ecc-fieldset__fielditems {
    &:not(:first-child) {
        &:before {
            content: " ";
            height: $ecc-size-block-whitespace;
            display: block;
            clear: both;
        }
    }
}

.ecc-fielditem__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 -1 * $ecc-size-block-whitespace/2;

    & > .ecc-fielditem {
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 $ecc-size-block-whitespace/2;
    }

    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace;
    }
}
