$ecc-size-typo-formitem: $ecc-size-typo-caption !default;
$ecc-size-typo-formitem-lineheight: $ecc-size-typo-caption-lineheight !default;
$ecc-color-formitem-text: rgba($ecc-color-workspace-text, $ecc-opacity-narrow);

@import "~@blueprintjs/core/src/components/forms/common";

@import "~@blueprintjs/core/src/components/forms/control-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/controls"; // Checkbox, Radio, Switch
@import "~@blueprintjs/core/src/components/forms/file-input";
@import "~@blueprintjs/core/src/components/forms/form-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/input-group"; // TextField
// already used in own component @import "~@blueprintjs/core/src/components/forms/input"; // TextField
@import "~@blueprintjs/core/src/components/forms/label";
@import "~@blueprintjs/core/src/components/forms/numeric-input";

form {
    display: block;
}

.ecc-fielditem {
    display: block;

    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace;
    }
}

.ecc-fielditem__helpertext,
.ecc-fielditem__message {
    display: block;
    font-size: $ecc-size-typo-formitem;
    line-height: $ecc-size-typo-formitem-lineheight;
    color: $ecc-color-formitem-text;

    .ecc-fielditem--disabled > & {
        color: rgba($ecc-color-formitem-text, 1) !important;
        opacity: $ecc-opacity-disabled !important;
    }
}

.ecc-fielditem__inputfields {
    &:not(:first-child) {
        margin-top: $ecc-size-block-whitespace / 4;
    }
    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace / 4;
    }
}

.ecc-fielditem__message {
    &.ecc-intent--primary {
        color: $ecc-color-accent;
    }
    &.ecc-intent--success {
        color: $ecc-color-success-text;
    }
    &.ecc-intent--warning {
        color: $ecc-color-warning-text;
    }
    &.ecc-intent--danger {
        color: $ecc-color-danger-text;
    }
}

.ecc-fielditem__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 -1 * $ecc-size-block-whitespace/2;

    & > .ecc-fielditem {
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 $ecc-size-block-whitespace/2;
    }

    &:not(:last-child) {
        margin-bottom: $ecc-size-block-whitespace;
    }
}
