
@import org.silkframework.workspace.activity.workflow.Workflow
@import org.silkframework.workbench.Context
@import org.silkframework.runtime.activity.UserContext
@import controllers.core.routes.{Assets => CoreAssets}

@(context: Context[Workflow], report: Option[String])(implicit request: RequestHeader, userContext: UserContext)

@header = {
  <script src="@CoreAssets.at("libs/silk-react-components/main.js")" type="text/javascript"></script>
}

@content = {
  <div id="react-workflowReportManager"></div>

  <script type="text/javascript">
    silkReactComponents.workflowReportManager(
      'react-workflowReportManager',
      {
          baseUrl: '@config.baseUrl',
          project: '@context.project.id',
          task: '@context.task.id',
          report: '@report.getOrElse("")'
      }
    );
  </script>
}

@main(Some(context), titleLabel = context.task.label())(header)(toolbar = null)(content)
