@import plugins.Context
@import org.silkframework.workspace.activity.workflow.WorkflowExecutionReport
@import org.silkframework.rule.execution.TransformReport
@import views.html.executeTransform.transformStatistics
@import views.html.widgets.linkingReport
@import org.silkframework.config.Prefixes
@import org.silkframework.execution.ExecutionReport
@import org.silkframework.workspace.activity.workflow.Workflow
@import org.silkframework.rule.execution.Linking

@(report: WorkflowExecutionReport, prefixes: Prefixes, context: Context[Workflow])(implicit session: play.api.mvc.Session)

@header = {
}

@toolbar = {

}

@content = {
  @renderReports(context.task.data.topologicalSortedNodes.map(_.nodeId).filter(report.taskReports.contains(_)))
}

@renderReports(tasks: Seq[String]) = {
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
    @for(taskId <- tasks) {
      <a href="#tab-@taskId" class="mdl-tabs__tab @if(taskId == tasks.head) {is-active}">@taskId</a>
    }
    </div>

    @for(taskId <- tasks) {
      <div class="mdl-tabs__panel @if(taskId == tasks.head) {is-active}" id="tab-@taskId">
      @renderTaskReport(report.taskReports(taskId))
      </div>
    }

  </div>
}

@renderTaskReport(taskReport: ExecutionReport) = {
  @taskReport match {
    case transformReport: TransformReport => {
      @transformStatistics(transformReport, prefixes)
    }
    case linking: Linking => {
      @linkingReport(linking.statistics, linking.links.size)
    }
    case _ => {
      @renderGenericReport(taskReport)
    }
  }
}

@renderGenericReport(taskReport: ExecutionReport) = {
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      @for((key, value) <- taskReport.summary) {
        <tr>
          <td>@key</td>
          <td>@value</td>
        </tr>
      }
    </tbody>
  </table>
}

@main(Some(context), titleLabel = context.task.taskLabel())(header)(toolbar)(content)
