
@import org.silkframework.workspace.activity.workflow.Workflow
@import org.silkframework.workbench.Context
@import org.silkframework.runtime.activity.UserContext
@import controllers.core.routes.{Assets => CoreAssets}

@import config.WorkbenchConfig.WorkspaceReact
@(context: Context[Workflow], nodeId: String)(implicit request: RequestHeader, userContext: UserContext, workspaceReact: WorkspaceReact)

@header = {
  <style>
    html, body { background-color: #f5f5f5 !important }
  </style>
}

@content = {
  <div id="react-workflowNodeExecutionReport"></div>

  @coreLinks.mainJs()

  <script type="text/javascript">
    window.silkReactComponents.workflowNodeExecutionReport(
      'react-workflowNodeExecutionReport',
      {
          baseUrl: '@config.baseUrl',
          project: '@context.project.id',
          task: '@context.task.id',
          nodeId: '@nodeId'
      }
    );
  </script>
}

@frame(header)(content)
