
@import org.silkframework.workspace.activity.workflow.Workflow
@import org.silkframework.workbench.Context
@import org.silkframework.runtime.activity.UserContext
@import controllers.core.routes.{Assets => CoreAssets}

@(context: Context[Workflow], nodeId: String)(implicit request: RequestHeader, userContext: UserContext)

@header = {
  <script src="@CoreAssets.at("libs/silk-react-components/main.js")" type="text/javascript"></script>
  <style>
    html, body { background-color: #f5f5f5 !important }
  </style>
}

@content = {
  <div id="react-workflowNodeExecutionReport"></div>

  <script type="text/javascript">
    silkReactComponents.workflowNodeExecutionReport(
      'react-workflowNodeExecutionReport',
      {
          baseUrl: '@config.baseUrl',
          project: '@context.project.id',
          task: '@context.task.id',
          nodeId: '@nodeId'
      }
    );
  </script>
}

@frame(header)(content)
