@(streamPath: String, id: String = "")

<script type="text/javascript">
  function updateStatus(status) {
    if(status.failed) {
      $('#' + status.id).attr('title', status.message);
      $("#" + status.id + "-bar").progressbar({
        value: 0
      });
      $("#" + status.id + "-text").html("Failed");

    } else {
      $('#' + status.id).attr('title', status.message);
      $("#" + status.id + "-bar").progressbar({
        value: parseFloat(status.progress)
      });
      $("#" + status.id + "-text").html(status.message);
    }
  }
</script>

<div id="@id">
  <div id="@id-bar"></div>
  <div id="@id-text" class="progresstext"></div>
</div>

<iframe src="@streamPath" style="display:none" frameborder="0" height="0" width="0"></iframe>