.tags-group {
  .tag {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px;
    background-color: #5c7080;
    min-width: 20px;
    max-width: 100%;
    min-height: 20px;
    padding: 2px 6px;
    line-height: 16px;
    color: #f5f8fa;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .tag-label {
    @extend .tag;
  }
}
