.noSuggestions {
  color: #999;
  padding: 0.5rem;
  position: absolute;
  z-index: 10000;
  background: white;
  margin-top: 0;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestionsLi {
  padding: 0.5rem;
}

.suggestionActive,
.suggestionsLi:hover {
  cursor: pointer;
  font-weight: 700;
}

.suggestionsLi:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
