@import org.silkframework.workspace.activity.workflow.Workflow
@import controllers.workflow.routes.Assets
@import controllers.core.routes.{Assets => CoreAssets}
@import views.html.workspace.activity.taskActivityControl
@import models.workflow.WorkflowConfig
@import org.silkframework.workbench.Context
@import org.silkframework.runtime.activity.UserContext

@(context: Context[Workflow])(implicit session: play.api.mvc.Session, userContext: UserContext)

@header = {
  <link type="text/css" href="@Assets.at("editor/editor.css")" rel="stylesheet" />

  <script src="@CoreAssets.at("libs/jsplumb/dist/js/jsplumb.js")" type="text/javascript"></script>
  <script src="@CoreAssets.at("libs/dynep/dynep.js")" type="text/javascript"></script>
  <script src="@Assets.at("editor/editor.js")" type="text/javascript"></script>
  <script src="@Assets.at("editor/serializeWorkflow.js")" type="text/javascript"></script>

  <script type="text/javascript">
    var apiUrl = '@config.baseUrl/workflow/workflows/@context.project.name/@context.task.id';
    var workflowId = '@context.task.id';
    var editor = null;
  </script>
}

@toolbar = {
<ul>
  <li>
    <button class="mdl-button mdl-js-button mdl-button--raised" onclick="commitWorkflow()" >Save</button>
  </li>
  <li>
    <div class="spacer"/>
  </li>
  <li>
    @taskActivityControl(context.task.activity(WorkflowConfig.executorName), showButtons = true)
  </li>
</ul>
}

@content = {
@toolbox(context.project, context.task)

<div id="editorContent" style="position: relative;" class="mdl-shadow--2dp">
</div>
}

@main(Some(context), titleLabel = context.task.taskLabel())(header)(toolbar)(content)