@import org.silkframework.workspace.Project
@import org.silkframework.workspace.activity.workflow.Workflow
@import plugins.WorkbenchPlugin.TaskActions
@import controllers.workflow.routes.Assets
@import org.silkframework.workspace.Task

@(project: Project, task: Task[_], taskActions: TaskActions[_], pos: Option[(Int, Int)] = None)

<div class="operator" style="@if(pos.isEmpty) {display:none;} else {left: @pos.get._1, top: @pos.get._2}" >
  <div class="operatorHeader">
    <div class="operatorHeaderText">
      @taskActions.name
    </div>
    <img align="right" src="@Assets.at("img/delete.png")" style="cursor:pointer;" onclick="removeElement($(this).parent().parent().attr('id'))"/>
  </div>
  <div class="operatorContent">
    @* Could show icon: <img src="@controllers.workspace.routes.Assets.at(taskActions.icon)" />*@
    @task.name
    @for(path <- taskActions.open(project.name, task.name)) {
      <img align="right" src="@Assets.at("img/wrench-screwdriver.png")" style="cursor:pointer;" onclick="window.open('@config.baseUrl/@path', '_blank')" />
    }
  </div>
</div>
