@import org.silkframework.config.TaskSpec
@import org.silkframework.workspace.ProjectTask
@import org.silkframework.workbench.WorkbenchPlugins

@import org.silkframework.workbench.WorkbenchPlugin.TaskActions
@(project: org.silkframework.workspace.Project)

<div id="toolbox" style="height: 67.9px;">
  <div id="operatorToolbox">
    <div id="operatorToolboxHeader">
      Operators
    </div>
    @for(task <- project.allTasks;
         taskActions <- WorkbenchPlugins.forTask(task) if taskActions.taskType.typeName != "Dataset" &&
                                                          taskActions.taskType.typeName != "Workflow") {
      @toolboxOperator(taskActions)
    }
  </div>
  <div id="datasetToolbox">
    <div id="datasetToolboxHeader">
      Datasets
    </div>
      @for(task <- project.allTasks;
           taskActions <- WorkbenchPlugins.forTask(task) if taskActions.taskType.typeName == "Dataset") {
        @toolboxOperator(taskActions)
      }
  </div>
</div>

@**
 * A single operator in the toolbox.
 *@
@toolboxOperator(taskActions: TaskActions) = {
  <div id="toolbox_@taskActions.task.id" class="toolboxOperator" title="@taskActions.task.taskLabel(maxLength = 1024)">
    @*<img src="@icon">*@
    @taskActions.task.taskLabel()
    @if(taskActions.taskType.typeName != "Dataset") {
      @operator(taskActions)
    } else {
      @dataset(taskActions)
    }
  </div>
}